<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.globalsearch.dao.mapper.DocumentMapper">

    <sql id="searchDocumentCondition">
        <where>
            <if test="type != null and type != ''">
                and a.target_type = #{type}
            </if>
            <if test="fullTextIndexWordList != null and fullTextIndexWordList.size() > 0">
                and b.word_id IN
                <foreach collection="fullTextIndexWordList" item="word" open="(" separator="," close=")">
                    #{word.id}
                </foreach>
            </if>
        </where>
    </sql>

    <select id="searchDocument" parameterType="neatlogic.framework.fulltextindex.dto.globalsearch.DocumentVo"
            resultType="neatlogic.framework.fulltextindex.dto.globalsearch.DocumentVo">
        SELECT
        count(b.word_id) AS hitCount,
        a.target_type AS type,
        a.target_id AS targetId
        <if test="needOffset == 1">
            ,
            GROUP_CONCAT(DISTINCT concat(b.target_field,':',c.start,',',c.end)
            ORDER BY c.start ASC
            SEPARATOR
            ';') AS offset
        </if>
        FROM
        `fulltextindex_target_${moduleId}` a
        JOIN `fulltextindex_field_${moduleId}` b ON a.target_id = b.target_id
        <if test="needOffset == 1">
            JOIN `fulltextindex_offset_${moduleId}` c on b.id = c.field_id
        </if>
        <include refid="searchDocumentCondition"/>
        GROUP BY b.target_id
        ORDER BY hitCount desc
        LIMIT #{startNum}, #{pageSize}
    </select>

    <select id="searchDocumentCount" parameterType="neatlogic.framework.fulltextindex.dto.globalsearch.DocumentVo"
            resultType="int">
        select count(distinct a.target_id)
        from
        `fulltextindex_target_${moduleId}` a
        JOIN `fulltextindex_field_${moduleId}` b ON a.target_id = b.target_id
        <include refid="searchDocumentCondition"/>
    </select>

</mapper>
