<?xml version="1.0" encoding="UTF-8" ?>
<!--Copyright (C) $today.year  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.globalsearch.dao.mapper.DocumentMapper">

    <sql id="searchDocumentCondition">
        <where>
            <if test="type != null and type != ''">
                and a.target_type = #{type}
            </if>
            <if test="fullTextIndexWordList != null and fullTextIndexWordList.size() > 0">
                and b.word_id IN
                <foreach collection="fullTextIndexWordList" item="word" open="(" separator="," close=")">
                    #{word.id}
                </foreach>
            </if>
        </where>
    </sql>

    <select id="searchDocument" parameterType="neatlogic.framework.fulltextindex.dto.globalsearch.DocumentVo"
            resultType="neatlogic.framework.fulltextindex.dto.globalsearch.DocumentVo">
        SELECT
        count(b.target_id) AS hitCount,
        a.target_type AS type,
        a.target_id AS targetId,
        GROUP_CONCAT(DISTINCT concat(b.target_field,':',c.start,',',c.end)
        ORDER BY c.start ASC
        SEPARATOR
        ';') AS offset
        FROM
        `fulltextindex_target_${moduleId}` a
        JOIN `fulltextindex_field_${moduleId}` b ON a.target_id = b.target_id
        JOIN `fulltextindex_offset_${moduleId}` c on b.id = c.field_id
        <include refid="searchDocumentCondition"/>
        GROUP BY b.target_id
        ORDER BY hitCount desc, b.target_id desc
        LIMIT #{startNum}, #{pageSize}
    </select>

    <select id="searchDocumentCount" parameterType="neatlogic.framework.fulltextindex.dto.globalsearch.DocumentVo"
            resultType="int">
        select count(distinct a.target_id)
        from
        `fulltextindex_target_${moduleId}` a
        JOIN `fulltextindex_field_${moduleId}` b ON a.target_id = b.target_id
        <include refid="searchDocumentCondition"/>
    </select>

</mapper>
