<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2021 TechSure Co., Ltd. All Rights Reserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.globalsearch.dao.mapper.WordMapper">
    <select id="searchWord" resultType="neatlogic.framework.fulltextindex.dto.fulltextindex.FullTextIndexWordVo">
        SELECT
        `id`,
        `word`,
        `type`
        FROM
        `fulltextindex_word`
        WHERE
        word IN
        <foreach collection="wordList" item="word" open="(" separator="," close=")">
            #{word}
        </foreach>
        ORDER BY FIELD(word,
        <foreach collection="wordList" item="word" separator=",">
            #{word}
        </foreach>
        )
    </select>
</mapper>
