<?xml version="1.0" encoding="UTF-8" ?>
<!--Copyright (C) $today.year  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.framework.dao.mapper.doumentonline.DocumentOnlineMapper">

    <!--<select id="getDocumentOnlineConfigListByFilePathList" parameterType="java.util.List" resultType="neatlogic.framework.documentonline.dto.DocumentOnlineConfigVo">
        SELECT
            `file_path` AS filePath,
            `module_group` AS moduleGroup,
            `menu`,
            `anchor_point` AS anchorPoint
        FROM `documentonline_config`
        WHERE `file_path` IN
        <foreach collection="list" item="filePath" open="(" separator="," close=")">
            #{filePath}
        </foreach>
    </select>-->

    <select id="getAllDocumentOnlineConfigList" resultType="neatlogic.framework.documentonline.dto.DocumentOnlineConfigVo">
        SELECT
            `file_path` AS filePath,
            `module_group` AS moduleGroup,
            `menu`,
            `anchor_point` AS anchorPoint
        FROM `documentonline_config`
    </select>

    <insert id="insertDocumentOnlineConfig" parameterType="neatlogic.framework.documentonline.dto.DocumentOnlineConfigVo">
        INSERT INTO `documentonline_config` (
            `file_path`,
            `module_group`,
            `menu`,
            `anchor_point`
        )
        VALUES
            (
                #{filePath},
                #{moduleGroup},
                #{menu},
                #{anchorPoint}
            )
        ON DUPLICATE KEY UPDATE `anchor_point` = #{anchorPoint}
    </insert>

    <delete id="deleteDocumentOnlineConfig" parameterType="neatlogic.framework.documentonline.dto.DocumentOnlineConfigVo">
        DELETE FROM `documentonline_config`
        WHERE `file_path` = #{filePath}
          AND `module_group` = #{moduleGroup}
          AND `menu` = #{menu}
    </delete>
</mapper>
