<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.module.framework.dao.mapper.doumentonline.DocumentOnlineMapper">

    <!--<select id="getDocumentOnlineConfigListByFilePathList" parameterType="java.util.List" resultType="neatlogic.framework.documentonline.dto.DocumentOnlineConfigVo">
        SELECT
            `file_path` AS filePath,
            `module_group` AS moduleGroup,
            `menu`,
            `anchor_point` AS anchorPoint
        FROM `documentonline_config`
        WHERE `file_path` IN
        <foreach collection="list" item="filePath" open="(" separator="," close=")">
            #{filePath}
        </foreach>
    </select>-->

    <select id="getAllDocumentOnlineConfigList" resultType="neatlogic.framework.documentonline.dto.DocumentOnlineConfigVo">
        SELECT
            `file_path` AS filePath,
            `module_group` AS moduleGroup,
            `menu`,
            `anchor_point` AS anchorPoint
        FROM `documentonline_config`
    </select>

    <insert id="insertDocumentOnlineConfig" parameterType="neatlogic.framework.documentonline.dto.DocumentOnlineConfigVo">
        INSERT INTO `documentonline_config` (
            `file_path`,
            `module_group`,
            `menu`,
            `anchor_point`
        )
        VALUES
            (
                #{filePath},
                #{moduleGroup},
                #{menu},
                #{anchorPoint}
            )
        ON DUPLICATE KEY UPDATE `anchor_point` = #{anchorPoint}
    </insert>

    <delete id="deleteDocumentOnlineConfig" parameterType="neatlogic.framework.documentonline.dto.DocumentOnlineConfigVo">
        DELETE FROM `documentonline_config`
        WHERE `file_path` = #{filePath}
          AND `module_group` = #{moduleGroup}
          AND `menu` = #{menu}
    </delete>
</mapper>
