<?xml version="1.0" encoding="UTF-8" ?>
<!--
  Copyright(c) 2023 NeatLogic Co., Ltd. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.mq.dao.mapper.MqTopicMapper">

    <select id="getTopicByName" parameterType="java.lang.String" resultType="neatlogic.framework.mq.dto.TopicVo">
        SELECT name, is_active as isActive, config as configStr
        FROM mq_topic
        WHERE name = #{value}
    </select>


    <select id="getTopicList" resultType="neatlogic.framework.mq.dto.TopicVo">
        SELECT name, is_active AS isActive, config AS configStr
        FROM mq_topic
    </select>

    <update id="saveTopicConfig" parameterType="neatlogic.framework.mq.dto.TopicVo">
        INSERT INTO mq_topic (name, config, is_active)
        VALUES (#{name}, #{configStr}, 1)
        ON DUPLICATE KEY UPDATE config = #{configStr}
    </update>

    <insert id="saveTopicIsActive" parameterType="neatlogic.framework.mq.dto.TopicVo">
        INSERT INTO mq_topic (name, is_active)
        VALUES (#{name}, #{isActive})
        ON DUPLICATE KEY UPDATE is_active = #{isActive}
    </insert>

    <delete id="deleteInActiveTopic" parameterType="java.lang.String">
        DELETE
        FROM mq_topic
        WHERE name = #{value}
    </delete>

</mapper>

