<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.mq.dao.mapper.MqTopicMapper">
    <cache type="neatlogic.framework.dao.cache.NeatLogicCache">
        <!-- 二选一：TTI 或 TTL（都配的话以 TTL 为准，见下方实现） -->
        <property name="timeToLiveSeconds" value="30"/>
        <!-- <property name="timeToLiveSeconds" value="300"/> -->
        <!-- Ehcache 堆内条目数 -->
        <property name="heapEntries" value="100"/>
    </cache>

    <select id="getTopicByName" parameterType="java.lang.String" resultType="neatlogic.framework.mq.dto.TopicVo"
            useCache="true">
        SELECT name,
               label,
               is_active as isActive,
               config    as configStr,
               handler
        FROM mq_topic
        WHERE name = #{value}
    </select>


    <select id="searchTopic" parameterType="neatlogic.framework.mq.dto.TopicVo"
            resultType="neatlogic.framework.mq.dto.TopicVo" useCache="true">
        SELECT
        name,
        label,
        is_active AS isActive,
        config AS configStr,
        handler
        FROM mq_topic
        <where>
            <if test="handler != null and handler != ''">
                handler = #{handler}
            </if>
        </where>
    </select>

    <update id="saveTopicConfig" parameterType="neatlogic.framework.mq.dto.TopicVo">
        INSERT INTO mq_topic (name, label, config, is_active, handler)
        VALUES (#{name}, #{label}, #{configStr, typeHandler=CompressHandler}, 1, #{handler})
        ON DUPLICATE KEY UPDATE config = #{configStr, typeHandler=CompressHandler}
    </update>

    <insert id="saveTopic" parameterType="neatlogic.framework.mq.dto.TopicVo">
        INSERT INTO mq_topic (name, label, is_active, handler)
        VALUES (#{name}, #{label}, #{isActive}, #{handler})
        ON DUPLICATE KEY UPDATE label     = #{label},
                                is_active = #{isActive},
                                handler   = #{handler}
    </insert>

    <insert id="saveTopicIsActive" parameterType="neatlogic.framework.mq.dto.TopicVo">
        INSERT INTO mq_topic (name, label, is_active, handler)
        VALUES (#{name}, #{label}, #{isActive}, #{handler})
        ON DUPLICATE KEY UPDATE is_active = #{isActive}
    </insert>

    <delete id="deleteTopicByName" parameterType="java.lang.String">
        DELETE
        FROM mq_topic
        WHERE name = #{value}
    </delete>

</mapper>
