<?xml version="1.0" encoding="UTF-8" ?>
<!--Copyright (C) $today.year  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.mq.dao.mapper.MqTopicMapper">

    <select id="getTopicByName" parameterType="java.lang.String" resultType="neatlogic.framework.mq.dto.TopicVo">
        SELECT name, is_active as isActive, config as configStr
        FROM mq_topic
        WHERE name = #{value}
    </select>


    <select id="getTopicList" resultType="neatlogic.framework.mq.dto.TopicVo">
        SELECT name, is_active AS isActive, config AS configStr
        FROM mq_topic
    </select>

    <update id="saveTopicConfig" parameterType="neatlogic.framework.mq.dto.TopicVo">
        INSERT INTO mq_topic (name, config, is_active)
        VALUES (#{name}, #{configStr}, 1)
        ON DUPLICATE KEY UPDATE config = #{configStr}
    </update>

    <insert id="saveTopicIsActive" parameterType="neatlogic.framework.mq.dto.TopicVo">
        INSERT INTO mq_topic (name, is_active)
        VALUES (#{name}, #{isActive})
        ON DUPLICATE KEY UPDATE is_active = #{isActive}
    </insert>

    <delete id="deleteInActiveTopic" parameterType="java.lang.String">
        DELETE
        FROM mq_topic
        WHERE name = #{value}
    </delete>

</mapper>

