<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.dao.mapper.ConfigMapper">
    <!-- flushInterval、size、readOnly、blocking属性对ehcache不起作用 -->
    <cache type="neatlogic.framework.dao.cache.NeatLogicConcurrentSafeCache">
        <!-- 二选一：TTI 或 TTL（都配的话以 TTL 为准，见下方实现） -->
        <!-- 缓存项在未被访问时的最长存活时间, 基于访问时间的过期 -->
        <!-- <property name="timeToIdleSeconds" value="300"/> -->
        <!-- 缓存项从创建到过期的总时间, 基于创建时间的过期 -->
        <property name="timeToLiveSeconds" value="300"/>
        <!-- Ehcache 堆内条目数 -->
        <property name="heapEntries" value="1000"/>
    </cache>

    <select id="getConfigByKey" parameterType="java.lang.String" resultType="neatlogic.framework.dto.ConfigVo"
            useCache="true">
        SELECT `key`, `value`, `description`
        FROM `config`
        WHERE `key` = #{value}
    </select>

    <select id="getConfigListByKeyList" parameterType="java.util.List" resultType="neatlogic.framework.dto.ConfigVo"
            useCache="true">
        SELECT `key`, `value`, `description`
        FROM `config`
        WHERE `key` IN
        <foreach collection="list" item="key" open="(" separator="," close=")">
            #{key}
        </foreach>
    </select>

    <insert id="insertConfig" parameterType="neatlogic.framework.dto.ConfigVo">
        INSERT INTO `config` (`key`, `value`, `description`)
        VALUES (#{key}, #{value}, #{description})
        ON DUPLICATE KEY UPDATE
        `value` = #{value}
    </insert>

    <delete id="deleteConfigByKey" parameterType="java.lang.String">
        DELETE FROM `config`
        WHERE `key` = #{value}
    </delete>

</mapper>
