<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright(c) 2023 NeatLogic Co., Ltd. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.dao.mapper.DatasourceMapper">

    <select id="getAllActiveTenantDatasource" resultType="neatlogic.framework.dto.DatasourceVo">
        SELECT
               a.`tenant_uuid` AS `tenantUuid`,
               `url`,
               `username`,
               `password`      AS passwordCipher,
               `driver`,
               `host`,
               `port`
        FROM `datasource` a
                 JOIN `tenant` b
                      ON a.tenant_uuid = b.uuid
                          AND b.is_active = 1
    </select>

    <select id="getAllTenantDatasource" resultType="neatlogic.framework.dto.DatasourceVo">
        SELECT
               `tenant_uuid` AS `tenantUuid`,
               `url`,
               `username`,
               `password`    AS passwordCipher,
               `driver`,
               `host`,
               `port`
        FROM `datasource`
    </select>
    <select id="getDatasourceByTenantUuid" resultType="neatlogic.framework.dto.DatasourceVo">
        SELECT
               `tenant_uuid` AS `tenantUuid`,
               `url`,
               `username`,
               `password`    AS passwordCipher,
               `driver`,
               `host`,
               `port`
        FROM `datasource`
        where `tenant_uuid` = #{value}
    </select>

    <select id="getUserGrants" resultType="java.lang.String">
        SELECT USER FROM mysql.user WHERE USER = '${value}';
    </select>

    <update id="updateDatabaseUserPwd">
        ALTER USER '${tenantUuid}'@'%' IDENTIFIED BY '${password}';
    </update>

    <insert id="insertDatasource" parameterType="neatlogic.framework.dto.DatasourceVo">
        INSERT INTO `datasource` (
                                  `tenant_uuid`,
                                  `url`,
                                  `username`,
                                  `password`,
                                  `driver`,
                                  `host`,
                                  `port`)
        VALUES (
                #{tenantUuid},
                #{url},
                #{username},
                #{passwordCipher},
                #{driver},
                #{host},
                #{port})
        ON DUPLICATE KEY
            UPDATE `password` = #{passwordCipher},
                   `username` = #{username},
                   `host`     = #{host},
                   `port`     = #{port}
    </insert>

    <insert id="createDatabaseUser" parameterType="neatlogic.framework.dto.DatasourceVo">
        CREATE USER '${tenantUuid}'@'%' IDENTIFIED BY '${passwordPlain}';
    </insert>

    <insert id="createDatasource" parameterType="neatlogic.framework.dto.DatasourceVo">
        CREATE DATABASE IF NOT EXISTS `neatlogic_${tenantUuid}` character set utf8mb4 COLLATE utf8mb4_general_ci;
        GRANT ALL PRIVILEGES ON `neatlogic_${tenantUuid}`.* to '${tenantUuid}'@'%';
        CREATE DATABASE IF NOT EXISTS `neatlogic_${tenantUuid}_data` character set utf8mb4 COLLATE utf8mb4_general_ci;
        GRANT ALL PRIVILEGES ON `neatlogic_${tenantUuid}_data`.* to '${tenantUuid}'@'%';
    </insert>
</mapper>