<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright (C) $today.year  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.dao.mapper.DatasourceMapper">

    <select id="getAllActiveTenantDatasource" resultType="neatlogic.framework.dto.DatasourceVo">
        SELECT
               a.`tenant_uuid` AS `tenantUuid`,
               `url`,
               `username`,
               `password`      AS passwordCipher,
               `driver`,
               `host`,
               `port`
        FROM `datasource` a
                 JOIN `tenant` b
                      ON a.tenant_uuid = b.uuid
                          AND b.is_active = 1
    </select>

    <select id="getAllTenantDatasource" resultType="neatlogic.framework.dto.DatasourceVo">
        SELECT
               `tenant_uuid` AS `tenantUuid`,
               `url`,
               `username`,
               `password`    AS passwordCipher,
               `driver`,
               `host`,
               `port`
        FROM `datasource`
    </select>
    <select id="getDatasourceByTenantUuid" resultType="neatlogic.framework.dto.DatasourceVo">
        SELECT
               `tenant_uuid` AS `tenantUuid`,
               `url`,
               `username`,
               `password`    AS passwordCipher,
               `driver`,
               `host`,
               `port`
        FROM `datasource`
        where `tenant_uuid` = #{value}
    </select>

    <select id="getUserGrants" resultType="java.lang.String">
        SELECT USER FROM mysql.user WHERE USER = '${value}';
    </select>

    <update id="updateDatabaseUserPwd">
        ALTER USER '${tenantUuid}'@'%' IDENTIFIED BY '${password}';
    </update>

    <insert id="insertDatasource" parameterType="neatlogic.framework.dto.DatasourceVo">
        INSERT INTO `datasource` (
                                  `tenant_uuid`,
                                  `url`,
                                  `username`,
                                  `password`,
                                  `driver`,
                                  `host`,
                                  `port`)
        VALUES (
                #{tenantUuid},
                #{url},
                #{username},
                #{passwordCipher},
                #{driver},
                #{host},
                #{port})
        ON DUPLICATE KEY
            UPDATE `password` = #{passwordCipher},
                   `username` = #{username},
                   `host`     = #{host},
                   `port`     = #{port}
    </insert>

    <insert id="createDatabaseUser" parameterType="neatlogic.framework.dto.DatasourceVo">
        CREATE USER '${tenantUuid}'@'%' IDENTIFIED BY '${passwordPlain}';
    </insert>

    <insert id="createDatasource" parameterType="neatlogic.framework.dto.DatasourceVo">
        CREATE DATABASE IF NOT EXISTS `neatlogic_${tenantUuid}` character set utf8mb4 COLLATE utf8mb4_general_ci;
        GRANT ALL PRIVILEGES ON `neatlogic_${tenantUuid}`.* to '${tenantUuid}'@'%';
        CREATE DATABASE IF NOT EXISTS `neatlogic_${tenantUuid}_data` character set utf8mb4 COLLATE utf8mb4_general_ci;
        GRANT ALL PRIVILEGES ON `neatlogic_${tenantUuid}_data`.* to '${tenantUuid}'@'%';
    </insert>
</mapper>