<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.dao.mapper.ElasticsearchMapper">
    <insert id="insertTenantElasticsearch" parameterType="neatlogic.framework.dto.ElasticsearchVo">
        insert into elasticsearch (`tenant_uuid`, `username`, `password`, `host`, `option`)
        values (#{tenantUuid},
                #{username},
                #{passwordPlain},
                #{host},
                #{option})
        on duplicate key
            update `username` = #{username},
                   `password` = #{passwordCipher},
                   `host`     = #{host},
                   `option`   = #{option}
    </insert>

    <select id="getAllActiveTenantElasticsearch" resultType="neatlogic.framework.dto.ElasticsearchVo">
        SELECT tenant_uuid AS tenantUuid,
               username,
               `password`  AS passwordCipher,
               `host`,
               `config`    AS configStr
        FROM elasticsearch a
                 JOIN `tenant` b
                      ON a.tenant_uuid = b.uuid
                          AND b.is_active = 1
    </select>

    <select id="getAllTenantElasticsearch" resultType="neatlogic.framework.dto.ElasticsearchVo">
        SELECT tenant_uuid AS tenantUuid,
               username,
               `password`  AS passwordCipher,
               `host`,
               `config`    AS configStr
        FROM elasticsearch
    </select>

    <select id="getTenantElasticsearchByTenantUuid" parameterType="java.lang.String"
            resultType="neatlogic.framework.dto.ElasticsearchVo">
        SELECT tenant_uuid AS tenantUuid,
               username,
               `password`  AS passwordCipher,
               `host`,
               `config`    AS configStr
        FROM elasticsearch
        where tenant_uuid = #{value}
    </select>

</mapper>