<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2024  深圳极向量科技有限公司 All Rights Reserved.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.dao.mapper.ElasticsearchMapper">
    <insert id="insertTenantElasticsearch" parameterType="neatlogic.framework.dto.ElasticsearchVo">
        insert into elasticsearch (`tenant_uuid`, `username`, `password`, `host`, `option`)
        values (#{tenantUuid},
                #{username},
                #{passwordPlain},
                #{host},
                #{option})
        on duplicate key
            update `username` = #{username},
                   `password` = #{passwordCipher},
                   `host`     = #{host},
                   `option`   = #{option}
    </insert>

    <select id="getAllActiveTenantElasticsearch" resultType="neatlogic.framework.dto.ElasticsearchVo">
        SELECT tenant_uuid AS tenantUuid,
               username,
               `password`  AS passwordCipher,
               `host`,
               `config`    AS configStr
        FROM elasticsearch a
                 JOIN `tenant` b
                      ON a.tenant_uuid = b.uuid
                          AND b.is_active = 1
    </select>

    <select id="getAllTenantElasticsearch" resultType="neatlogic.framework.dto.ElasticsearchVo">
        SELECT tenant_uuid AS tenantUuid,
               username,
               `password`  AS passwordCipher,
               `host`,
               `config`    AS configStr
        FROM elasticsearch
    </select>

    <select id="getTenantElasticsearchByTenantUuid" parameterType="java.lang.String"
            resultType="neatlogic.framework.dto.ElasticsearchVo">
        SELECT tenant_uuid AS tenantUuid,
               username,
               `password`  AS passwordCipher,
               `host`,
               `config`    AS configStr
        FROM elasticsearch
        where tenant_uuid = #{value}
    </select>

</mapper>