<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.dao.mapper.LoginMapper">
    <!-- flushInterval、size、readOnly、blocking属性对ehcache不起作用 -->
    <cache type="neatlogic.framework.dao.cache.NeatLogicConcurrentSafeCache">
        <!-- 二选一：TTI 或 TTL（都配的话以 TTL 为准，见下方实现） -->
        <!-- 缓存项在未被访问时的最长存活时间, 基于访问时间的过期 -->
        <!-- <property name="timeToIdleSeconds" value="300"/> -->
        <!-- 缓存项从创建到过期的总时间, 基于创建时间的过期 -->
        <property name="timeToLiveSeconds" value="300"/>
        <!-- Ehcache 堆内条目数 -->
        <property name="heapEntries" value="10"/>
    </cache>
    <select id="getLoginCaptchaBySessionId" parameterType="java.lang.String"
            resultType="neatlogic.framework.dto.captcha.LoginCaptchaVo" useCache="false">
        SELECT `session_id` as sessionId, `code`, `expired_time` as expiredTime
        FROM `login_captcha`
        WHERE `session_id` = #{value}
    </select>

    <select id="getLoginFailedCountByUserId" resultType="java.lang.Integer" useCache="false">
        SELECT `failed_count`
        FROM `login_failed_count`
        WHERE `user_id` = #{value}
    </select>

    <select id="getLoginFailedCountVoByUserId"
            resultType="neatlogic.framework.dto.captcha.LoginFailedCountVo" useCache="false">
        SELECT `failed_count` as failedCount, `user_id` as userId, `last_failed_time` as lastFailedTime, `locked_until` as lockedUntil
        FROM `login_failed_count`
        WHERE `user_id` = #{value}
    </select>

    <select id="getLoginFailedCountLockByUserId"
            resultType="neatlogic.framework.dto.captcha.LoginFailedCountVo" useCache="false">
        SELECT `failed_count` as failedCount, `user_id` as userId, `last_failed_time` as lastFailedTime, `locked_until` as lockedUntil
        FROM `login_failed_count`
        WHERE `user_id` = #{value} for update
    </select>

    <select id="getLoginAuditCount" parameterType="neatlogic.framework.dto.loginaudit.LoginAuditSearchVo" resultType="int">
        SELECT
            count(1)
        FROM `login_audit` a
        <if test="keyword != null and keyword != ''">
            JOIN `user` b ON b.`uuid` = a.`user_uuid`
        </if>
        <where>
            <if test="keyword != null and keyword != ''">
                AND (
                b.`uuid` = #{keyword}
                OR b.`user_id` = #{keyword}
                OR b.`user_name` LIKE CONCAT(#{keyword}, '%')
                )
            </if>
            <if test="startTime != null and endTime != null">
                AND a.`login_time` &gt;= #{startTime}
                AND a.`login_time` &lt;= #{endTime}
            </if>
        </where>
    </select>

    <select id="getLoginAuditList" parameterType="neatlogic.framework.dto.loginaudit.LoginAuditSearchVo" resultType="neatlogic.framework.dto.loginaudit.LoginAuditVo">
        SELECT
            a.`id`,
            a.`user_uuid` AS userUuid,
            a.`ip`,
            a.`login_time` AS loginTime,
            a.`login_method` AS loginMethod
        FROM `login_audit` a
        <if test="keyword != null and keyword != ''">
            JOIN `user` b ON b.`uuid` = a.`user_uuid`
        </if>
        <where>
            <if test="keyword != null and keyword != ''">
            AND (
                b.`uuid` = #{keyword}
                OR b.`user_id` = #{keyword}
                OR b.`user_name` LIKE CONCAT(#{keyword}, '%')
                OR a.`ip` LIKE CONCAT(#{keyword}, '%')
                OR a.`login_method` LIKE CONCAT(#{keyword}, '%')
            )
            </if>
            <if test="startTime != null and endTime != null">
                AND a.`login_time` &gt;= #{startTime}
                AND a.`login_time` &lt;= #{endTime}
            </if>
        </where>
        ORDER BY `id` DESC
        LIMIT #{startNum}, #{pageSize}
    </select>

    <insert id="updateLoginCaptcha" parameterType="neatlogic.framework.dto.captcha.LoginCaptchaVo">
        INSERT INTO `login_captcha` (`session_id`, `code`, `expired_time`)
        VALUES (#{sessionId}, #{code}, #{expiredTime})
        ON DUPLICATE KEY
            UPDATE `code`         = #{code},
                   `expired_time` = #{expiredTime}
    </insert>

    <insert id="updateLoginFailedCount" parameterType="neatlogic.framework.dto.captcha.LoginFailedCountVo">
        INSERT INTO `login_failed_count` (`user_id`, `failed_count`, `last_failed_time`, `locked_until`)
        VALUES (#{userId}, #{failedCount}, #{lastFailedTime}, #{lockedUntil})
        ON DUPLICATE KEY
            UPDATE failed_count       = (failed_count + 1),
                   `last_failed_time` = #{lastFailedTime},
                   `locked_until`     = #{lockedUntil}

    </insert>

    <insert id="insertLoginAudit" parameterType="neatlogic.framework.dto.loginaudit.LoginAuditVo">
        INSERT INTO `login_audit`(`id`, `user_uuid`, `ip`, `login_time`, `login_method`)
        VALUES (#{id}, #{userUuid}, #{ip}, NOW(3), #{loginMethod})
    </insert>

    <delete id="deleteLoginCaptchaBySessionId">
        delete
        from login_captcha
        where session_id = #{value}
    </delete>

    <delete id="deleteLoginInvalidCaptcha">
        DELETE
        FROM login_captcha
        WHERE NOW(3) > expired_time
    </delete>

    <delete id="deleteLoginFailedCountByUserId">
        delete
        from login_failed_count
        where user_id = #{value}
    </delete>

    <delete id="deleteLoginAuditByDayBefore" parameterType="java.lang.Integer">
        DELETE FROM `login_audit`
        WHERE `login_time` &lt; DATE_SUB(CURRENT_DATE, INTERVAL #{value} DAY)
    </delete>
</mapper>

