<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.dao.mapper.MongoDbMapper">
    <insert id="insertTenantMongodb">
        insert into mongodb (`tenant_uuid`, `database`, `username`, `password`, `host`, `option`,
                             `auth_config`)
        values (
                #{tenantUuid},
                #{database},
                #{username},
                #{passwordPlain},
                #{host},
                #{option},
                #{authConfig})
        on duplicate key
            update `database`    = #{database},
                   `username`    = #{username},
                   `password`    = #{passwordCipher},
                   `host`        = #{host},
                   `option`      = #{option},
                   `auth_config` = #{authConfig}
    </insert>
    <select id="getAllActiveTenantMongoDb" resultType="neatlogic.framework.dto.MongoDbVo">
        SELECT
               tenant_uuid AS tenantUuid,
               `database`,
               username,
               `password`  AS passwordCipher,
               `host`,
               `option`,
               `auth_config` as authConfig
        FROM mongodb a
                 JOIN `tenant` b
                      ON a.tenant_uuid = b.uuid
                          AND b.is_active = 1
    </select>

    <select id="getAllTenantMongoDb" resultType="neatlogic.framework.dto.MongoDbVo">
        SELECT
               tenant_uuid AS tenantUuid,
               `database`,
               username,
               `password`  AS passwordCipher,
               `host`,
               `option`,
               `auth_config` as authConfig
        FROM mongodb
    </select>

    <select id="getTenantMongoDbByTenantUuid" resultType="neatlogic.framework.dto.MongoDbVo">
        SELECT
               tenant_uuid AS tenantUuid,
               `database`,
               username,
               `password`  AS passwordCipher,
               `host`,
               `option`,
               `auth_config` as authConfig
        FROM mongodb
        where tenant_uuid = #{value}
    </select>

</mapper>