<?xml version="1.0" encoding="UTF-8" ?>
<!--Copyright (C) $today.year  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.dao.mapper.NotifyConfigMapper">

    <select id="getNotifyConfigListByType" parameterType="java.lang.String" resultType="neatlogic.framework.dto.NotifyConfigVo">
        SELECT
            `id`,
            `name`,
            `is_active` AS isActive,
            `is_default` AS isDefault,
            `type`,
            `config` AS configStr
        FROM `notify_config`
        WHERE `type` = #{value}
    </select>

    <select id="getNotifyConfigById" parameterType="java.lang.Long" resultType="neatlogic.framework.dto.NotifyConfigVo">
        SELECT
            `id`,
            `name`,
            `is_active` AS isActive,
            `is_default` AS isDefault,
            `type`,
            `config` AS configStr
        FROM `notify_config`
        WHERE `id` = #{value}
    </select>

    <select id="getConfigByType" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT `config` FROM `notify_config` WHERE `type` = #{value} AND `is_default` = 1
    </select>

    <insert id="insertNotifyConfig" parameterType="java.util.Map">
        INSERT INTO `notify_config` (`type`, `config`)
        VALUES (#{type}, #{config})
        ON DUPLICATE KEY
        UPDATE `config` = #{config}
    </insert>

    <insert id="insertNotifyConfigVo" parameterType="neatlogic.framework.dto.NotifyConfigVo">
        INSERT INTO `notify_config` (
            `id`,
            `name`,
            `is_active`,
            `is_default`,
            `type`,
            `config`
        )
        VALUES
            (
                #{id},
                #{name},
                #{isActive},
                #{isDefault},
                #{type},
                #{configStr, typeHandler=CompressHandler}
            )
        ON DUPLICATE KEY UPDATE
        `name` = #{name},
        `config` = #{configStr, typeHandler=CompressHandler}
    </insert>

    <update id="updateNotifyConfigIsActive">
        UPDATE `notify_config`
        SET
            `is_active` = #{isActive}
        WHERE `id` = #{id}
    </update>

    <update id="updateNotifyConfigIsDefault">
        UPDATE `notify_config`
        SET
        <if test="isDefault != null and isDefault == 1">
            `is_active` = 1,
        </if>
            `is_default` = #{isDefault}
        WHERE `id` = #{id}
    </update>

    <delete id="deleteNotifyConfigById" parameterType="java.lang.Long">
        DELETE FROM `notify_config` WHERE `id` = #{value}
    </delete>
</mapper>
