<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.dao.mapper.TagMapper">

	<select id="getTagIdByNameAndType" resultType="java.lang.Long">
		SELECT
		`id`
		FROM `tag`
		where
			`type` = #{type} and `name` LIKE CONCAT('%', #{name}, '%')
	</select>

	<select id="getTagLockById" resultType="neatlogic.framework.dto.TagVo">
		SELECT
			`id`,
			`name`,
			`type`
		FROM `tag`
		where `id` = #{id} for update
	</select>

	<select id="searchTag" parameterType="neatlogic.framework.dto.TagVo" resultType="neatlogic.framework.dto.TagVo">
		SELECT
		`id`,
		`name`,
		`type`
		FROM `tag`
		<where>
			`type` = #{type}
			<if test="name != null and name != ''">
				and name LIKE CONCAT('%', #{name}, '%')
			</if>
		</where>
	</select>

	<select id="searchNoUseTag" resultType="neatlogic.framework.dto.TagVo">
		SELECT
			`id`,
			`name`,
			`type`
		FROM `tag` t left join `runnergroup_tag` rt on t.id = rt.tag_id
		where t.type = 'runnergroup' and rt.group_id is null
	</select>
	
	<select id="getTagListByIdList" parameterType="java.lang.Long" resultType="neatlogic.framework.dto.TagVo">
	SELECT
		`id`,
		`name`
	FROM `tag`
	WHERE `id` IN 
	<foreach collection="list" item="id" open="(" separator="," close=")">
	#{id}
	</foreach>
	</select>

	<insert id="insertTag" parameterType="neatlogic.framework.dto.TagVo">
		INSERT INTO `tag`(
		`id`,`name`,`type`
		) VALUES (
		#{id},#{name},#{type}
		)
	</insert>

	<update id="updateTag" parameterType="neatlogic.framework.dto.TagVo">
		UPDATE `tag` SET `name` = #{name} WHERE id = #{id}
	</update>

	<delete id="deleteTagById" parameterType="long">
		DELETE FROM `tag` WHERE `id` = #{id}
	</delete>
</mapper>