<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.dao.mapper.TenantMapper">

    <select id="getTenantAuditDetailByHash" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT `content`
        FROM `tenant_audit_detail`
        WHERE `hash` = #{value}
    </select>

    <select id="getTenantModuleGroupByTenantUuid" parameterType="java.lang.String"
            resultType="neatlogic.framework.dto.TenantModuleGroupVo">
        SELECT
               `tenant_uuid`  as tenantUuid,
               `module_group` AS moduleGroup
        FROM `tenant_modulegroup`
        WHERE tenant_uuid = #{value}
    </select>

    <select id="getTenantModuleByTenantUuid" parameterType="java.lang.String"
            resultType="neatlogic.framework.dto.TenantModuleVo">
        SELECT
               `module_id`  as moduleId,
               `ddl_status` as ddlStatus,
               `dml_status` as dmlStatus,
               `version`
        FROM `tenant_module`
        WHERE tenant_uuid = #{value}
    </select>

    <sql id="searchTenantAuditCondition">
        <where>
            tenant_uuid = #{tenantUuid}
            <if test="groupId != null">
                AND group_id = #{groupId}
            </if>
        </where>
    </sql>

    <select id="searchTenantAudit" parameterType="neatlogic.framework.dto.TenantAuditVo"
            resultType="neatlogic.framework.dto.TenantAuditVo">
        SELECT
        `id`,
        `group_id` AS groupId,
        `tenant_uuid` as tenantUuid,
        `module_id` as moduleId,
        `module_group` as moduleGroup,
        `sql_type` as sqlType,
        `start_time` as startTime,
        `end_time` as endTime,
        (UNIX_TIMESTAMP(IFNULL(end_time, NOW(3)))*1000 - UNIX_TIMESTAMP(start_time)*1000) AS timeCost,
        `result_hash` as resultHash,
        `error_hash` as errorHash,
        `status`
        FROM
        `tenant_audit`
        <include refid="searchTenantAuditCondition"/>
        ORDER BY id DESC
    </select>

    <select id="searchTenantAuditCount" parameterType="neatlogic.framework.dto.TenantAuditVo" resultType="int">
        SELECT
        COUNT(1)
        FROM
        `tenant_audit`
        <include refid="searchTenantAuditCondition"/>
    </select>

    <sql id="searchTenantCondition">
        <where>
            <if test="keyword != null and keyword != ''">
                AND name LIKE concat('%', #{keyword}, '#')
            </if>
        </where>
    </sql>

    <select id="searchTenant" parameterType="neatlogic.framework.dto.TenantVo"
            resultType="neatlogic.framework.dto.TenantVo">
        SELECT
        `uuid`,
        `name`,
        `is_active` AS isActive,
        `status`,
        `error_msg` as errorMsg,
        `visit_time` as visitTime,
        `description`
        FROM
        `tenant`
        <include refid="searchTenantCondition"/>
        ORDER BY `is_active`,`visit_time` DESC
    </select>

    <select id="searchTenantCount" parameterType="neatlogic.framework.dto.TenantVo" resultType="int">
        SELECT
        COUNT(1)
        FROM
        `tenant`
        <include refid="searchTenantCondition"/>
    </select>

    <select id="checkTenantUuidIsExists" parameterType="neatlogic.framework.dto.TenantVo" resultType="int">
        SELECT COUNT(1)
        FROM `tenant`
        WHERE uuid = #{uuid}
    </select>

    <select id="getTenantByUuid" parameterType="java.lang.String" resultType="neatlogic.framework.dto.TenantVo">
        SELECT
               `uuid`,
               `name`,
               `is_active`   AS isActive,
               `expire_date` AS expireDate,
               `status`,
               `description`,
               `is_need_demo` as isNeedDemo
        FROM `tenant`
        WHERE `uuid` = #{value}
    </select>

    <select id="getAllActiveTenant" resultType="neatlogic.framework.dto.TenantVo">
        SELECT
                t.`uuid`,
                t.`name`,
                t.visit_time as visitTime,
                t.`fcd`
        FROM `tenant` t
                 JOIN `datasource` ds ON ds.`tenant_uuid` = t.`uuid`
        WHERE t.`is_active` = 1
    </select>
    <select id="getTenantAuditMaxGroupIdByTenantUuid" resultType="java.lang.Long">
        select max(group_id)
        from tenant_audit
        where tenant_uuid = #{value}
    </select>
    <select id="getTenantModuleDmlSqlMd5ByTenantUuidAndModuleId" resultType="java.lang.String">
        select sql_uuid
        from tenant_module_dmlsql
        where tenant_uuid = #{tenantUuid}
          and `module_id` = #{moduleId}
    </select>
    <select id="getTenantAuditListWithDmlDemo" resultType="neatlogic.framework.dto.TenantAuditVo">
        SELECT
            `id`,
            `group_id` AS groupId,
            `tenant_uuid` as tenantUuid,
            `module_id` as moduleId,
            `module_group` as moduleGroup,
            `sql_type` as sqlType,
            `start_time` as startTime,
            `end_time` as endTime,
            (UNIX_TIMESTAMP(IFNULL(end_time, NOW(3)))*1000 - UNIX_TIMESTAMP(start_time)*1000) AS timeCost,
            `result_hash` as resultHash,
            `error_hash` as errorHash,
            `status`
        FROM
            `tenant_audit` where `tenant_uuid` = #{value} and `module_group`= 'webroot' and `module_id` = 'webroot'
    </select>

    <insert id="insertTenant" parameterType="neatlogic.framework.dto.TenantVo">
        INSERT INTO `tenant` (
                              `uuid`,
                              `name`,
                              `is_active`,
                              `is_need_demo`,
                              `expire_date`,
                              `status`,
                              `fcd`,
                              `description`)
        VALUES (
                #{uuid},
                #{name},
                #{isActive},
                #{isNeedDemo},
                #{expireDate},
                #{status},
                now(),
                #{description})
    </insert>

    <insert id="insertTenantModuleGroup">
        INSERT INTO `tenant_modulegroup` (`tenant_uuid`, `module_group`)
        VALUES ( #{tenantUuid}, #{moduleGroup})
    </insert>

    <insert id="insertTenantAudit" parameterType="neatlogic.framework.dto.TenantAuditVo">
        INSERT INTO `tenant_audit` (`id`,
                                    `tenant_uuid`,
                                    `group_id`,
                                    `start_time`,
                                    `module_id`,
                                    `module_group`,
                                    `sql_type`,
                                    `status`)
        VALUES (#{id},
                #{tenantUuid},
                #{groupId},
                NOW(3),
                #{moduleId},
                #{moduleGroup},
                #{sqlType},
                #{status})
    </insert>

    <insert id="replaceTenantAuditDetail">
        REPLACE INTO `tenant_audit_detail` (`hash`, `content`)
        VALUES (#{hash}, #{content})
    </insert>

    <insert id="insertTenantModule" parameterType="neatlogic.framework.dto.TenantModuleVo">
        INSERT IGNORE INTO `tenant_module` (`tenant_uuid`,
                                            `module_id`,
                                            `version`,
                                            `fcd`)
        VALUES (#{tenantModule.tenantUuid},
                #{tenantModule.moduleId},
                #{tenantModule.version},
                #{updateTag})
    </insert>
    <insert id="insertTenantModuleDmlSql">
        insert into `tenant_module_dmlsql` (`tenant_uuid`,`module_id`,`sql_uuid`,`sql_status`,`fcd`)
        values
        <foreach collection="currentRunSqlMd5List" item="sqlMd5" separator="),(" open="(" close=")">
            #{tenantUuid},#{moduleId},#{sqlMd5},#{sqlStatus},now()
        </foreach>
    </insert>

    <update id="updateTenantAudit" parameterType="neatlogic.framework.dto.TenantAuditVo">
        UPDATE
            `tenant_audit`
        SET `result_hash` = #{resultHash},
            `error_hash`  = #{errorHash},
            `sql_type`    = #{sqlType},
            `end_time`    = NOW(3),
            `status`      = #{status}
        WHERE `id` = #{id}
    </update>

    <update id="updateTenantByUuid" parameterType="neatlogic.framework.dto.TenantVo">
        UPDATE
            `tenant`
        SET `name`        = #{name},
            `is_active`   = #{isActive},
            `expire_date` = #{expireDate},
            `description` = #{description},
            `status`      = #{status},
            `error_msg`   = #{errorMsg}
        WHERE `uuid` = #{uuid}
    </update>

    <update id="updateTenantIsActiveByUuid" >
        UPDATE
            `tenant`
        SET `is_active` = #{isActive}
        WHERE `uuid` = #{tenantUuid}
    </update>

    <update id="updateTenantStatusByUuid" parameterType="java.lang.String">
        UPDATE
            `tenant`
        SET `status` = #{status}
        WHERE `uuid` = #{uuid}
    </update>

    <update id="updateTenantVisitTime">
        update `tenant` set `visit_time` = now() where `uuid` = #{value}
    </update>

    <delete id="deleteTenantModuleGroupByTenantUuid" parameterType="java.lang.String">
        DELETE
        FROM `tenant_modulegroup`
        WHERE `tenant_uuid` = #{value}
    </delete>

    <delete id="deleteTenantModuleByTenantUuid" parameterType="java.lang.String">
        DELETE
        FROM `tenant_module`
        WHERE `tenant_uuid` = #{value}
    </delete>
</mapper>

