<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.dao.mapper.ThemeMapper">

    <select id="getTheme" resultType="neatlogic.framework.dto.ThemeVo">
        select id,
               config as configStr,
               fcd,
               fcu
        from theme
    </select>

    <insert id="insertTheme" parameterType="neatlogic.framework.dto.ThemeVo">
        insert into theme(id, config, fcd, fcu)
        values (#{id}, #{configStr}, now(3), #{fcu})
    </insert>

    <delete id="deleteTheme">
        delete
        from theme
    </delete>

</mapper>