<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (C) 2025  TechSure Co., Ltd.  All Rights Reserved.
  ~ This file is part of the NeatLogic software.
  ~ Licensed under the NeatLogic Sustainable Use License (NSUL), Version 4.x – 2025.
  ~ You may use this file only in compliance with the License.
  ~ See the LICENSE file distributed with this work for the full license text.
  ~ Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.dao.mapper.UserExportFileMapper">
    <!-- 缓存5分钟 -->
    <!-- flushInterval、size、readOnly、blocking属性对ehcache不起作用 -->
    <cache type="neatlogic.framework.dao.cache.NeatLogicConcurrentSafeCache">
        <!-- 二选一：TTI 或 TTL（都配的话以 TTL 为准，见下方实现） -->
        <!-- 缓存项在未被访问时的最长存活时间, 基于访问时间的过期 -->
        <!-- <property name="timeToIdleSeconds" value="300"/> -->
        <!-- 缓存项从创建到过期的总时间, 基于创建时间的过期 -->
        <property name="timeToLiveSeconds" value="300"/>
        <!-- Ehcache 堆内条目数 -->
        <property name="heapEntries" value="100"/>
    </cache>

    <select id="getUserExportFileUnreadCount" parameterType="java.lang.String" resultType="int">
        SELECT
        COUNT(1)
        FROM `user_export_file`
        WHERE `user_uuid` = #{userUuid}
        AND `is_read` = 0
    </select>

    <select id="getUserExportFileCount" parameterType="neatlogic.framework.userexportfile.dto.UserExportFileSearchVo" resultType="int">
        SELECT
            COUNT(1)
        FROM `user_export_file`
        <where>
            <if test="userUuid != null and userUuid != ''">
                AND `user_uuid` = #{userUuid}
            </if>
            <if test="keyword != null and keyword != ''">
                AND `name` LIKE concat('%', #{keyword}, '%')
            </if>
            <if test="startTime != null and endTime != null">
                AND `start_time` &gt;= #{startTime}
                AND `start_time` &lt;= #{endTime}
            </if>
        </where>
    </select>

    <select id="getUserExportFileList" parameterType="neatlogic.framework.userexportfile.dto.UserExportFileSearchVo" resultType="neatlogic.framework.userexportfile.dto.UserExportFileVo">
        SELECT
            `id`,
            `name`,
            `size`,
            `user_uuid` AS userUuid,
            `type`,
            `content_type` AS contentType,
            `config` AS configStr,
            `is_read` AS isRead,
            `status`,
            `start_time` AS startTime,
            `path`,
            `end_time` AS endTime,
            `error`
        FROM `user_export_file`
        <where>
            <if test="userUuid != null and userUuid != ''">
                AND `user_uuid` = #{userUuid}
            </if>
            <if test="keyword != null and keyword != ''">
                AND `name` LIKE concat('%', #{keyword}, '%')
            </if>
            <if test="startTime != null and endTime != null">
                AND `start_time` &gt;= #{startTime}
                AND `start_time` &lt;= #{endTime}
            </if>
        </where>
        <choose>
            <when test="userUuid != null and userUuid != ''">
                ORDER BY `start_time` DESC
            </when>
            <otherwise>
                ORDER BY `id` DESC
            </otherwise>
        </choose>
        limit #{startNum}, #{pageSize}
    </select>

    <select id="getUserExportFileListByIdList" parameterType="java.lang.Long" resultType="neatlogic.framework.userexportfile.dto.UserExportFileVo">
        SELECT
            `id`,
            `name`,
            `size`,
            `user_uuid` AS userUuid,
            `type`,
            `content_type` AS contentType,
            `config` AS configStr,
            `is_read` AS isRead,
            `status`,
            `start_time` AS startTime,
            `path`,
            `end_time` AS endTime,
            `error`
        FROM `user_export_file`
        WHERE `id` IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="getUserExportFileById" parameterType="java.lang.Long" resultType="neatlogic.framework.userexportfile.dto.UserExportFileVo">
        SELECT
            `id`,
            `name`,
            `size`,
            `user_uuid` AS userUuid,
            `type`,
            `content_type` AS contentType,
            `config` AS configStr,
            `is_read` AS isRead,
            `status`,
            `start_time` AS startTime,
            `path`,
            `end_time` AS endTime,
            `error`
        FROM `user_export_file`
        WHERE `id` = #{id}
    </select>

    <insert id="insertUserExportFile" parameterType="neatlogic.framework.userexportfile.dto.UserExportFileVo">
        INSERT INTO `user_export_file` (
            `id`,
            `name`,
            `user_uuid`,
            `type`,
            `content_type`,
            `config`,
            `status`,
            `start_time`
            <if test="isEnd == 1">
            ,
            `path`,
            `size`,
            `error`,
            `end_time`
            </if>
        )
        VALUES
            (
                #{id},
                #{name},
                #{userUuid},
                #{type},
                #{contentType},
                #{configStr},
                #{status},
                NOW(3)
                <if test="isEnd == 1">
                ,
                #{path},
                #{size},
                #{error},
                NOW(3)
                </if>
            )
        ON DUPLICATE KEY UPDATE
            `path` = #{path},
            `size` = #{size},
            `status` = #{status},
            `error` = #{error},
            `end_time` = NOW(3)
    </insert>

    <update id="updateUserExportFileIsReadByIdList" parameterType="java.lang.Long">
        UPDATE `user_export_file`
        SET `is_read` = 1
        WHERE `id` IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <delete id="deleteUserExportFileById" parameterType="java.lang.Long">
        DELETE FROM `user_export_file`
        WHERE `id` = #{value}
    </delete>
</mapper>
