<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.dao.mapper.UserSessionContentMapper">
    <cache type="neatlogic.framework.dao.cache.NeatLogicCache" flushInterval="30000" size="100">
        <!-- 二选一：TTI 或 TTL（都配的话以 TTL 为准，见下方实现） -->
        <property name="timeToIdleSeconds" value="300"/>
        <!-- <property name="timeToLiveSeconds" value="300"/> -->
        <!-- Ehcache 堆内条目数 -->
        <property name="heapEntries" value="100"/>
    </cache>


    <select id="getUserSessionContentByHash" parameterType="java.lang.String" resultType="java.lang.String">
        select `content`
        from `user_session_content`
        where `hash` = #{value}
    </select>

    <insert id="insertUserSessionContent" parameterType="neatlogic.framework.dto.UserSessionContentVo">
        insert into `user_session_content` (`hash`, `content`)
        values (#{hash}, #{content})
        on duplicate key
            update `content` = #{content}
    </insert>

</mapper>

