<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (C) 2026  深圳极向量科技有限公司 All Rights Reserved.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="neatlogic.framework.globallock.dao.mapper.GlobalLockOperationMapper">
 <insert id="insert">INSERT INTO global_lock_operation(id,user_uuid,lock_id,action,state,content)
 VALUES(#{id},#{user},#{lockId},#{action},#{state.value},#{content})</insert>
 <select id="get" resultType="java.util.HashMap">SELECT content, state, lock_id AS lockId, action,
 UNIX_TIMESTAMP(lcd)*1000 AS updatedAt FROM global_lock_operation
 WHERE id=#{id} AND user_uuid=#{user} AND fcd &gt; DATE_SUB(NOW(), INTERVAL 24 HOUR)</select>
 <update id="claim">UPDATE global_lock_operation SET state=#{state.value},lcd=NOW(3)
 WHERE id=#{id} AND user_uuid=#{user} AND lock_id=#{lockId} AND action=#{action}
 AND state=#{expectedState.value} AND fcd &gt; DATE_SUB(NOW(), INTERVAL 24 HOUR)</update>
 <update id="update">UPDATE global_lock_operation SET state=#{state.value},content=#{content},lcd=NOW(3) WHERE id=#{id}</update>
 <delete id="purge">DELETE FROM global_lock_operation WHERE fcd &lt; DATE_SUB(NOW(), INTERVAL 24 HOUR) LIMIT 100</delete>
</mapper>
