<?xml version="1.0" encoding="UTF-8" ?>
<!--Copyright (C) 2024  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.globallock.dao.mapper.GlobalLockMapper">
    <select id="getGlobalLockByUuidForUpdate" parameterType="java.lang.String"
            resultType="neatlogic.framework.dto.globallock.GlobalLockVo">
        SELECT `id`,
               `uuid`,
               `key`,
               `handler`,
               `handler_param` as handlerParamStr,
               `is_lock`       as isLock,
               `description`,
               `fcd`
        FROM `global_lock`
        WHERE `uuid` = #{value} FOR
        UPDATE
    </select>

    <select id="getGlobalLockById" resultType="neatlogic.framework.dto.globallock.GlobalLockVo">
        SELECT `id`,
               `uuid`,
               `key`,
               `handler`,
               `handler_param` as handlerParamStr,
               `is_lock`       as isLock,
               `description`,
               `fcd`
        FROM `global_lock`
        WHERE `id` = #{value}
    </select>

    <select id="getNextGlobalLockByUuid" resultType="neatlogic.framework.dto.globallock.GlobalLockVo">
        SELECT `id`,
               `uuid`,
               `key`,
               `handler`,
               `handler_param` as handlerParamStr,
               `is_lock`       as isLock,
               `description`,
               `fcd`
        FROM `global_lock`
        WHERE `uuid` = #{value}
          and `is_lock` = 0
        order by `id` asc
        limit 1
    </select>
    <select id="searchLock" resultType="neatlogic.framework.dto.globallock.GlobalLockVo">
        SELECT `id`,
        `uuid`,
        `key`,
        `handler`,
        `handler_param` as handlerParamStr,
        `is_lock` as isLock,
        `description`,
        `fcd`
        FROM `global_lock`
        <where>
            handler = #{handler}
            <if test="keyword !=null and keyword != ''">
                and `key` like CONCAT('%',#{keyword}, '%')
            </if>
            <if test="uuidList != null and uuidList.size() >0">
                and `uuid` in
                <foreach collection="uuidList" item="uuid" close=")" open="(" separator=",">
                    #{uuid}
                </foreach>
            </if>
        </where>
        order by is_lock desc,`fcd` desc
        <if test="needPage == true">
            LIMIT #{startNum}, #{pageSize}
        </if>

    </select>

    <select id="getLockListByKeyListAndHandler" resultType="neatlogic.framework.dto.globallock.GlobalLockVo">
        SELECT `id`,
        `uuid`,
        `key`,
        `handler`,
        `handler_param` as handlerParamStr,
        `is_lock` as isLock,
        `description`,
        `fcd`
        FROM `global_lock`
        <where>
            handler = #{handler}
            and
            <foreach collection="keyList" item="key" separator="or" open="(" close=")">
                `key` like CONCAT('%',#{key}, '%')
            </foreach>
        </where>
    </select>
    <select id="getLockCount" resultType="java.lang.Integer">
        SELECT count(1)
        FROM `global_lock`
        <where>
            handler = #{handler}
            <if test="keyword !=null and keyword != ''">
                and `key` like CONCAT('%',#{keyword}, '%')
            </if>
            <if test="uuidList != null and uuidList.size() >0">
                and `uuid` in
                <foreach collection="uuidList" item="uuid" close=")" open="(" separator=",">
                    #{uuid}
                </foreach>
            </if>
        </where>
    </select>
    <select id="getGlobalLockUuidByKey" resultType="java.lang.String">
        SELECT
        `uuid`
        FROM `global_lock`
        <where>
            handler = #{handler}
            and `key` = #{keyword}
            <if test="handlerParamKeyword != null and handlerParamKeyword != ''">
                and `handler_param` like CONCAT('%"',#{handlerParamKeyword}, '"%')
            </if>
        </where>
    </select>

    <update id="updateToLockById">
        UPDATE `global_lock`
        set `is_lock` = 1
        where `id` = #{value}
    </update>

    <insert id="insertLock" parameterType="neatlogic.framework.dto.globallock.GlobalLockVo">
        INSERT INTO `global_lock` (`id`, `uuid`, `key`, `handler`, `handler_param`, `is_lock`, `description`, `fcd`)
        VALUES (#{id}, #{uuid}, #{key}, #{handler}, #{handlerParamStr}, #{isLock}, #{description}, now())
    </insert>

    <delete id="deleteLock" parameterType="java.lang.Long">
        DELETE
        FROM `global_lock`
        WHERE `id` = #{value}
    </delete>

    <delete id="deleteLockByUuidList" parameterType="java.lang.Long">
        DELETE
        FROM `global_lock`
        WHERE `uuid` in
        <foreach collection="uuidList" item="uuid" open="(" close=")" separator=",">
            #{uuid}
        </foreach>
    </delete>

</mapper>

