<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="codedriver.framework.dao.typehandler.XssHandler" alias="XssHandler" />
	</typeAliases>
	<!-- <typeHandlers> <typeHandler jdbcType="VARCHAR" javaType="String" handler="codedriver.framework.dao.typehandler.XssHandler" /> </typeHandlers> -->
</configuration>