<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="codedriver.framework.dao.plugin.CompressHandler" alias="CompressHandler"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler jdbcType="LONGVARCHAR" javaType="String"
                     handler="codedriver.framework.dao.plugin.CompressHandler"/>
    </typeHandlers>
    <plugins>
        <plugin interceptor="codedriver.framework.dao.plugin.BusinessGroupInterceptor"/>
        <plugin interceptor="codedriver.framework.dao.plugin.SqlCostInterceptor"/>
    </plugins>
</configuration>
