<?xml version="1.0" encoding="UTF-8" ?>
<!--Copyright (C) 2024  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.form.dao.mapper.FormMapper">
    <select id="checkFormCustomItemNameIsExists" parameterType="neatlogic.framework.form.dto.FormCustomItemVo"
            resultType="int">
        SELECT count(1)
        FROM form_customitem
        WHERE name = #{name}
          AND id != #{id}
    </select>

    <select id="searchFormCustomItem" parameterType="neatlogic.framework.form.dto.FormCustomItemVo"
            resultType="neatlogic.framework.form.dto.FormCustomItemVo">
        SELECT id,
        name,
        label,
        is_active AS isActive,
        icon,
        config AS configStr
        FROM form_customitem
        <include refid="searchFormCustomItemCondition"/>
        limit #{startNum}, #{pageSize}
    </select>

    <select id="searchFormCustomItemCount" parameterType="neatlogic.framework.form.dto.FormCustomItemVo"
            resultType="int">
        SELECT
        count(1)
        FROM form_customitem
        <include refid="searchFormCustomItemCondition"/>
    </select>

    <sql id="searchFormCustomItemCondition">
        <where>
            <if test="isActive != null">
                AND is_active = #{isActive}
            </if>
            <if test="keyword != null and keyword != ''">
                AND (name LIKE concat('%',#{keyword},'%') OR label LIKE concat('%',#{keyword},'%'))
            </if>
        </where>
    </sql>

    <select id="getFormCustomItemByName" parameterType="java.lang.String"
            resultType="neatlogic.framework.form.dto.FormCustomItemVo">
        SELECT id,
               name,
               label,
               icon,
               is_active              AS isActive,
               config                 AS configStr,
               config_template_config AS configTemplateConfig,
               config_template        AS configTemplate,
               view_template          AS viewTemplate,
               view_template_config   AS viewTemplateConfig
        FROM form_customitem
        WHERE name = #{value}
    </select>

    <select id="getFormCustomItemById" parameterType="java.lang.Long"
            resultType="neatlogic.framework.form.dto.FormCustomItemVo">
        SELECT id,
               name,
               label,
               icon,
               is_active              AS isActive,
               config                 AS configStr,
               config_template_config AS configTemplateConfig,
               config_template        AS configTemplate,
               view_template          AS viewTemplate,
               view_template_config   AS viewTemplateConfig
        FROM form_customitem
        WHERE id = #{value}
    </select>

    <select id="getActionFormVersionByFormUuid" parameterType="java.lang.String"
            resultType="neatlogic.framework.form.dto.FormVersionVo">
        SELECT a.`uuid`,
               a.`version`,
               a.`is_active`   AS isActive,
               a.`form_uuid`   AS formUuid,
               a.`form_config` AS formConfigStr,
               b.`name`        AS formName
        FROM `form_version` a
                 JOIN `form` b
                      ON a.`form_uuid` = b.`uuid`
        WHERE a.`form_uuid` = #{value}
          AND a.`is_active` = 1
    </select>

    <select id="searchFormList" parameterType="neatlogic.framework.form.dto.FormVo"
            resultType="neatlogic.framework.form.dto.FormVo">
        SELECT
        f.`uuid`,
        f.`name`,
        f.`is_active` AS isActive,
        fv.`version` AS currentVersion,
        fv.`uuid` AS currentVersionUuid,
        fv.`fcu`,
        fv.`fcd`,
        fv.`lcu`,
        fv.`lcd`
        FROM `form` f
        JOIN `form_version` fv ON fv.`form_uuid`=f.`uuid` AND fv.`is_active` = 1
        <where>
            <if test="isActive != null">
                AND f.`is_active` = #{isActive}
            </if>
            <if test="keyword != null and keyword != ''">
                AND f.`name` LIKE CONCAT('%', #{keyword},'%')
            </if>
        </where>
        ORDER BY f.`fcd` DESC
        <if test="needPage">
            LIMIT #{startNum}, #{pageSize}
        </if>
    </select>

    <select id="getFormListByUuidList" parameterType="java.lang.String"
            resultType="neatlogic.framework.form.dto.FormVo">
        SELECT
        `uuid`,
        `name`,
        `is_active` AS isActive
        FROM `form`
        WHERE `uuid` IN
        <foreach collection="list" item="uuid" open="(" separator="," close=")">
            #{uuid}
        </foreach>
        ORDER BY `fcd` DESC
    </select>

    <select id="searchFormListForSelect" parameterType="neatlogic.framework.form.dto.FormVo"
            resultType="neatlogic.framework.common.dto.ValueTextVo">
        SELECT
        f.`uuid` as `value`,
        f.`name` as `text`
        FROM `form` f
        <where>
            <if test="isActive != null">
                AND f.`is_active` = #{isActive}
            </if>
            <if test="keyword != null and keyword != ''">
                AND f.`name` LIKE CONCAT('%', #{keyword},'%')
            </if>
        </where>
        ORDER BY f.`fcd` DESC
        <if test="needPage">
            LIMIT #{startNum}, #{pageSize}
        </if>
    </select>

    <select id="searchFormCount" parameterType="neatlogic.framework.form.dto.FormVo" resultType="int">
        SELECT
        COUNT(f.`uuid`)
        FROM
        `form` f
        JOIN `form_version` fv ON fv.`form_uuid`=f.`uuid` AND fv.`is_active` = 1
        <where>
            <if test="isActive != null">
                AND f.`is_active` = #{isActive}
            </if>
            <if test="keyword != null and keyword != ''">
                AND f.`name` LIKE CONCAT('%', #{keyword},'%')
            </if>
        </where>
    </select>

    <select id="getMaxVersionByFormUuid" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT max(version)
        FROM `form_version`
        WHERE form_uuid = #{value} FOR
        UPDATE
    </select>

    <select id="getFormVersionByUuid" parameterType="java.lang.String"
            resultType="neatlogic.framework.form.dto.FormVersionVo">
        SELECT `uuid`,
               `version`,
               `is_active`   AS isActive,
               `form_uuid`   AS formUuid,
               `form_config` AS formConfigStr,
               `fcu`,
               `fcd`,
               `lcu`,
               `lcd`
        FROM `form_version`
        WHERE `uuid` = #{value}
    </select>

    <select id="getFormByUuid" parameterType="java.lang.String" resultType="neatlogic.framework.form.dto.FormVo">
        SELECT `uuid`,
               `name`,
               `is_active` AS isActive
        FROM `form`
        WHERE `uuid` = #{value}
    </select>

    <select id="getFormByName" parameterType="java.lang.String" resultType="neatlogic.framework.form.dto.FormVo">
        SELECT `uuid`,
               `name`,
               `is_active` AS isActive
        FROM `form`
        WHERE `name` = #{value}
    </select>

    <select id="getFormActiveVersionByFormUuid" parameterType="java.lang.String"
            resultType="neatlogic.framework.form.dto.FormVersionVo">
        SELECT a.`uuid`,
               a.`version`,
               a.`is_active`   AS isActive,
               a.`form_uuid`   AS formUuid,
               a.`form_config` AS formConfigStr,
               a.`fcu`,
               a.`fcd`,
               a.`lcu`,
               a.`lcd`,
               b.name          AS formName
        FROM `form_version` a
                 join `form` b ON a.form_uuid = b.uuid
        WHERE a.form_uuid = #{value}
          and a.is_active = 1
    </select>

    <select id="getFormVersionByFormUuid" parameterType="java.lang.String"
            resultType="neatlogic.framework.form.dto.FormVersionVo">
        SELECT `uuid`,
               `version`,
               `is_active`   AS isActive,
               `form_uuid`   AS formUuid,
               `form_config` AS formConfigStr,
               `fcu`,
               `fcd`,
               `lcu`,
               `lcd`
        FROM `form_version`
        WHERE form_uuid = #{value}
        ORDER BY `version`
    </select>

    <select id="getFormVersionSimpleByFormUuid" parameterType="java.lang.String"
            resultType="neatlogic.framework.form.dto.FormVersionVo">
        SELECT `uuid`,
               `version`,
               `is_active` AS isActive,
               `fcu`,
               `fcd`,
               `lcu`,
               `lcd`
        FROM `form_version`
        WHERE form_uuid = #{value}
        ORDER BY `version`
    </select>

    <select id="checkFormIsExists" parameterType="java.lang.String" resultType="int">
        SELECT COUNT(`uuid`)
        FROM `form`
        WHERE `uuid` = #{uuid}
    </select>

    <select id="checkFormNameIsRepeat" parameterType="neatlogic.framework.form.dto.FormVo" resultType="int">
        SELECT COUNT(`uuid`)
        FROM `form`
        WHERE `name` = #{name}
          and `uuid` != #{uuid}
    </select>

    <select id="checkFormVersionIsExists" parameterType="java.lang.String" resultType="int">
        SELECT COUNT(`uuid`)
        FROM `form_version`
        WHERE `uuid` = #{uuid}
    </select>

    <select id="getFormAttributeByUuid" parameterType="java.lang.String"
            resultType="neatlogic.framework.form.dto.FormAttributeVo">
        SELECT a.`form_uuid`        AS formUuid,
               a.`formversion_uuid` as formversionUuid,
               a.`uuid`,
               a.`label`,
               a.`type`,
               a.`handler`,
               a.`config`           AS configStr,
               a.`data`
        FROM `form_attribute` a
                 JOIN `form_version` b ON b.`uuid` = a.`formversion_uuid` AND b.`is_active` = 1
        WHERE a.`uuid` = #{value}
    </select>

    <select id="getFormAttributeList" parameterType="neatlogic.framework.form.dto.FormAttributeVo"
            resultType="neatlogic.framework.form.dto.FormAttributeVo">
        SELECT
        a.`form_uuid` AS formUuid,
        a.`formversion_uuid` as formversionUuid,
        a.`uuid`,
        a.`label`,
        a.`type`,
        a.`handler`,
        a.`config` AS configStr,
        a.`data`
        FROM `form_attribute` a
        JOIN `form_version` b ON b.`uuid`=a.`formversion_uuid` AND b.`is_active` = 1
        WHERE a.`form_uuid` = #{formUuid}
        <if test="formVersionUuid != null">
            AND a.`formversion_uuid` = #{formVersionUuid}
        </if>
    </select>

    <select id="getFormAttributeListByFormUuidList" parameterType="java.util.List"
            resultType="neatlogic.framework.form.dto.FormAttributeVo">
        SELECT
        b.`form_uuid` AS formUuid,
        b.`formversion_uuid` AS formversionUuid,
        b.`uuid`,
        b.`label`,
        b.`type`,
        b.`handler`,
        b.`config` AS configStr,
        b.`data`
        FROM `form_version` a
        JOIN `form_attribute` b ON b.`form_uuid` = a.`form_uuid` AND a.`uuid` = b.`formversion_uuid`
        WHERE a.`is_active` = 1
        AND a.`form_uuid` IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getFormExtendAttributeListByFormUuidAndFormVersionUuid" parameterType="java.util.HashMap"
            resultType="neatlogic.framework.form.dto.FormAttributeVo">
        SELECT `form_uuid`        AS formUuid,
               `formversion_uuid` AS formVersionUuid,
               `parent_uuid`      AS parentUuid,
               `tag`,
               `key`,
               `uuid`,
               `label`,
               `type`,
               `handler`,
               `config`           AS configStr
        FROM `form_extend_attribute`
        WHERE `form_uuid` = #{formUuid}
          AND `formversion_uuid` = #{formVersionUuid}
    </select>

    <select id="getFormAttributeMatrixCount" resultType="int">
        SELECT COUNT(1)
        FROM `form_attribute_matrix`
    </select>

    <select id="getFormAttributeMatrixList" parameterType="neatlogic.framework.common.dto.BasePageVo"
            resultType="java.util.HashMap">
        select `matrix_uuid`          AS matrixUuid,
               `form_version_uuid`    AS formVersionUuid,
               `form_attribute_label` AS formAttributeLabel,
               `form_attribute_uuid`  AS formAttributeUuid
        FROM `form_attribute_matrix`
        LIMIT #{startNum}, #{pageSize}
    </select>

    <select id="getFormVersionListByFormConfigLikeKeyword" parameterType="java.lang.String"
            resultType="neatlogic.framework.form.dto.FormVersionVo">
        SELECT a.`uuid`,
               a.`version`,
               a.`is_active`   AS isActive,
               a.`form_uuid`   AS formUuid,
               a.`form_config` AS formConfigStr,
               a.`fcd`,
               a.`fcu`,
               a.`lcd`,
               a.`lcu`
        FROM `form_version` a
        WHERE a.`form_config` LIKE CONCAT('%', #{value}, '%')
        ORDER BY a.`form_uuid`
    </select>

    <select id="getFormVersionList" resultType="neatlogic.framework.form.dto.FormVersionVo">
        SELECT a.`uuid`,
               a.`version`,
               a.`is_active`   AS isActive,
               a.`form_uuid`   AS formUuid,
               a.`form_config` AS formConfigStr,
               a.`fcd`,
               a.`fcu`,
               a.`lcd`,
               a.`lcu`
        FROM `form_version` a
        ORDER BY a.`form_uuid`
    </select>

    <select id="getFormAttributeDataListByProcessTaskId" parameterType="java.lang.Long"
            resultType="neatlogic.framework.form.dto.AttributeDataVo">
        SELECT a.`id`,
               a.`form_uuid`       AS formUuid,
               a.`handler`,
               a.`attribute_label` AS attributeLabel,
               a.`attribute_uuid`  AS attributeUuid,
               a.`data`
        FROM `form_attribute_data` a
                 join processtask_formattribute b on a.id = b.form_attribute_data_id
        where b.processtask_id = #{value}
    </select>

    <select id="getFormAttributeDataListByIdList" parameterType="java.lang.Long"
            resultType="neatlogic.framework.form.dto.AttributeDataVo">
        SELECT
        `id`,
        `form_uuid` AS formUuid,
        `handler`,
        `attribute_label` AS attributeLabel,
        `attribute_uuid` AS attributeUuid,
        `data`
        FROM `form_attribute_data`
        WHERE `id` IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <update id="updateFormVersion" parameterType="neatlogic.framework.form.dto.FormVersionVo">
        UPDATE
        `form_version`
        SET
        <if test="isActive != null">
            `is_active` = #{isActive},
        </if>
        <if test="formConfigStr != null and formConfigStr != ''">
            `form_config` = #{formConfigStr},
        </if>
        `lcd` = NOW(3),
        `lcu` = #{lcu}
        WHERE `uuid` = #{uuid}
    </update>

    <update id="updateFormVersionConfigByUuid" parameterType="neatlogic.framework.form.dto.FormVersionVo">
        UPDATE `form_version`
        SET `form_config` = #{formConfigStr}
        WHERE `uuid` = #{uuid}
    </update>

    <update id="resetFormVersionIsActiveByFormUuid" parameterType="java.lang.String">
        UPDATE `form_version`
        SET `is_active` = 0
        WHERE `form_uuid` = #{value}
    </update>

    <update id="updateForm" parameterType="neatlogic.framework.form.dto.FormVo">
        UPDATE `form` SET
        <if test="isActive != null">
            `is_active` = #{isActive},
        </if>
        <if test="name != null and name != ''">
            `name`=#{name},
        </if>
        `uuid` = #{uuid}
        WHERE `uuid` = #{uuid};
    </update>

    <update id="updateFormCustomItem" parameterType="neatlogic.framework.form.dto.FormCustomItemVo">
        UPDATE form_customitem
        SET name                   = #{name},
            label                  = #{label},
            icon=#{icon},
            is_active              =#{isActive},
            config                 = #{configStr},
            config_template_config = #{configTemplateConfig},
            config_template        = #{configTemplate},
            view_template          = #{viewTemplate},
            view_template_config   = #{viewTemplateConfig}
        WHERE id = #{id}
    </update>

    <insert id="insertFormCustomItem" parameterType="neatlogic.framework.form.dto.FormCustomItemVo">
        INSERT INTO form_customitem (id,
                                     name,
                                     label,
                                     icon,
                                     is_active,
                                     config,
                                     config_template_config,
                                     config_template,
                                     view_template,
                                     view_template_config)
        VALUES (#{id},
                #{name},
                #{label},
                #{icon},
                #{isActive},
                #{configStr},
                #{configTemplateConfig},
                #{configTemplate},
                #{viewTemplate},
                #{viewTemplateConfig})
    </insert>

    <insert id="insertForm" parameterType="neatlogic.framework.form.dto.FormVo">
        INSERT INTO `form` (`uuid`,
                            `name`,
                            `is_active`,
                            `fcd`)
        VALUES (#{uuid},
                #{name},
                #{isActive},
                now(3))
    </insert>

    <insert id="insertFormVersion" parameterType="neatlogic.framework.form.dto.FormVersionVo">
        INSERT INTO `form_version` (`uuid`,
                                    `version`,
                                    `is_active`,
                                    `form_uuid`,
                                    `form_config`,
                                    `fcd`,
                                    `fcu`,
                                    `lcd`,
                                    `lcu`)
        VALUES (#{uuid},
                #{version},
                #{isActive},
                #{formUuid},
                #{formConfigStr},
                NOW(3),
                #{fcu},
                NOW(3),
                #{fcu})
    </insert>

    <insert id="insertFormAttribute" parameterType="neatlogic.framework.form.dto.FormAttributeVo">
        INSERT INTO `form_attribute` (`form_uuid`,
                                      `formversion_uuid`,
                                      `uuid`,
                                      `label`,
                                      `type`,
                                      `handler`,
                                      `config`,
                                      `data`)
        VALUES (#{formUuid},
                #{formVersionUuid},
                #{uuid},
                #{label},
                #{type},
                #{handler},
                #{configStr},
                #{data})
    </insert>

    <insert id="insertFormExtendAttribute" parameterType="neatlogic.framework.form.dto.FormAttributeVo">
        INSERT INTO `form_extend_attribute` (`form_uuid`,
                                             `formversion_uuid`,
                                             `parent_uuid`,
                                             `tag`,
                                             `key`,
                                             `uuid`,
                                             `label`,
                                             `type`,
                                             `handler`,
                                             `config`)
        VALUES (#{formUuid},
                #{formVersionUuid},
                #{parentUuid},
                #{tag},
                #{key},
                #{uuid},
                #{label},
                #{type},
                #{handler},
                #{configStr})
    </insert>

    <insert id="insertFormAttributeData" parameterType="neatlogic.framework.form.dto.AttributeDataVo">
        INSERT INTO `form_attribute_data` (`id`,
                                           `form_uuid`,
                                           `handler`,
                                           `attribute_label`,
                                           `attribute_uuid`,
                                           `data`)
        VALUES (#{id},
                #{formUuid},
                #{handler},
                #{attributeLabel},
                #{attributeUuid},
                #{data,typeHandler=CompressHandler})
        ON DUPLICATE KEY
            UPDATE `data` = #{data,typeHandler=CompressHandler}
    </insert>

    <insert id="insertFormAttributeDataList" parameterType="neatlogic.framework.form.dto.AttributeDataVo">
        INSERT INTO `form_attribute_data` (`id`,
        `form_uuid`,
        `handler`,
        `attribute_label`,
        `attribute_uuid`,
        `data`)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id},
            #{item.formUuid},
            #{item.handler},
            #{item.attributeLabel},
            #{item.attributeUuid},
            #{item.data,typeHandler=CompressHandler})
        </foreach>
        ON DUPLICATE KEY
        UPDATE `data` = VALUES(`data`)
    </insert>

    <insert id="insertFormExtendAttributeData" parameterType="neatlogic.framework.form.dto.AttributeDataVo">
        INSERT INTO `form_extend_attribute_data` (`id`,
                                                  `form_uuid`,
                                                  `handler`,
                                                  `tag`,
                                                  `attribute_label`,
                                                  `attribute_uuid`,
                                                  `data`)
        VALUES (#{id},
                #{formUuid},
                #{handler},
                #{tag},
                #{attributeLabel},
                #{attributeUuid},
                #{data,typeHandler=CompressHandler})
        ON DUPLICATE KEY
            UPDATE `data` = #{data,typeHandler=CompressHandler}
    </insert>

    <insert id="insertFormExtendAttributeDataList" parameterType="neatlogic.framework.form.dto.AttributeDataVo">
        INSERT INTO `form_extend_attribute_data` (`id`,
        `form_uuid`,
        `handler`,
        `tag`,
        `attribute_label`,
        `attribute_uuid`,
        `data`)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id},
            #{item.formUuid},
            #{item.handler},
            #{item.tag},
            #{item.attributeLabel},
            #{item.attributeUuid},
            #{item.data,typeHandler=CompressHandler})
        </foreach>
        ON DUPLICATE KEY
        UPDATE `data` = VALUES(`data`)
    </insert>

    <delete id="deleteFormAttributeByFormUuid" parameterType="java.lang.String">
        DELETE
        FROM `form_attribute`
        WHERE `form_uuid` = #{value}
    </delete>

    <delete id="deleteFormByUuid" parameterType="java.lang.String">
        DELETE
        FROM `form`
        WHERE `uuid` = #{uuid}
    </delete>

    <delete id="deleteFormVersionByFormUuid" parameterType="java.lang.String">
        DELETE
        FROM `form_version`
        WHERE `form_uuid` = #{formUuid}
    </delete>

    <delete id="deleteFormVersionByUuid" parameterType="java.lang.String">
        DELETE
        FROM `form_version`
        WHERE `uuid` = #{uuid}
    </delete>

    <delete id="deleteFormCustomItem" parameterType="java.lang.Long">
        DELETE
        FROM `form_customitem`
        WHERE id = #{value}
    </delete>

    <delete id="deleteFormAttributeDataByIdList" parameterType="java.lang.Long">
        DELETE FROM `form_attribute_data`
        WHERE `id` IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteFormExtendAttributeDataByIdList" parameterType="java.lang.Long">
        DELETE FROM `form_extend_attribute_data`
        WHERE `id` IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteFormExtendAttributeByFormUuidAndFormVersionUuid" parameterType="java.util.HashMap">
        DELETE
        FROM `form_extend_attribute`
        WHERE `form_uuid` = #{formUuid}
          AND `formversion_uuid` = #{formVersionUuid}
    </delete>
</mapper>
