<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.reminder.dao.mapper.GlobalReminderMapper">

    <select id="getReminderSubscribeListByUserUuid" parameterType="java.lang.String" resultType="codedriver.framework.reminder.dto.GlobalReminderSubscribeVo">
        SELECT
        `id`,
        `plugin_id` as `pluginId`,
        `user_uuid` as `userUuid`,
        `param`
        FROM `reminder_subscribe`
        WHERE `user_uuid` = #{userUuid}
    </select>

    <select id="getUserUuidListByTeamUuidList" resultType="java.lang.String">
        SELECT DISTINCT (`user_uuid`) FROM `user_team` WHERE `team_uuid` IN
        <foreach collection="list" open="(" separator="," close=")" item="teamUuid">
            #{teamUuid}
        </foreach>
    </select>

    <select id="getSubscribeUserUuidListByPluginId" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT DISTINCT (`user_uuid`) FROM `reminder_subscribe` WHERE `plugin_id` = #{pluginId}
    </select>

    <update id="updateReminderSubscribe" parameterType="codedriver.framework.reminder.dto.GlobalReminderSubscribeVo">
        UPDATE `reminder_subscribe` 
        SET `param` = #{param}
        WHERE `user_uuid` = #{userUuid}
        AND `plugin_id` = #{pluginId}
    </update>

    <insert id="insertReminderSubscribe" parameterType="codedriver.framework.reminder.dto.GlobalReminderSubscribeVo">
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        INSERT INTO `reminder_subscribe`(
        `plugin_id`,
        `user_uuid`,
        `param`
        ) VALUES(
        #{pluginId},
        #{userUuid},
        #{param}
        )
    </insert>

    <delete id="deleteReminderSubscribe" parameterType="codedriver.framework.reminder.dto.GlobalReminderSubscribeVo">
        DELETE FROM `reminder_subscribe`
        WHERE `user_uuid` = #{userUuid}
        AND `plugin_id` = #{pluginId}
    </delete>
</mapper>