<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.reminder.dao.mapper.GlobalReminderMessageMapper">
    <resultMap id="messageMap" type="codedriver.framework.reminder.dto.GlobalReminderMessageVo">
        <id column="id" property="id"/>
        <result column="pluginId" property="pluginId"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="createTime" property="createTime"/>
        <result column="fromUser" property="fromUser"/>
        <result column="fromUserName" property="fromUserName"/>
        <result column="isNew" property="isNew"/>
        <result column="isKeep" property="isKeep"/>
        <result column="messageParam" property="param"/>
        <association property="reminderSubscribeVo" javaType="codedriver.framework.reminder.dto.GlobalReminderSubscribeVo">
            <id column="subscribeId" property="id"/>
            <result column="userId" property="userId"/>
            <result column="userName" property="userName"/>
            <result  column="param" property="param"/>
        </association>
    </resultMap>

    <select id="getShowReminderMessageListByIdListAndUserId" parameterType="codedriver.framework.reminder.dto.ReminderMessageSearchVo" resultMap="messageMap">
        SELECT
        b.`id` as `id`,
        a.`is_new` as `isNew`,
        a.`is_keep` as `isKeep`,
        a.`user_id` as `userId`,
        c.`user_name` as `userName`,
        b.`title`,
        g.`content`,
        b.`param` as `messageParam`,
        b.`plugin_id` as `pluginId`,
        DATE_FORMAT(b.`create_time`, '%Y-%m-%d %H:%i:%s') AS createTime,
        b.`from_user` as `fromUserName`,
        e.`id` as `subscribeId`,
        e.`param` as `param`,
        (SELECT `user_name` FROM `user` WHERE `user_id` = #{userId}) as `userName`,
        (#{userId}) as `userId`
        FROM `reminder_message_user` a
        LEFT JOIN `reminder_message` b ON a.`reminder_message_id` = b.`id`
        LEFT JOIN `user` c ON a.`user_id` = c.`user_id`
        LEFT JOIN `reminder_message_content` g ON b.`id` = g.`reminder_message_id`
        LEFT JOIN  (SELECT * FROM `reminder_subscribe` WHERE `user_id` = #{userId}) e ON b.`plugin_id` = e.`plugin_id`
        WHERE a.`is_active` = 1
        AND e.`id` IS NOT null
        AND a.`user_id` = #{userId}
        AND b.`plugin_id` IN (
        SELECT `plugin_id` FROM `reminder_subscribe` WHERE `user_id` = #{userId}
        )
        AND UNIX_TIMESTAMP(b.`create_time`) &lt; UNIX_TIMESTAMP(#{endTime})
        AND UNIX_TIMESTAMP(b.`create_time`) &gt;= UNIX_TIMESTAMP(#{startTime})
        <if test="messageId !=null and messageId != 0">
            AND a.`reminder_message_id` &lt; #{messageId}
        </if>
        ORDER BY a.`reminder_message_id` desc
        LIMIT 0, #{messageCount}

    </select>

    <select id="getReminderMessageCountByDay" parameterType="codedriver.framework.reminder.dto.ReminderMessageSearchVo" resultType="java.lang.Integer">
        SELECT COUNT(a.reminder_message_id)
        FROM `reminder_message_user` a
        LEFT JOIN `reminder_message` b ON a.reminder_message_id = b.id
        LEFT JOIN (SELECT * FROM `reminder_subscribe` WHERE `user_id` = #{userId}) d ON b.`plugin_id` = d.`plugin_id`
        WHERE a.`user_id` = #{userId}
        AND d.`id` IS NOT null
        AND a.`is_active` = 1
        AND UNIX_TIMESTAMP(b.`create_time`) &lt; UNIX_TIMESTAMP(#{endTime})
        AND UNIX_TIMESTAMP(b.`create_time`) &gt;= UNIX_TIMESTAMP(#{startTime})
    </select>
    
    <select id="getScheduleMessageList" parameterType="java.lang.String" resultMap="messageMap">
          SELECT
        b.`id` as `id`,
        b.`plugin_id` as `pluginId`,
        a.`is_new` as `isNew`,
        a.`is_keep` as `isKeep`,
        a.`user_id` as `userId`,
        c.`user_name` as `userName`,
        b.`title`,
        g.`content`,
        b.`param` as `messageParam`,
        DATE_FORMAT(b.`create_time`, '%Y-%m-%d %H:%i:%s') AS createTime,
        b.`from_user` as `fromUserName`,
        e.`id` as `subscribeId`,
        e.`param` as `param`,
        (SELECT `user_name` FROM `user` WHERE `user_id` = #{userId}) as `userName`,
        (#{userId}) as `userId`
        FROM `reminder_message_user` a
        LEFT JOIN `reminder_message` b ON a.`reminder_message_id` = b.`id`
        LEFT JOIN `user` c ON a.`user_id` = c.`user_id`
        LEFT JOIN `reminder_message_content` g ON b.`id` = g.`reminder_message_id`
        LEFT JOIN (SELECT * FROM `reminder_subscribe` WHERE `user_id` = #{userId}) e ON b.`plugin_id` = e.`plugin_id`
        WHERE a.`is_active` = 1
        AND e.`id` IS NOT null
        AND a.`user_id` = #{userId}
        AND b.`plugin_id` IN (
          SELECT `plugin_id` FROM `reminder_subscribe` WHERE `user_id` = #{userId}
        )
        AND a.`is_new` = 1
    </select>

    <select id="getReminderMessageCount" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT COUNT(a.`reminder_message_id`)
        FROM `reminder_message_user` a
        LEFT JOIN `reminder_message` b ON a.`reminder_message_id` = b.`id`
        LEFT JOIN (SELECT * FROM `reminder_subscribe` WHERE `user_id` = #{userId}) d ON b.`plugin_id` = d.`plugin_id`
        WHERE a.`user_id`= #{userId}
         AND a.`is_active` = 1
         AND d.`id` IS NOT null
         AND DATE_SUB(CURDATE(), INTERVAL 6 DAY) &lt;= b.`create_time`
    </select>
    
    <update id="updateMessageKeepStatus">
        UPDATE `reminder_message_user` SET `is_keep` = 0 WHERE `reminder_message_id` = #{messageId} AND `user_id` = #{userId}
    </update>

    <update id="updateUserMessageNewStatus">
        UPDATE `reminder_message_user` SET is_new = 0 WHERE `reminder_message_id` = #{userMessageId} AND `user_id` = #{userId}
    </update>

    <update id="updateMessageActiveById">
        UPDATE `reminder_message_user` SET `is_active` = 0 WHERE `reminder_message_id` = #{messageId} AND `user_id` = #{userId}
    </update>

    <update id="updateAllMessageActive">
        UPDATE `reminder_message_user` SET `is_active` = 0 WHERE `user_id` = #{userId} AND `is_active` = 1
    </update>

    <update id="updateDayMessageActive" parameterType="codedriver.framework.reminder.dto.ReminderMessageSearchVo">
        UPDATE
          `reminder_message_user`
        SET `is_active` = 0
        WHERE `user_id` = #{userId}
        AND `reminder_message_id` IN (
          SELECT
            `id`
          FROM reminder_message
          WHERE UNIX_TIMESTAMP(`create_time`) &lt; UNIX_TIMESTAMP(#{endTime})
          AND UNIX_TIMESTAMP(`create_time`) &gt;= UNIX_TIMESTAMP(#{startTime}))
    </update>

    <update id="updateMessageActiveByReminderId">
      UPDATE `reminder_message_user`
        SET `is_active` = 0
        WHERE `reminder_message_id` IN (
            SELECT c.`reminder_message_id` FROM  (
                  SELECT `reminder_message_id`
                  FROM `reminder_message_user` a
                  LEFT JOIN `reminder_message` b ON a.`reminder_message_id` = b.`id`
                  WHERE a.`is_active` = 1
                  AND a.`user_id` = #{userId}
                  AND b.`plugin_id` = #{pluginId}
            ) c
        )
    </update>

    <insert id="insertReminderMessageUser">
         INSERT INTO `reminder_message_user` (
        `reminder_message_id`,
        `user_id`,
        `is_active`,
        `is_new`,
        `is_keep`
        ) VALUES (
        #{messageId},
        #{userId},
        1,
        1,
        1
        )
    </insert>

    <insert id="insertReminderMessage" parameterType="codedriver.framework.reminder.dto.GlobalReminderMessageVo">
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
        INSERT INTO `reminder_message` (
        `title`,
        `create_time`,
        `from_user`,
        `plugin_id`,
        `param`,
        `template`
        ) VALUES (
        #{title},
        NOW(),
        #{fromUser},
        #{pluginId},
        #{param},
        #{template}
        )
    </insert>
    
    <insert id="insertReminderMessageContent" parameterType="codedriver.framework.reminder.dto.GlobalReminderMessageVo">
        INSERT INTO `reminder_message_content`(
        `reminder_message_id`,
        `content`
        ) VALUES (
        #{id},
        #{content}
        )
    </insert>
</mapper>