<?xml version="1.0" encoding="UTF-8" ?>
<!--Copyright (C) $today.year  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.datawarehouse.dao.mapper.DataWarehouseDataSourceMapper">
    <select id="checkDataSourceNameIsExists" parameterType="neatlogic.framework.datawarehouse.dto.DataSourceVo"
            resultType="int">
        select count(1)
        from datawarehouse_datasource
        where name = #{name}
          and id != #{id}
    </select>

    <select id="getAllHasCronReportDataSource" resultType="neatlogic.framework.datawarehouse.dto.DataSourceVo">
        select a.id,
               a.`name`,
               a.label,
               a.description,
               a.cron_expression as cronExpression,
               a.is_active       as isActive
        from datawarehouse_datasource a
        where is_active = 1
          and a.cron_expression is not null
          and a.cron_expression != ''
    </select>

    <resultMap id="dataSourceResultMap" type="neatlogic.framework.datawarehouse.dto.DataSourceVo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="label" property="label"/>
        <result column="description" property="description"/>
        <result column="cronExpression" property="cronExpression"/>
        <result column="mode" property="mode"/>
        <result column="xml" property="xml"/>
        <result column="moduleId" property="moduleId"/>
        <result column="status" property="status"/>
        <result column="expireCount" property="expireCount"/>
        <result column="expireUnit" property="expireUnit"/>
        <result column="isActive" property="isActive"/>
        <result column="dataCount" property="dataCount"/>
        <result column="dbType" property="dbType"/>
        <collection property="fieldList" ofType="neatlogic.framework.datawarehouse.dto.DataSourceFieldVo">
            <id column="fieldId" property="id"/>
            <result column="fieldName" property="name"/>
            <result column="fieldLabel" property="label"/>
            <result column="fieldType" property="type"/>
            <result column="fieldInputType" property="inputType"/>
            <result column="fieldIsKey" property="isKey"/>
            <result column="fieldIsCondition" property="isCondition"/>
            <result column="fieldAggregate" property="aggregate"/>
            <result column="fieldConfigStr" property="configStr"/>
        </collection>
        <collection property="paramList" ofType="neatlogic.framework.datawarehouse.dto.DataSourceParamVo">
            <id column="paramId" property="id"/>
            <result column="paramName" property="name"/>
            <result column="paramLabel" property="label"/>
            <result column="paramDefaultValue" property="defaultValue"/>
            <result column="paramCurrentValue" property="currentValue"/>
        </collection>
    </resultMap>

    <select id="getDataSourceByIdList" resultType="neatlogic.framework.datawarehouse.dto.DataSourceVo">
        select a.id,
        a.`name`,
        a.label,
        a.description,
        a.mode,
        a.data_count as dataCount,
        a.expire_count as expireCount,
        a.expire_unit as expireUnit,
        a.cron_expression as cronExpression,
        a.is_active as isActive,
        a.status as status
        from datawarehouse_datasource a
        where a.id in
        <foreach collection="idList" item="item" open="(" close=")" separator=",">#{item}</foreach>
    </select>

    <sql id="getDataSourceDetailSql">
        select a.id,
               a.`name`,
               a.label,
               a.description,
               a.`xml`,
               a.mode,
               a.expire_count    as expireCount,
               a.expire_unit     as expireUnit,
               a.cron_expression as cronExpression,
               a.is_active       as isActive,
               a.status          as status,
               a.module_id as moduleId,
               a.data_count      as dataCount,
               a.db_type         as dbType,
               b.id              as fieldId,
               b.name            as fieldName,
               b.label           as fieldLabel,
               b.type            as fieldType,
               b.input_type      as fieldInputType,
               b.is_key          as fieldIsKey,
               b.is_condition    as fieldIsCondition,
               b.aggregate       as fieldAggregate,
               b.config          as fieldConfigStr,
               c.id              as paramId,
               c.name            as paramName,
               c.label           as paramLabel,
               c.default_value   as paramDefaultValue,
               c.current_value   as paramCurrentValue
        from datawarehouse_datasource a
                 left join datawarehouse_datasource_field b on a.id = b.datasource_id
                 left join datawarehouse_datasource_param c on a.id = c.datasource_id
    </sql>

    <select id="getDataSourceById" parameterType="java.lang.Long"
            resultMap="dataSourceResultMap">
        <include refid="getDataSourceDetailSql"/>
        where a.id = #{value}
    </select>

    <select id="getAllDataSource" parameterType="java.lang.Long"
            resultMap="dataSourceResultMap">
        <include refid="getDataSourceDetailSql"/>
    </select>

    <select id="getDataSourceDetailByName" parameterType="java.lang.String"
            resultMap="dataSourceResultMap">
        <include refid="getDataSourceDetailSql"/>
        where a.`name` = #{value}
    </select>

    <sql id="searchReportDataSourceSql">
        <where>
            <if test="keyword != null and keyword != ''">
                AND (`name` like concat('%',#{keyword},'%')
                or `label` like concat('%', #{keyword}, '%')
                or `description` like concat('%' ,#{keyword},'%'))
            </if>
            <if test="moduleId != null and moduleId != ''">
                and module_id = #{moduleId}
            </if>
            <if test="isActive != null">
                and is_active = #{isActive}
            </if>
            <if test="idList != null and idList.size() > 0">
                and id in
                <foreach collection="idList" item="item" open="(" close=")" separator=",">#{item}</foreach>
            </if>
        </where>
    </sql>

    <select id="searchDataSource" parameterType="neatlogic.framework.datawarehouse.dto.DataSourceVo"
            resultType="neatlogic.framework.datawarehouse.dto.DataSourceVo">
        select
        id,
        name,
        label,
        description,
        mode,
        status,
        module_id as moduleId,
        data_count AS dataCount,
        expire_count as expireCount,
        expire_unit as expireUnit,
        cron_expression as cronExpression,
        is_active as isActive,
        last_fire_time as lastFireTime,
        last_finish_time as lastFinishTime,
        next_fire_time as nextFireTime
        from datawarehouse_datasource
        <include refid="searchReportDataSourceSql"></include>
        order by id desc
        limit #{startNum}, #{pageSize}
    </select>

    <select id="searchDataSourceCount" parameterType="neatlogic.framework.datawarehouse.dto.DataSourceVo"
            resultType="int">
        select count(1)
        from datawarehouse_datasource
        <include refid="searchReportDataSourceSql"></include>
    </select>

    <select id="updateDataSource" parameterType="neatlogic.framework.datawarehouse.dto.DataSourceVo">
        update datawarehouse_datasource
        set label           = #{label},
            description     = #{description},
            data_count      = #{dataCount},
            cron_expression = #{cronExpression},
            mode            = #{mode},
            module_id = #{moduleId},
            expire_count    = #{expireCount},
            expire_unit     = #{expireUnit},
            is_active       = #{isActive},
            db_type         = #{dbType},
            xml             = #{xml,typeHandler=CompressHandler}
        where id = #{id}
    </select>

    <select id="updateDataSourcePolicy" parameterType="neatlogic.framework.datawarehouse.dto.DataSourceVo">
        update datawarehouse_datasource
        set cron_expression = #{cronExpression},
            label           = #{label},
            mode            = #{mode},
            expire_count    = #{expireCount},
            expire_unit     = #{expireUnit},
            db_type         = #{dbType},
            is_active       = #{isActive}
        where id = #{id}
    </select>

    <select id="updateReportDataSourceIsActive"
            parameterType="neatlogic.framework.datawarehouse.dto.DataSourceVo">
        update datawarehouse_datasource
        set is_active = #{isActive}
        where id = #{id}
    </select>

    <select id="insertDataSource" parameterType="neatlogic.framework.datawarehouse.dto.DataSourceVo">
        insert into datawarehouse_datasource (id,
                                              name,
                                              label,
                                              description,
                                              cron_expression,
                                              mode,
                                              module_id,
                                              expire_count,
                                              expire_unit,
                                              xml,
                                              db_type,
                                              is_active)
        values (#{id},
                #{name},
                #{label},
                #{description},
                #{cronExpression},
                #{mode},
                #{moduleId},
                #{expireCount},
                #{expireUnit},
                #{xml,typeHandler=CompressHandler},
                #{dbType},
                #{isActive})
    </select>

    <select id="getExistIdListByIdList" parameterType="java.util.List" resultType="java.lang.Long">
        select `id` from datawarehouse_datasource where `id` in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getDataSourceNameAndFieldNameListById" parameterType="java.lang.Long" resultMap="dataSourceResultMap">
        select a.id,
               a.`name`,
               b.id   as fieldId,
               b.name as fieldName
        from datawarehouse_datasource a
                 left join datawarehouse_datasource_field b on a.id = b.datasource_id
        where a.id = #{value}
    </select>

    <select id="getDataSourceListByNameList" parameterType="java.util.List" resultMap="dataSourceResultMap">
        select a.id,
        a.`name`,
        b.id as fieldId,
        b.name as fieldName
        from datawarehouse_datasource a
        left join datawarehouse_datasource_field b on a.id = b.datasource_id
        where a.name in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <update id="resetReportDataSourceStatus">
        update datawarehouse_datasource
        set status = 'done'
        where status != 'done'
    </update>

    <update id="updateReportDataSourceDataCount"
            parameterType="neatlogic.framework.datawarehouse.dto.DataSourceVo">
        update datawarehouse_datasource
        set data_count = #{dataCount}
        where id = #{id}
    </update>

    <update id="updateReportDataSourceStatus" parameterType="neatlogic.framework.datawarehouse.dto.DataSourceVo">
        update datawarehouse_datasource
        set status = #{status}
        <if test="dataCount!=null">
            ,data_count = #{dataCount}
        </if>
        where id = #{id}
    </update>

    <update id="updateReportDataSourceConditionValue"
            parameterType="neatlogic.framework.datawarehouse.dto.DataSourceParamVo">
        update datawarehouse_datasource_condition
        set value = #{value}
        where id = #{id}
    </update>

    <update id="updateDataSourceField" parameterType="neatlogic.framework.datawarehouse.dto.DataSourceFieldVo">
        update datawarehouse_datasource_field
        set
        <if test="isCondition != null">
            is_condition = #{isCondition},
        </if>
        <if test="inputType != null">
            input_type = #{inputType},
        </if>
        <if test="configStr != null">
            config = #{configStr},
        </if>
        label = #{label},
        is_key = #{isKey},
        aggregate = #{aggregate}
        where id = #{id}
    </update>

    <update id="updateDataSourceParam" parameterType="neatlogic.framework.datawarehouse.dto.DataSourceParamVo">
        update datawarehouse_datasource_param
        set label         = #{label},
            default_value = #{defaultValue}
        where id = #{id}
    </update>

    <update id="updateDataSourceParamCurrentValue"
            parameterType="neatlogic.framework.datawarehouse.dto.DataSourceParamVo">
        update datawarehouse_datasource_param
        set current_value = #{currentValue}
        where id = #{id}
    </update>

    <update id="updateDataSourceFieldCondition"
            parameterType="neatlogic.framework.datawarehouse.dto.DataSourceFieldVo">
        update datawarehouse_datasource_field
        set is_condition = #{isCondition},
            config       = #{configStr,typeHandler=CompressHandler},
            input_type   = #{inputType}
        where id = #{id}
    </update>

    <update id="updateDataSourceJobTimeById" parameterType="neatlogic.framework.datawarehouse.dto.DataSourceVo">
        UPDATE `datawarehouse_datasource`
        SET
            `last_fire_time` = #{lastFireTime},
            `last_finish_time` = #{lastFinishTime},
            `next_fire_time` = #{nextFireTime}
        WHERE `id` = #{id}
    </update>

    <update id="updateDataSourceNextFireTimeById">
        UPDATE `datawarehouse_datasource`
        SET
            `next_fire_time` = #{nextFireTime}
        WHERE `id` = #{id}
    </update>

    <insert id="insertDataSourceParam" parameterType="neatlogic.framework.datawarehouse.dto.DataSourceParamVo">
        insert into datawarehouse_datasource_param
            (id, datasource_id, name, label, default_value)
        values (#{id}, #{dataSourceId}, #{name}, #{label}, #{defaultValue})
    </insert>

    <insert id="batchInsertDataSourceParam" parameterType="java.util.List">
        insert into datawarehouse_datasource_param
        (id, datasource_id, name, label, default_value)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.dataSourceId}, #{item.name}, #{item.label}, #{item.defaultValue})
        </foreach>
    </insert>

    <insert id="insertDataSourceField"
            parameterType="neatlogic.framework.datawarehouse.dto.DataSourceFieldVo">
        insert into datawarehouse_datasource_field
        (id,
         datasource_id,
         name,
         label,
         type,
         aggregate,
         is_key,
         is_condition,
         input_type,
         config)
        values (#{id},
                #{dataSourceId},
                #{name},
                #{label},
                #{type},
                #{aggregate},
                #{isKey},
                #{isCondition},
                #{inputType},
                #{configStr})
    </insert>

    <insert id="batchInsertDataSourceField" parameterType="java.util.List">
        insert into datawarehouse_datasource_field
        (id,
        datasource_id,
        name,
        label,
        type,
        aggregate,
        is_key,
        is_condition,
        input_type,
        config
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.dataSourceId},
            #{item.name},
            #{item.label},
            #{item.type},
            #{item.aggregate},
            #{item.isKey},
            #{item.isCondition},
            #{item.inputType},
            #{item.configStr}
            )
        </foreach>
    </insert>

    <!-- <insert id="insertReportDataSourceCondition"
             parameterType="neatlogic.framework.datawarehouse.dto.DataSourceConditionVo">
         insert into datawarehouse_datasource_condition
         (id,
          datasource_id,
          name,
          label,
          type,
          is_required,
          config)
         values (#{id},
                 #{dataSourceId},
                 #{name},
                 #{label},
                 #{type},
                 #{isRequired},
                 #{configStr})
     </insert>-->

    <delete id="deleteReportDataSourceById" parameterType="java.lang.Long">
        delete
        from datawarehouse_datasource
        where id = #{value}
    </delete>


    <delete id="deleteDataSourceFieldByDataSourceId" parameterType="java.lang.Long">
        delete
        from datawarehouse_datasource_field
        where datasource_id = #{value}
    </delete>

    <delete id="deleteDataSourceFieldById" parameterType="java.lang.Long">
        delete
        from datawarehouse_datasource_field
        where id = #{value}
    </delete>

    <delete id="deleteDataSourceFieldByIdList" parameterType="java.util.List">
        delete
        from datawarehouse_datasource_field
        where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteDataSourceParamById" parameterType="java.lang.Long">
        delete
        from datawarehouse_datasource_param
        where id = #{value}
    </delete>

    <delete id="deleteDataSourceParamByIdList" parameterType="java.util.List">
        delete
        from datawarehouse_datasource_param
        where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteDataSourceParamByDataSourceId" parameterType="java.lang.Long">
        delete
        from datawarehouse_datasource_param
        where datasource_id = #{value}
    </delete>

</mapper>
