<?xml version="1.0" encoding="UTF-8" ?>
<!--Copyright (C) 2024  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.datawarehouse.dao.mapper.DataWarehouseDataSourceAuditMapper">
    <sql id="searchReportDataSourceAuditCondition">
        <where>
            <if test="dataSourceId != null">
                datasource_id = #{dataSourceId}
            </if>
        </where>
    </sql>

    <select id="searchReportDataSourceAudit"
            parameterType="neatlogic.framework.datawarehouse.dto.DataSourceAuditVo"
            resultType="neatlogic.framework.datawarehouse.dto.DataSourceAuditVo">
        SELECT id,
        datasource_id AS dataSourceId,
        start_time AS startTime,
        end_time AS endTime,
        data_count AS dataCount,
        error
        FROM datawarehouse_datasource_audit
        <include refid="searchReportDataSourceAuditCondition"></include>
        order by id desc
        limit #{startNum}, #{pageSize}
    </select>

    <select id="searchReportDataSourceAuditCount"
            parameterType="neatlogic.framework.datawarehouse.dto.DataSourceAuditVo"
            resultType="int">
        SELECT count(1)
        FROM datawarehouse_datasource_audit
        <include refid="searchReportDataSourceAuditCondition"></include>
    </select>

    <insert id="insertReportDataSourceAudit"
            parameterType="neatlogic.framework.datawarehouse.dto.DataSourceAuditVo">
        insert into datawarehouse_datasource_audit
            (id, datasource_id, start_time)
        values (#{id}, #{dataSourceId}, now(3))
    </insert>

    <update id="updateReportDataSourceAudit"
            parameterType="neatlogic.framework.datawarehouse.dto.DataSourceAuditVo">
        update datawarehouse_datasource_audit
        set end_time   = now(3),
            data_count = #{dataCount},
            error= #{error,typeHandler=CompressHandler}
        where id = #{id}
    </update>

    <delete id="deleteReportDataSourceAuditByDatasourceId" parameterType="java.lang.Long">
        delete
        from datawarehouse_datasource_audit
        where datasource_id = #{value}
    </delete>

    <delete id="deleteAuditByDayBefore" parameterType="int">
        delete
        from datawarehouse_datasource_audit
        where end_time &lt; DATE_SUB(CURRENT_DATE, INTERVAL #{value} DAY)
    </delete>
</mapper>
