<?xml version="1.0" encoding="UTF-8" ?>
<!--
Copyright(c) 2023 NeatLogic Co., Ltd. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.datawarehouse.dao.mapper.DataWarehouseDataSourceSchemaMapper">
    <insert id="createDataSourceTable" parameterType="neatlogic.framework.datawarehouse.dto.DataSourceVo">
        CREATE TABLE IF NOT EXISTS ${tableName}
        (
        <foreach collection="fieldList" item="item">
            `${item.id}`
            <choose>
                <when test="item.type == 'number'">
                    decimal(50,4)
                </when>
                <when test="item.type == 'date'">
                    date
                </when>
                <when test="item.type == 'time'">
                    time
                </when>
                <when test="item.type == 'datetime'">
                    datetime
                </when>
                <otherwise>TEXT</otherwise>
            </choose>
            NULL COMMENT '${item.label}-${item.name}',
            `${item.id}_hash` char(32) NULL COMMENT '${item.label}-${item.name}哈希值',
        </foreach>
        `expire_time` timestamp NULL COMMENT '过期时间',
        `insert_time` timestamp(3) COMMENT '更新时间',
        `id` bigint NOT NULL COMMENT 'id',
        <foreach collection="fieldList" item="item">
            <if test="item.type == 'number' or item.type == 'date' or item.type == 'time' or item.type == 'datetime'">
                KEY `idx_${item.id}` (`${item.id}`) USING BTREE,
            </if>
        </foreach>
        KEY `idx_insert_time` (`insert_time`) USING BTREE,
        KEY `idx_expire_time` (`expire_time`) USING BTREE,
        <if test="keyList != null and keyList.size() > 0">
            UNIQUE KEY `uk`
            <foreach collection="keyList" item="item" open="(" close=")" separator=",">
                `${item}_hash`
            </foreach>
            USING BTREE,
        </if>
        PRIMARY KEY (`id`) USING BTREE
        ) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci
    </insert>

    <delete id="deleteDataSourceTable" parameterType="neatlogic.framework.datawarehouse.dto.DataSourceVo">
        DROP TABLE IF EXISTS ${tableName}
    </delete>
</mapper>
