<?xml version="1.0" encoding="UTF-8" ?>
<!--Copyright (C) 2024  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.datawarehouse.dao.mapper.DataWarehouseDataSourceSchemaMapper">
    <insert id="createDataSourceTable" parameterType="neatlogic.framework.datawarehouse.dto.DataSourceVo">
        CREATE TABLE IF NOT EXISTS ${tableName}
        (
        <foreach collection="fieldList" item="item">
            `${item.id}`
            <choose>
                <when test="item.type == 'number'">
                    decimal(50,4)
                </when>
                <when test="item.type == 'date'">
                    date
                </when>
                <when test="item.type == 'time'">
                    time
                </when>
                <when test="item.type == 'datetime'">
                    datetime
                </when>
                <otherwise>TEXT</otherwise>
            </choose>
            NULL COMMENT '${item.label}-${item.name}',
            `${item.id}_hash` char(32) NULL COMMENT '${item.label}-${item.name}哈希值',
        </foreach>
        `expire_time` timestamp NULL COMMENT '过期时间',
        `insert_time` timestamp(3) COMMENT '更新时间',
        `id` bigint NOT NULL COMMENT 'id',
        <foreach collection="fieldList" item="item">
            <if test="item.type == 'number' or item.type == 'date' or item.type == 'time' or item.type == 'datetime'">
                KEY `idx_${item.id}` (`${item.id}`) USING BTREE,
            </if>
        </foreach>
        KEY `idx_insert_time` (`insert_time`) USING BTREE,
        KEY `idx_expire_time` (`expire_time`) USING BTREE,
        <if test="keyList != null and keyList.size() > 0">
            UNIQUE KEY `uk`
            <foreach collection="keyList" item="item" open="(" close=")" separator=",">
                `${item}_hash`
            </foreach>
            USING BTREE,
        </if>
        PRIMARY KEY (`id`) USING BTREE
        ) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci
    </insert>

    <delete id="deleteDataSourceTable" parameterType="neatlogic.framework.datawarehouse.dto.DataSourceVo">
        DROP TABLE IF EXISTS ${tableName}
    </delete>
</mapper>
