<?xml version="1.0" encoding="UTF-8" ?>
<!--Copyright (C) $today.year  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.fulltextindex.dao.mapper.FullTextIndexWordMapper">
    <cache type="neatlogic.framework.dao.cache.NeatLogicCache" flushInterval="300000" size="10"></cache>

    <select id="getWordByWord" parameterType="java.lang.String"
            resultType="neatlogic.framework.fulltextindex.dto.fulltextindex.FullTextIndexWordVo">
        SELECT id, word, type
        FROM `fulltextindex_word`
        WHERE word = #{value}
    </select>


    <insert id="insertWord" parameterType="neatlogic.framework.fulltextindex.dto.fulltextindex.FullTextIndexWordVo">
        INSERT IGNORE
        INTO `fulltextindex_word` (id, word, type)
        VALUES (#{id}, #{word},
                #{type})
    </insert>
</mapper>

