<?xml version="1.0" encoding="UTF-8" ?>
<!--Copyright (C) $today.year  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.fulltextindex.dao.mapper.FullTextIndexSchemaMapper">
    <insert id="createFullTextIndexContentTable" parameterType="java.lang.String">
        CREATE TABLE IF NOT EXISTS `fulltextindex_content_${value}`
        (
            `target_id`    bigint(20)   NOT NULL COMMENT '目标id',
            `target_field` varchar(100) NOT NULL COMMENT '字段',
            `content`      mediumtext COMMENT '内容',
            PRIMARY KEY (`target_id`, `target_field`)
        ) ENGINE = InnoDB
          DEFAULT CHARSET = utf8mb4
          COLLATE = utf8mb4_general_ci COMMENT ='目标内容表'
    </insert>

    <insert id="createFullTextIndexTargetTable" parameterType="java.lang.String">
        CREATE TABLE IF NOT EXISTS `fulltextindex_target_${value}`
        (
            `target_id`   bigint(20)  NOT NULL COMMENT '目标id',
            `target_type` varchar(50) NOT NULL COMMENT '目标类型',
            `hit_count`   int(10) COMMENT '命中次数',
            `click_count` int(10) COMMENT '点击次数',
            `error`       longtext DEFAULT NULL COMMENT '索引异常',
            PRIMARY KEY (`target_id`),
            KEY `idx_type` (`target_type`) USING HASH
        ) ENGINE = InnoDB
          DEFAULT CHARSET = utf8mb4
          COLLATE = utf8mb4_general_ci COMMENT ='目标索引命中表'
    </insert>

    <insert id="createFullTextIndexFieldTable" parameterType="java.lang.String">
        CREATE TABLE IF NOT EXISTS `fulltextindex_field_${value}`
        (
            `id`           bigint(20) unsigned NOT NULL AUTO_INCREMENT COMMENT 'id',
            `word_id`      bigint(20)          NOT NULL COMMENT '词id',
            `target_field` varchar(100)                 DEFAULT NULL COMMENT '字段',
            `target_id`    bigint(20)          NOT NULL COMMENT '目标文档id',
            `counter`      int(10)             NOT NULL DEFAULT '0' COMMENT '出现次数',
            PRIMARY KEY (`id`),
            UNIQUE KEY `idx_word` (`word_id`, `target_id`, `target_field`),
            KEY `idx_target_id` (`target_id`, `target_field`)
        ) ENGINE = InnoDB
          DEFAULT CHARSET = utf8mb4
          COLLATE = utf8mb4_general_ci COMMENT ='目标索引词表'
    </insert>

    <insert id="createFullTextIndexOffsetTable" parameterType="java.lang.String">
        CREATE TABLE IF NOT EXISTS `fulltextindex_offset_${value}`
        (
            `field_id` bigint(20) NOT NULL COMMENT '词id',
            `start`    int(10)    NOT NULL COMMENT 'start',
            `end`      int(10)    NOT NULL COMMENT 'end',
            PRIMARY KEY (`field_id`, `start`, `end`)
        ) ENGINE = InnoDB
          DEFAULT CHARSET = utf8mb4
          COLLATE = utf8mb4_general_ci COMMENT ='目标索引词定位表'
    </insert>
</mapper>

