<?xml version="1.0" encoding="UTF-8" ?>
<!--Copyright (C) $today.year  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.fulltextindex.dao.mapper.FullTextIndexRebuildAuditMapper">
    <select id="searchFullTextIndexRebuildAudit"
            parameterType="neatlogic.framework.fulltextindex.dto.fulltextindex.FullTextIndexRebuildAuditVo"
            resultType="neatlogic.framework.fulltextindex.dto.fulltextindex.FullTextIndexRebuildAuditVo">
        select type, status, start_time as startTime, end_time as endTime, editor, server_id as serverId
        from fulltextindex_rebuild_audit
        <where>
            <if test="typeList != null and typeList.size() > 0">
                and type in
                <foreach collection="typeList" item="item" open="(" close=")" separator=",">#{item}</foreach>
            </if>
        </where>
    </select>

    <update id="resetFullTextIndexRebuildAuditStatus">
        update fulltextindex_rebuild_audit
        set status = 'done'
        where status = 'doing'
    </update>

    <update id="updateFullTextIndexRebuildAuditStatus"
            parameterType="neatlogic.framework.fulltextindex.dto.fulltextindex.FullTextIndexRebuildAuditVo">
        update fulltextindex_rebuild_audit
        set status = #{status},
        error = #{error,typeHandler=CompressHandler}
        <if test="status == 'done'">
            ,end_time = now(3)
        </if>
        where type = #{type}
    </update>

    <insert id="insertFullTextIndexRebuildAudit"
            parameterType="neatlogic.framework.fulltextindex.dto.fulltextindex.FullTextIndexRebuildAuditVo">
        insert into fulltextindex_rebuild_audit (type, status, start_time, editor, server_id)
        values (#{type}, #{status}, now(3), #{editor}, #{serverId})
        ON DUPLICATE KEY UPDATE `start_time` = now(3),
                                `status`     = #{status},
                                `end_time`   = null,
                                `server_id`  = #{serverId},
                                `editor`     = #{editor},
                                `error`      = null
    </insert>
</mapper>

