<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2021 TechSure Co., Ltd. All Rights Reserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.fulltextindex.dao.mapper.FullTextIndexRebuildAuditMapper">
    <select id="searchFullTextIndexRebuildAudit"
            resultType="codedriver.framework.fulltextindex.dto.fulltextindex.FullTextIndexRebuildAuditVo">
        select type, status, start_time, end_time, editor, server_id as serverId
        from fulltextindex_rebuild_audit
    </select>

    <update id="updateFullTextIndexRebuildAuditStatus"
            parameterType="codedriver.framework.fulltextindex.dto.fulltextindex.FullTextIndexRebuildAuditVo">
        update fulltextindex_rebuild_audit
        set status = #{status},
        error = #{error,typeHandler=CompressHandler}
        <if test="status == 'done'">
            ,end_time = now(3)
        </if>
        where type = #{type}
    </update>

    <insert id="insertFullTextIndexRebuildAudit"
            parameterType="codedriver.framework.fulltextindex.dto.fulltextindex.FullTextIndexRebuildAuditVo">
        insert into fulltextindex_rebuild_audit (type, status, start_time, editor, server_id)
        values (#{type}, #{status}, now(3), #{editor}, #{serverId})
        ON DUPLICATE KEY UPDATE `start_time` = now(3),
                                `end_time`   = null,
                                `server_id`  = #{serverId},
                                `editor`     = #{editor},
                                `error`      = null
    </insert>
</mapper>

