<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.fulltextindex.dao.mapper.FullTextIndexWordMapper">
    <cache type="codedriver.framework.dao.cache.CodeDriverCache" flushInterval="300000" size="10"></cache>

    <select id="getWordByWord" parameterType="java.lang.String"
            resultType="codedriver.framework.fulltextindex.dto.FullTextIndexWordVo">
        SELECT id, word, type
        FROM `fulltextindex_word`
        WHERE word = #{value}
    </select>


    <insert id="insertWord" parameterType="codedriver.framework.fulltextindex.dto.FullTextIndexWordVo">
        INSERT IGNORE
        INTO `fulltextindex_word` (id, word, type)
        VALUES (#{id}, #{word},
                #{type})
    </insert>
</mapper>

