<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2021 TechSure Co., Ltd. All Rights Reserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.fulltextindex.dao.mapper.FullTextIndexSchemaMapper">
    <insert id="createFullTextIndexContentTable" parameterType="java.lang.String">
        CREATE TABLE IF NOT EXISTS `fulltextindex_content_${value}`
        (
            `target_id`    bigint(20)   NOT NULL,
            `target_field` varchar(100) NOT NULL,
            `content`      mediumtext,
            PRIMARY KEY (`target_id`, `target_field`)
        ) ENGINE = InnoDB
          DEFAULT CHARSET = utf8mb4
    </insert>

    <insert id="createFullTextIndexTargetTable" parameterType="java.lang.String">
        CREATE TABLE IF NOT EXISTS `fulltextindex_target_${value}`
        (
            `target_id`   bigint(20)  NOT NULL COMMENT '目标id',
            `target_type` varchar(50) NOT NULL COMMENT '目标类型',
            `hit_count`   int(10) COMMENT '命中次数',
            `click_count` int(10) COMMENT '点击次数',
            PRIMARY KEY (`target_id`)
        ) ENGINE = InnoDB
          DEFAULT CHARSET = utf8mb4
    </insert>

    <insert id="createFullTextIndexFieldTable" parameterType="java.lang.String">
        CREATE TABLE IF NOT EXISTS `fulltextindex_field_${value}`
        (
            `id`           bigint(20) unsigned NOT NULL AUTO_INCREMENT,
            `word_id`      bigint(20)          NOT NULL COMMENT '词id',
            `target_field` varchar(100)                 DEFAULT NULL COMMENT '字段',
            `target_id`    bigint(20)          NOT NULL COMMENT '目标文档id',
            `counter`      int(10)             NOT NULL DEFAULT '0' COMMENT '出现次数',
            PRIMARY KEY (`id`),
            UNIQUE KEY `idx_word` (`word_id`, `target_id`, `target_field`),
            KEY `idx_target_id` (`target_id`, `target_field`)
        ) ENGINE = InnoDB
          DEFAULT CHARSET = utf8mb4
    </insert>

    <insert id="createFullTextIndexOffsetTable" parameterType="java.lang.String">
        CREATE TABLE IF NOT EXISTS `fulltextindex_offset_${value}`
        (
            `field_id` bigint(20) NOT NULL COMMENT 'field_id',
            `start`    int(10)    NOT NULL COMMENT 'start',
            `end`      int(10)    NOT NULL COMMENT 'end',
            PRIMARY KEY (`field_id`, `start`, `end`)
        ) ENGINE = InnoDB
          DEFAULT CHARSET = utf8mb4
    </insert>
</mapper>

