<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.fulltextindex.dao.mapper.FullTextIndexMapper">
    <resultMap id="fullTextIndexMap" type="codedriver.framework.fulltextindex.dto.FullTextIndexVo">
        <id column="target_id" property="targetId"/>
        <id column="target_field" property="targetField"/>
        <collection property="wordOffsetVoList"
                    ofType="codedriver.framework.fulltextindex.dto.FullTextIndexWordOffsetVo">
            <result column="word" property="word"/>
            <result column="start" property="start"/>
            <result column="end" property="end"/>
        </collection>
    </resultMap>

    <select id="getFullTextIndexListByKeywordListAndTargetList" parameterType="java.util.List" resultMap="fullTextIndexMap">
        SELECT `target_id`,`target_field`,`word`,`start`,`end` FROM `fulltextindex_field` ftf
        LEFT JOIN `fulltextindex_offset` fto ON ftf.id = fto.`field_id`
        LEFT JOIN `fulltextindex_word` ftw ON ftw.`id` = ftf.`word_id`
        WHERE
        target_id IN
        <foreach collection="targetIdList" item="targetId" open="("
                 separator="," close=")">#{targetId}
        </foreach>
        AND
        word IN
        <foreach collection="keywordList" item="k" open="("
                 separator="," close=")">#{k}
        </foreach>
        ORDER BY ftf.`counter` DESC
    </select>

    <select id="getContentByTargetId" parameterType="java.lang.Long"
            resultType="codedriver.framework.fulltextindex.dto.FullTextIndexContentVo">
        SELECT target_id AS targetId, target_type AS targetType, target_field AS targetField, content
        FROM `fulltextindex_content`
        WHERE target_id = #{value}
    </select>

    <select id="getContentByTargetIdList" parameterType="java.lang.Long"
            resultType="codedriver.framework.fulltextindex.dto.FullTextIndexContentVo">
        SELECT target_id AS targetId, target_type AS targetType, target_field AS targetField, content
        FROM `fulltextindex_content`
        WHERE target_id in
        <foreach collection="list" item="k" open="("
                 separator="," close=")">#{k}
        </foreach>
    </select>

    <insert id="insertField" parameterType="codedriver.framework.fulltextindex.dto.FullTextIndexFieldWordVo">
        INSERT INTO `fulltextindex_field` (`id`,
                                           `word_id`,
                                           `target_field`,
                                           `target_type`,
                                           `target_id`,
                                           `counter`)
        VALUES (#{id},
                #{wordId},
                #{targetField},
                #{targetType},
                #{targetId},
                #{counter})
    </insert>

    <insert id="insertFieldOffset" parameterType="codedriver.framework.fulltextindex.dto.FullTextIndexOffsetVo">
        INSERT IGNORE INTO `fulltextindex_offset` (`field_id`, `start`, `end`)
        VALUES (#{fieldId}, #{start}, #{end})
    </insert>

    <insert id="insertContent" parameterType="codedriver.framework.fulltextindex.dto.FullTextIndexContentVo">
        INSERT INTO `fulltextindex_content` (`target_id`,
                                             `target_type`,
                                             `target_field`,
                                             `content`)
        VALUES (#{targetId},
                #{targetType},
                #{targetField},
                #{content,typeHandler=CompressHandler})
        ON DUPLICATE KEY UPDATE `content` = #{content,typeHandler=CompressHandler}
    </insert>

    <delete id="deleteFullTextIndexByTargetIdAndType"
            parameterType="codedriver.framework.fulltextindex.dto.FullTextIndexVo">
        DELETE a,b,c
        FROM fulltextindex_field a
                 LEFT JOIN fulltextindex_offset b ON
            a.`id` = b.field_id
                 LEFT JOIN fulltextindex_content c ON a.target_id = c.target_id AND a.target_type = c.target_type
        WHERE a.`target_id` = #{targetId}
          and a.`target_type` = #{targetType}
    </delete>

</mapper>

