<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.heartbeat.dao.mapper.TenantServerMapper">

    <insert id="insertTenantServerRunTime">
        INSERT INTO `tenant_server_run_time`(`server_id`, `start_time`, `heartbeat_time`)
        VALUES(#{serverId}, #{startTime}, NOW(3))
        ON DUPLICATE KEY UPDATE `heartbeat_time` = NOW(3)
    </insert>
</mapper>