<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.elasticsearch.dao.mapper.ElasticSearchMapper">

	<select id="getElasticSearchAudit" parameterType="codedriver.framework.elasticsearch.dto.ElasticSearchAuditVo" resultType="codedriver.framework.elasticsearch.dto.ElasticSearchAuditVo">
		SELECT 
		  a.`handler`,
		  b.`param`,
		  a.`update_time` 
		FROM
		  `elasticsearch_audit` a
		  LEFT JOIN `elasticsearch_param` b ON a.`param_hash` = b.`hash` 
	</select>

	<insert id="insertElasticSearchAudit" parameterType="codedriver.framework.elasticsearch.dto.ElasticSearchAuditVo">
		INSERT ignore INTO `elasticsearch_audit` (`handler`,`param_hash`) 
		VALUES
		  (#{handler}, #{paramHash}) ;
	</insert>
	
	<insert id="insertElasticSearchParam" parameterType="codedriver.framework.elasticsearch.dto.ElasticSearchAuditVo">
		INSERT ignore INTO `elasticsearch_param` (`hash`,`param`) 
		VALUES
		  (#{paramHash}, #{param}) ;
	</insert>
	
	<delete id="deleteElasticSearchAudit" parameterType="codedriver.framework.elasticsearch.dto.ElasticSearchAuditVo">
		DELETE 
		FROM
		  `elasticsearch_audit` 
		WHERE `handler` = #{handler} and  `param_hash` = #{paramHash};
	</delete>
	
	<delete id="deleteElasticSearchParam" parameterType="codedriver.framework.elasticsearch.dto.ElasticSearchAuditVo">
		DELETE 
		FROM
		  `elasticsearch_param` 
		WHERE `hash` = #{paramHash};
	</delete>
	
</mapper>