<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.elasticsearch.dao.mapper.ElasticSearchMapper">

	<select id="getElasticSearchAudit" parameterType="codedriver.framework.elasticsearch.dto.ElasticSearchAuditVo" resultType="codedriver.framework.elasticsearch.dto.ElasticSearchAuditVo">
		SELECT
		`document_id` AS documentId,
		`handler`,
		`update_time`
		FROM
		`elasticsearch_audit`
	</select>

	<insert id="insertElasticSearchAudit" parameterType="codedriver.framework.elasticsearch.dto.ElasticSearchAuditVo">
		REPLACE INTO `elasticsearch_audit` (`handler`,`document_id`,`update_time`,`error_msg`)
		VALUES
		(#{handler}, #{documentId}, NOW(3),#{errorMsg})
	</insert>


	<delete id="deleteElasticSearchAuditByDocumentId" parameterType="java.lang.Long">
		DELETE
		FROM
		`elasticsearch_audit`
		WHERE document_id = #{value}
	</delete>


</mapper>