<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.dao.mapper.AuthGroupMapper">
	<cache type="codedriver.framework.dao.cache.CodeDriverCache" flushInterval="300000" size="100"></cache>
	
	<select id="getRoleUuidListByAuthGroupName" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT DISTINCT `role_uuid` FROM `auth_group_role` WHERE `auth_group_name` = #{value}
	</select>

</mapper>
