<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.dao.mapper.MailServerMapper">
	<select id="getActiveMailServer" resultType="codedriver.framework.dto.MailServerVo">
		SELECT
		`uuid`,
		`name`,
		`host`,
		`port`,
		`username` as `userName`,
		`password`,
		`domain`,
		`is_active` as `isActive`,
		`from_address` AS `fromAddress`
		FROM `mail_server`
		WHERE `is_active` = 1 
		limit 1
	</select>
	
	<select id="getMailServerByUuid" parameterType="java.lang.String" resultType="codedriver.framework.dto.MailServerVo">
		SELECT
		`uuid`,
		`name`,
		`host`,
		`port`,
		`username` as `userName`,
		`password`,
		`domain`,
		`is_active` as `isActive`,
		`from_address` AS `fromAddress`
		FROM `mail_server`
		WHERE `uuid` = #{uuid}
	</select>
	
	<select id="searchMailServerCount" parameterType="codedriver.framework.dto.MailServerVo" resultType="int">
		SELECT
		count(1)
		FROM `mail_server`
		<where>
			<if test="keyword != null and keyword != ''">
			AND `name` LIKE CONCAT('%', #{keyword},'%')
			</if>
		</where>
	</select>
	
	<select id="searchMailServerList" parameterType="codedriver.framework.dto.MailServerVo" resultType="codedriver.framework.dto.MailServerVo">
		SELECT
		`uuid`,
		`name`,
		`host`,
		`port`,
		`username` as `userName`,
		`password`,
		`domain`,
		`is_active` as `isActive`,
		`from_address` AS `fromAddress`
		FROM `mail_server`
		<where>
			<if test="keyword != null and keyword != ''">
			AND `name` LIKE CONCAT('%', #{keyword},'%')
			</if>
		</where>
		<if test="needPage">
		LIMIT #{startNum}, #{pageSize}
		</if>
	</select>
	
	<select id="checkMailServerIsExists" parameterType="java.lang.String" resultType="int">
		SELECT count(`uuid`) FROM `mail_server` WHERE `uuid` = #{uuid}
	</select>
	
	<select id="checkMailServerNameIsRepeat" parameterType="codedriver.framework.dto.MailServerVo" resultType="int">
		SELECT count(1) FROM `mail_server` WHERE `name` = #{name} AND `uuid` != #{uuid}
	</select>
	
	<insert id="replaceMailServer" parameterType="codedriver.framework.dto.MailServerVo">
	REPLACE INTO `mail_server` (
	  `uuid`,
	  `name`,
	  `host`,
	  `port`,
	  `from_address`,
	  `username`,
	  `password`,
	  `domain`,
	  `is_active`
	) 
	VALUES
	  (
	    #{uuid},
	    #{name},
	    #{host},
	    #{port},
	    #{fromAddress},
	    #{userName},
	    #{password},
	    #{domain},
	    #{isActive}
	  ) 
	</insert>

	<insert id="insertMailHistory" parameterType="codedriver.framework.notify.dto.NotifyVo">
		<selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER"> select LAST_INSERT_ID() as id </selectKey>
		INSERT INTO `mail_history` (
			`title`,
			`content`,
			`trigger_type`,
			`config`,
			`fcd`,
			`error`
		)
		VALUES
		(
			#{title},
			#{content},
			#{triggerType.text},
			#{config},
			NOW(3),
			#{error}
		)
	</insert>

	<update id="resetAllMailServerStatus">
	UPDATE `mail_server` SET `is_active` = 0
	</update>
	
	<update id="activeMailServerByUuid">
	UPDATE `mail_server` SET `is_active` = 1 WHERE `uuid` = #{uuid} 
	</update>
	
	<update id="updateMailServerByUuid" parameterType="codedriver.framework.dto.MailServerVo">
	UPDATE `mail_server` SET `is_active` = #{isActive} WHERE `uuid` = #{uuid} 
	</update>

	<update id="updateMailHistoryStatusAndFailureReasonById">
		UPDATE `mail_history`
		SET
			`status` = 0,
			`failure_reason` = #{failureReason}
		WHERE `id` = #{id}
	</update>

	<delete id="deleteMailServerByUuid" parameterType="java.lang.String">
	DELETE FROM `mail_server` WHERE `uuid` = #{uuid}
	</delete>
</mapper>

