<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.dao.mapper.ModuleMapper">
	<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true" />

	<select id="getActiveModuleForReferTeam" resultType="codedriver.framework.dto.ModuleVo">
		SELECT
		id,
		name,
		desc_name AS descName
		FROM module
		WHERE `status`=1 AND is_active = 1
		AND SUBSTRING(refer, 1, 1) = '1'
	</select>

	<select id="getModuleStatusByName" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT `status` FROM module WHERE name = #{value}
	</select>

	<resultMap id="flowModuleResultMap" type="codedriver.framework.dto.ModuleVo">
		<!-- <id column="id" property="id" /> -->
		<id column="name" property="name" />
		<result column="description" property="description" />
		<result column="status" property="status" />
		<result column="error" property="error" />
		<!-- <result column="color" property="color" /> -->
		<result column="is_active" property="isActive" />
		<!-- <result column="init_time" property="initTime" /> -->
		<result column="url_mapping" property="urlMapping" />
		<result column="config_path" property="configPath" />
		<result column="startup" property="startup" />
		<!-- <result column="version_path" property="versionPath" /> -->
		<result column="version" property="version" />
	</resultMap>

	<select id="getAllModuleList" resultMap="flowModuleResultMap">
		SELECT
		name,
		description,
		url_mapping,
		is_active,
		status,		
		version,
		config_path,
		startup,
		error
		FROM module
		ORDER BY startup
	</select>

	<select id="getAllActionList" resultType="java.lang.String">
		SELECT name AS actionClassName FROM workflow_action
	</select>

	<select id="getModuleById" parameterType="int" resultMap="flowModuleResultMap">
		SELECT *
		FROM module
		WHERE id = #{id}
	</select>

	<select id="getModuleByName" parameterType="String" resultMap="flowModuleResultMap">
		SELECT *
		FROM module
		WHERE name = #{name}
	</select>

	<select id="selectModuleNameById" parameterType="int" resultType="String">
		SELECT name
		FROM module
		WHERE id = #{id}
	</select>

	<select id="getAllActiveModule" resultType="codedriver.framework.dto.ModuleVo">
		SELECT
		id,
		name,
		icon,
		desc_name AS descName,
		is_show AS isShow,
		`version` 
		FROM module
		WHERE `status`=1
		AND is_active = 1
		AND is_show = 1
	</select>

	<select id="getActiveModuleListByMenu" resultType="codedriver.framework.dto.ModuleVo">
		SELECT
		id,
		name,
		icon,
		desc_name AS descName,
		is_show AS isShow
		FROM module
		WHERE id IN
		<foreach collection="moduleIdList" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
		AND is_show = 1
		AND is_active= 1
		ORDER BY id
	</select>

	<select id="getActiveModuleListByRest" resultType="codedriver.framework.dto.ModuleVo">
		SELECT DISTINCT
		m.id,
		m.name,
		m.desc_name AS descName,
		m.is_show AS isShow
		FROM module m
		join flow_rest_component c on m.name = c.module
		WHERE
		`status`=1
		AND is_active = 1
		AND is_show = 1
	</select>

	<insert id="insertModule" parameterType="codedriver.framework.dto.ModuleVo">
		<selectKey resultType="Long" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO module
		(name , desc_name ,status,is_active,init_time,config_path,url_mapping,startup)
		VALUES(#{name} , #{descName},#{status},#{isActive},now(),#{configPath},#{urlMapping},#{startUp})
	</insert>

	<update id="updateModule" parameterType="codedriver.framework.dto.ModuleVo">
		UPDATE module
		SET name = #{name},
		desc_name = #{descName}
		status = #{status},
		is_active = #{isActive},
		config_path = #{configPath},
		url_mapping =
		#{urlMapping},
		startup = #{startUp}
		WHERE id = #{id}
	</update>
</mapper>

