<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright(c) 2021 TechSure Co., Ltd. All Rights Reserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.dao.mapper.MongoDbMapper">
    <select id="getAllActiveTenantMongoDb" resultType="codedriver.framework.dto.MongoDbVo">
        SELECT tenant_id   AS tenantId,
               tenant_uuid AS tenantUuid,
               `database`,
               username,
               `password`  AS passwordCipher,
               `host`,
               `option`
        FROM mongodb a
                 JOIN `tenant` b
                      ON a.tenant_uuid = b.uuid
                          AND b.is_active = 1
    </select>

    <select id="getAllTenantMongoDb" resultType="codedriver.framework.dto.MongoDbVo">
        SELECT tenant_id   AS tenantId,
               tenant_uuid AS tenantUuid,
               `database`,
               username,
               `password`  AS passwordCipher,
               `host`,
               `option`
        FROM mongodb
    </select>

    <update id="updateTenantMongoDbPasswordByTenantId">
        update mongodb
        set `password` = #{password}
        where `tenant_id` = #{tenantId}
    </update>
</mapper>