<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.dao.mapper.TagMapper">

	<select id="searchTag" parameterType="codedriver.framework.dto.TagVo" resultType="codedriver.framework.dto.TagVo">
		SELECT
		`id`,
		`name`
		FROM `tag`
		<where>
			<if test="name != null and name != ''">
				and name LIKE CONCAT('%', #{name}, '%')
			</if>
			<if test="id != null and id != 0L">
				AND `id` = #{id}
			</if>
		</where>
	</select>

	<insert id="insertTag" parameterType="codedriver.framework.dto.TagVo">
		<selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
			select LAST_INSERT_ID() as id
		</selectKey>
		INSERT INTO `tag`(
			`name`
		) VALUES (
			#{name}
		)
	</insert>

	<update id="updateTag" parameterType="codedriver.framework.dto.TagVo">
		UPDATE `tag` SET `name` = #{name} WHERE id = #{id}
	</update>

	<delete id="deleteTagById" parameterType="long">
		DELETE FROM `tag` WHERE `id` = #{id}
	</delete>
</mapper>