<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.dao.mapper.TeamMapper">

	<resultMap id="teamMap" type="codedriver.framework.dto.TeamVo">
		<id property="uuid" column="uuid"/>
		<result property="name" column="name"/>
		<result property="sort" column="sort"/>
		<result property="parentUuid" column="parentUuid"/>
		<result property="userCount" column="userCount"/>
		<collection property="tagList" ofType="codedriver.framework.dto.TagVo">
			<id property="id" column="tagId"/>
			<result property="name" column="tagName"/>
		</collection>
	</resultMap>

	<select id="searchTeam" parameterType="codedriver.framework.dto.TeamVo" resultMap="teamMap">
		SELECT
		a.`uuid`,
		a.`name`,
		a.`sort`,
		a.`parent_uuid` as `parentUuid`,
		d.`id` as `tagId`,
		d.`name` as `tagName`,
		(SELECT COUNT(1) FROM `user_team` e WHERE e.`team_uuid` = a.`uuid`)  AS `userCount` 
		FROM
		`team` a
		LEFT JOIN `user_team` b ON a.`uuid` = b.`team_uuid`
		LEFT JOIN `team_tag` c ON a.`uuid` = c.`team_uuid`
		LEFT JOIN `tag` d ON c.`tag_id` = d.`id`
		WHERE
		`uuid` != '0'
		<if test="keyword != null and keyword != ''">
			and a.`name` LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="parentUuid != null and parentUuid != ''">
			and a.`parent_uuid` = #{parentUuid}
		</if>
		ORDER BY `sort`
		<if test="needPage == true">
			LIMIT #{startNum}, #{pageSize}
		</if>
	</select>

	<select id = "getTeamTree" resultMap="teamMap">
		SELECT
		a.`uuid`,
		a.`name`,
		a.`sort`,
		a.`parent_uuid` as `parentUuid`,
		c.`id` as `tagId`,
		c.`name` as `tagName`,
		COUNT(DISTINCT(d.`user_id`)) AS `userCount`
		FROM `team` a
		LEFT JOIN `team_tag` b ON a.`uuid` = b.`team_uuid`
		LEFT JOIN `tag` c ON b.`tag_id` = c.`id`
		LEFT JOIN `user_team` d ON a.uuid = d.`team_uuid`
		GROUP BY a.`uuid`
		ORDER BY `parentUuid`, `sort`
	</select>

	<select id="getTeamSortAfterTeamList" resultType="codedriver.framework.dto.TeamVo">
		SELECT
		`uuid`,
		`name`,
		`sort`,
		`parent_uuid` as `parentUuid`
		FROM `team` WHERE `sort` &gt; #{sort} AND `parent_uuid` = #{parentUuid}
	</select>

	<select id="searchTeamCount" parameterType="codedriver.framework.dto.TeamVo" resultType="int">
		SELECT
		COUNT(1)
		FROM
		`team`
		WHERE
		1=1
		<if test="keyword != null and keyword != ''">
			and name LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="parentUuid != null and parentUuid != ''">
			and parent_uuid = #{parentUuid}
		</if>
	</select>

	<select id="getTeam" parameterType="codedriver.framework.dto.TeamVo" resultMap="teamMap">
		SELECT
		a.`uuid`,
		a.`name`,
		a.`sort`,
		a.`parent_uuid` as `parentUuid`,
		c.`id` as `tagId`,
		c.`name` as `tagName`
		FROM
		`team` a
		LEFT JOIN `team_tag` b ON a.`uuid` = b.`team_uuid`
		LEFT JOIN `tag` c ON b.`tag_id` = c.`id`
		<where>
			<if test="uuid !=null and uuid != ''">
				AND a.`uuid` = #{uuid}
			</if>
			<if test="name != null and name != ''">
				AND a.`name` = #{name}
			</if>
		</where>
	</select>

	<select id="getTeamByUuid" parameterType="string" resultType="codedriver.framework.dto.TeamVo">
		SELECT
		`uuid`,
		`name`,
		`sort`,
		`parent_uuid` as `parentUuid`
		FROM
		`team`
		WHERE `uuid` = #{uuid}
	</select>

	<select id="getTeamByParentUuid" parameterType="java.lang.String" resultType="codedriver.framework.dto.TeamVo">
		SELECT
		`uuid`,
		`name`,
		`sort`,
		`parent_uuid`
		FROM
		`team`
		WHERE
		parent_uuid = #{value}
	</select>

	<select id = "getMaxTeamSortByParentUuid" parameterType="java.lang.String" resultType = "int">
		SELECT MAX(`sort`) FROM `team` WHERE `parent_uuid` = #{parentUuid}
	</select>

	<select id="searchUserCountByTeamUuid" parameterType="java.lang.String" resultType="int">
		SELECT
		COUNT(1)
		FROM `user_team`
		WHERE
		`team_uuid` = #{value}
	</select>
	
	<select id="getTeamByUuidList" parameterType="java.lang.String" resultType="codedriver.framework.dto.TeamVo">
		SELECT
		`uuid`,
		`name`,
		`sort`,
		`parent_uuid`
		FROM
		`team`
		WHERE `uuid` in
		<foreach collection="list" item="item" separator="," open="(" close=")">
		#{item}
		</foreach>
	</select>

	<select id="getTeamUuidListByUserId" parameterType="java.lang.String" resultType="java.lang.String">
	SELECT 
	  ut.`team_uuid`
	FROM `user_team` ut
	JOIN team t ON t.`uuid`=ut.`team_uuid`
	WHERE ut.`user_id`=#{userId};
	</select>
	
	<insert id="insertTeam" parameterType="codedriver.framework.dto.TeamVo">
		INSERT INTO `team` (
		`uuid`,
		`name`,
		`sort`,
		`parent_uuid`
		) VALUES (
		#{uuid},
		#{name},
		#{sort},
		#{parentUuid}
		)
	</insert>
	
	<insert id="insertTeamUser">
		INSERT INTO `user_team` (
		`team_uuid`,
		`user_id`
		) VALUES (
		#{teamUuid},
		#{userId}
		)
	</insert>

	<insert id="insertTeamTag" parameterType="codedriver.framework.dto.TeamVo">
		INSERT INTO `team_tag`(
		`team_uuid`,
		`tag_id`
		) VALUES (
			#{uuid},
			#{tagId}
		)
	</insert>

	<update id="updateTeamByUuid" parameterType="codedriver.framework.dto.TeamVo">
		UPDATE `team`
		SET
		`name` = #{name},
		`sort` = #{sort},
		`parent_uuid` = #{parentUuid}
		WHERE `uuid` = #{uuid}
	</update>

	<update id="updateTeamNameByUuid" parameterType="codedriver.framework.dto.TeamVo">
		UPDATE 	`team`
		SET
		`name` = #{name}
		WHERE `uuid` = #{uuid}
	</update>

	<update id="updateTeamSortAndParentUuid" parameterType="codedriver.framework.dto.TeamVo">
		UPDATE `team`
		SET
		`sort` = #{sort},
		`parent_uuid` = #{parentUuid}
		WHERE `uuid` = #{uuid}
	</update>

	<update id="updateTeamSortAdd" parameterType="String">
		UPDATE `team` SET `sort` = `sort` + 1 WHERE `uuid` = #{teamUuid}
	</update>

	<delete id="deleteTeamByUuid" parameterType="java.lang.String">
		DELETE
		FROM
		`team`
		WHERE `uuid` = #{value}
	</delete>

	<delete id="deleteTeamTagByUuid" parameterType="java.lang.String">
		DELETE
		FROM
		`team_tag`
		WHERE `team_uuid` = #{uuid}
	</delete>

	<delete id="deleteUserTeamRoleByTeamUuid" parameterType="java.lang.String">
		DELETE
		FROM
		`user_team_role`
		WHERE
		`team_uuid` = #{value}
	</delete>

	<delete id="deleteUserTeamByTeamUuid" parameterType="java.lang.String">
		DELETE
		FROM
		`user_team`
		WHERE `team_uuid` = #{value}
	</delete>
</mapper>