<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.dao.mapper.TeamMapper">

	<select id="searchTeam" parameterType="codedriver.framework.dto.TeamVo" resultType="codedriver.framework.dto.TeamVo">
		SELECT
		`uuid`,
		`name`,
		`sort`,
		`description`,
		`parent_uuid`
		FROM
		`team`
		WHERE
		`uuid` != '0'
		<if test="keyword != null and keyword != ''">
			and name LIKE CONCAT(#{keyword}, '%')
		</if>
		<if test="parentUuid != null and parentUuid != ''">
			and parent_uuid = #{parentUuid}
		</if>
		ORDER BY `sort`
		<if test="needPage == true">
			LIMIT #{startNum}, #{pageSize}
		</if>
	</select>

	<select id="searchTeamCount" parameterType="codedriver.framework.dto.TeamVo" resultType="int">
		SELECT
		COUNT(1)
		FROM
		`team`
		WHERE
		1=1
		<if test="keyword != null and keyword != ''">
			and name LIKE CONCAT(#{keyword}, '%')
		</if>
		<if test="parentUuid != null and parentUuid != ''">
			and parent_uuid = #{parentUuid}
		</if>
	</select>

	<select id="getTeamByUuid" parameterType="java.lang.String" resultType="codedriver.framework.dto.TeamVo">
		SELECT
		`uuid`,
		`name`,
		`sort`,
		`description`,
		`parent_uuid`
		FROM
		`team`
		WHERE
		uuid = #{value}
	</select>

	<delete id="deleteTeamByUuid" parameterType="java.lang.String">
		DELETE
		FROM
		`team`
		WHERE `uuid` = #{value}
	</delete>

	<delete id="deleteUserTeamRoleByTeamUuid" parameterType="java.lang.String">
		DELETE
		FROM
		`user_team_role`
		WHERE
		`team_uuid` = #{value}
	</delete>

	<delete id="deleteUserTeamByTeamUuid" parameterType="java.lang.String">
		DELETE
		FROM
		`user_team`
		WHERE `team_uuid` = #{value}
	</delete>
</mapper>