<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.dao.mapper.TeamMapper">

	<select id="searchTeam" parameterType="codedriver.framework.dto.TeamVo" resultType="codedriver.framework.dto.TeamVo">
		SELECT
		a.`uuid`,
		a.`name`,
		a.`sort`,
		a.`description`,
		a.`parent_uuid`,
		COUNT(b.`user_id`) as `userCount`
		FROM
		`team` a
		LEFT JOIN `user_team` b ON a.`uuid` = b.`team_uuid`
		WHERE
		`uuid` != '0'
		<if test="keyword != null and keyword != ''">
			and name LIKE CONCAT(#{keyword}, '%')
		</if>
		<if test="parentUuid != null and parentUuid != ''">
			and parent_uuid = #{parentUuid}
		</if>
		GROUP BY a.uuid
		ORDER BY `sort`
		<if test="needPage == true">
			LIMIT #{startNum}, #{pageSize}
		</if>
	</select>

	<select id="searchTeamCount" parameterType="codedriver.framework.dto.TeamVo" resultType="int">
		SELECT
		COUNT(1)
		FROM
		`team`
		WHERE
		1=1
		<if test="keyword != null and keyword != ''">
			and name LIKE CONCAT(#{keyword}, '%')
		</if>
		<if test="parentUuid != null and parentUuid != ''">
			and parent_uuid = #{parentUuid}
		</if>
	</select>

	<select id="getTeamByUuid" parameterType="java.lang.String" resultType="codedriver.framework.dto.TeamVo">
		SELECT
		`uuid`,
		`name`,
		`sort`,
		`description`,
		`parent_uuid`
		FROM
		`team`
		WHERE
		uuid = #{value}
	</select>

	<select id = "getMaxTeamSortByParentUuid" parameterType="java.lang.String" resultType = "int">
		SELECT MAX(`sort`) FROM `team` WHERE `parent_uuid` = #{parentUuid}
	</select>

	<select id="searchUserCountByTeamUuid" parameterType="java.lang.String" resultType="int">
		SELECT
		COUNT(1)
		FROM `user_team`
		WHERE
		`team_uuid` = #{value}
	</select>
	
	<select id="getTeamByUuidList" parameterType="java.lang.String" resultType="codedriver.framework.dto.TeamVo">
		SELECT
		`uuid`,
		`name`,
		`sort`,
		`description`,
		`parent_uuid`
		FROM
		`team`
		WHERE `uuid` in
		<foreach collection="list" item="item" separator="," open="(" close=")">
		#{item}
		</foreach>
	</select>

	<insert id="insertTeam" parameterType="codedriver.framework.dto.TeamVo">
		INSERT INTO `team` (
		`uuid`,
		`name`,
		`sort`,
		`description`,
		`parent_uuid`
		) VALUES (
		#{uuid},
		#{name, typeHandler=XssHandler},
		#{sort},
		#{description, typeHandler=XssHandler},
		#{parentUuid}
		)
	</insert>

	<update id="updateTeamByUuid" parameterType="codedriver.framework.dto.TeamVo">
		UPDATE `team`
		SET
		`name` = #{name, typeHandler=XssHandler},
		`sort` = #{sort},
		`description` = #{description, typeHandler=XssHandler},
		`parent_uuid` = #{parentUuid}
		WHERE `uuid` = #{uuid}
	</update>

	<update id="updateTeamNameByUuid" parameterType="codedriver.framework.dto.TeamVo">
		UPDATE 	`team`
		SET
		`name` = #{name, typeHandler=XssHandler}
		WHERE `uuid` = #{uuid}
	</update>

	<delete id="deleteTeamByUuid" parameterType="java.lang.String">
		DELETE
		FROM
		`team`
		WHERE `uuid` = #{value}
	</delete>

	<delete id="deleteUserTeamRoleByTeamUuid" parameterType="java.lang.String">
		DELETE
		FROM
		`user_team_role`
		WHERE
		`team_uuid` = #{value}
	</delete>

	<delete id="deleteUserTeamByTeamUuid" parameterType="java.lang.String">
		DELETE
		FROM
		`user_team`
		WHERE `team_uuid` = #{value}
	</delete>
</mapper>