<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.dao.mapper.TenantMapper">
	<!-- <cache type="codedriver.framework.dao.cache.CodeDriverCache" flushInterval="300000" size="1024" readOnly="true"></cache> -->
	<sql id="searchTenantAuditCondition">
		<where>
			tenant_uuid = #{tenantUuid}
			<if test="moduleId != null and moduleId != ''">
				AND module_id = #{moduleId}
			</if>
		</where>
	</sql>

	<select id="searchTenantAudit" parameterType="codedriver.framework.dto.TenantAuditVo" resultType="codedriver.framework.dto.TenantAuditVo">
		SELECT
		`id`,
		`tenant_uuid` as tenantUuid,
		`module_id` as moduleId,
		`version`,
		`start_time` as startTime,
		`end_time` as endTime,
		`log_path` as logPath,
		`err_path` as errPath,
		`status`
		FROM
		`tenant_audit`
		<include refid="searchTenantAuditCondition"></include>
		ORDER BY id DESC
	</select>

	<select id="searchTenantAuditCount" parameterType="codedriver.framework.dto.TenantAuditVo" resultType="int">
		SELECT
		COUNT(1)
		FROM
		`tenant_audit`
		<include refid="searchTenantAuditCondition"></include>
	</select>

	<sql id="searchTenantCondition">
		<where>
			<if test="keyword != null and keyword != ''">
				AND name LIKE concat('%', #{keyword}, '#')
			</if>
		</where>
	</sql>

	<select id="searchTenant" parameterType="codedriver.framework.dto.TenantVo" resultType="codedriver.framework.dto.TenantVo">
		SELECT
		`id`,
		`uuid`,
		`name`,
		`is_active` AS isActive,
		`expire_date` AS expireDate,
		`description`
		FROM
		`tenant`
		<include refid="searchTenantCondition"></include>
		ORDER BY id DESC
	</select>

	<select id="searchTenantCount" parameterType="codedriver.framework.dto.TenantVo" resultType="int">
		SELECT
		COUNT(1)
		FROM
		`tenant`
		<include refid="searchTenantCondition"></include>
	</select>

	<select id="checkTenantUuidIsExists" parameterType="codedriver.framework.dto.TenantVo" resultType="int">
		SELECT
		COUNT(1)
		FROM
		`tenant`
		WHERE
		uuid = #{uuid}
		<if test="id != null">
			AND id != #{id}
		</if>
	</select>

	<select id="getTenantByUuid" parameterType="java.lang.String" resultType="codedriver.framework.dto.TenantVo">
		SELECT
		`uuid`,
		`name`,
		`is_active` AS isActive
		FROM
		`tenant`
		WHERE `uuid` = #{value}
	</select>

	<select id="getAllActiveTenant" resultType="codedriver.framework.dto.TenantVo">
		SELECT
		t.`uuid`,
		t.`name`
		FROM
		`tenant` t
		JOIN `datasource` ds ON ds.`tenant_uuid` = t.`uuid`
		WHERE t.`is_active` = 1
	</select>

	<insert id="insertTenant" parameterType="codedriver.framework.dto.TenantVo">
		INSERT INTO `tenant` (
		`id`,
		`uuid`,
		`name`,
		`is_active`,
		`expire_date`,
		`description`
		)
		VALUES
		(
		#{id},
		#{uuid},
		#{name},
		#{isActive},
		#{expireDate},
		#{description}
		)
	</insert>

	<insert id="insertTenantModule">
		INSERT INTO `tenant_module` (`tenant_uuid`, `module_id`)
		VALUES
		(#{tenantUuid}, #{moduleId})
	</insert>

	<insert id="insertTenantAudit" parameterType="codedriver.framework.dto.TenantAuditVo">
		INSERT INTO `tenant_audit` (
		`id`,
		`tenant_uuid`,
		`start_time`,
		`log_path`,
		`err_path`,
		`module_id`,
		`version`,
		`status`
		)
		VALUES
		(
		#{id},
		#{tenantUuid},
		NOW(),
		#{logPath},
		#{errPath},
		#{moduleId},
		#{version},
		#{status}
		)
	</insert>

	<update id="updateTenantAudit" parameterType="codedriver.framework.dto.TenantAuditVo">
		UPDATE
		`tenant_audit`
		SET
		`end_time` = NOW(),
		`status` = #{status}
		WHERE `id` = #{id}
	</update>

	<update id="updateTenant" parameterType="codedriver.framework.dto.TenantVo">
		UPDATE
		`tenant`
		SET
		`name` = #{name},
		`is_active` = #{isActive},
		`expire_date` = #{expireDate},
		`description` = #{description}
		WHERE `uuid` = #{uuid}
	</update>

	<delete id="deleteTenantModuleByTenantUuid" parameterType="java.lang.String">
		DELETE
		FROM
		`tenant_module`
		WHERE `tenant_uuid` = #{value}
	</delete>
</mapper>

