<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.dao.mapper.TestMapper">
	<select id="test" resultType="java.lang.String">
		select name from `test`
	</select>

	<update id="updateTest" parameterType="java.lang.String">
		UPDATE `test` SET name = #{value}
	</update>
</mapper>

