<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.file.dao.mapper.FileMapper">

	<select id="getFileByUuid" parameterType="java.lang.String" resultType="codedriver.framework.file.dto.FileVo">
		SELECT
		`uuid`,
		`name`,
		`size`,
		`user_id` AS userId,
		DATE_FORMAT( `upload_time`, '%Y-%m-%d %H:%i:%s' ) AS uploadTime,
		`type`,
		content_type AS contentType
		FROM
		`file`
		WHERE `uuid` = #{value}
	</select>

	<select id="getFileTypeConfigByType" parameterType="java.lang.String" resultType="codedriver.framework.file.dto.FileTypeVo">
		SELECT
		`name`,
		`config`
		FROM
		`filetype_config`
		WHERE name = #{value}
	</select>

	<insert id="insertFile" parameterType="codedriver.framework.file.dto.FileVo">
		INSERT INTO `file` (
		`uuid`,
		`name`,
		`size`,
		`user_id`,
		`upload_time`,
		`type`,
		content_type
		)
		VALUES
		(
		#{uuid},
		#{name},
		#{size},
		#{userId},
		NOW(),
		#{type},
		#{contentType}
		)
	</insert>
</mapper>

