<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.dao.mapper.healthcheck.SqlStatusMapper">
    <select id="getInnodbStatus" resultType="neatlogic.framework.dto.healthcheck.InnoDbStatusVo">
        show engine innodb status
    </select>

    <select id="selectListBySql" parameterType="java.lang.String" resultType="java.util.LinkedHashMap">
        ${sql}
    </select>
</mapper>

