<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.restful.dao.mapper.ApiMapper">
    <!-- 缓存5分钟 -->
    <!-- flushInterval、size、readOnly、blocking属性对ehcache不起作用 -->
    <cache type="neatlogic.framework.dao.cache.NeatLogicConcurrentSafeCache">
        <!-- 二选一：TTI 或 TTL（都配的话以 TTL 为准，见下方实现） -->
        <!-- 缓存项在未被访问时的最长存活时间, 基于访问时间的过期 -->
        <!-- <property name="timeToIdleSeconds" value="300"/> -->
        <!-- 缓存项从创建到过期的总时间, 基于创建时间的过期 -->
        <property name="timeToLiveSeconds" value="300"/>
        <!-- Ehcache 堆内条目数 -->
        <property name="heapEntries" value="1000"/>
    </cache>

    <select id="getApiByToken" parameterType="java.lang.String" resultType="neatlogic.framework.restful.dto.ApiVo"
            useCache="true">
        SELECT `name`,
               `module_id`  AS moduleId,
               `handler`,
               `username`,
               `password`   as passwordCipher,
               `config`,
               `is_active`  AS isActive,
               `token`,
               `expire`,
               `description`,
               `type`,
               `qps`,
               `timeout`,
               `need_audit` AS needAudit,
               `is_mcp` AS isMcp
        FROM `api`
        WHERE token = #{value}
    </select>

    <select id="getApiByTokenWithoutPsw" parameterType="java.lang.String" resultType="neatlogic.framework.restful.dto.ApiVo"
            useCache="true">
        SELECT `name`,
               `module_id`  AS moduleId,
               `handler`,
               `username`,
               `config`,
               `is_active`  AS isActive,
               `token`,
               `expire`,
               `description`,
               `type`,
               `qps`,
               `timeout`,
               `need_audit` AS needAudit,
               `is_mcp` AS isMcp
        FROM `api`
        WHERE token = #{value}
    </select>

    <!--<select id="getApiTokenList" parameterType="neatlogic.framework.restful.dto.ApiVo" resultType="java.lang.String"
            useCache="false">
        SELECT
        `token`
        FROM `api`
        WHERE 1=1
        <if test="moduleId != null">
            AND `module_id` = #{moduleId}
        </if>
        <if test="handler != null">
            AND `handler` = #{handler}
        </if>
        <if test="isActive != null">
            AND `is_active` = #{isActive}
        </if>
        <if test="keyword != null and keyword != ''">
            AND (`name` LIKE CONCAT('%', #{keyword}, '%') OR `token` LIKE CONCAT('%', #{keyword}, '%'))
        </if>
    </select>-->

    <select id="getApiListByTokenList" parameterType="java.lang.String"
            resultType="neatlogic.framework.restful.dto.ApiVo" useCache="false">
        SELECT
        `name`,
        `module_id` AS moduleId,
        `handler`,
        `username`,
        `password` AS passwordCipher,
        `config`,
        `is_active` AS isActive,
        `token`,
        `expire`,
        `description`,
        `type`,
        `qps`,
        `timeout`,
        `need_audit` AS needAudit,
        `is_mcp` AS isMcp
        FROM `api`
        WHERE `token` IN
        <foreach collection="list" item="token" separator="," open="(" close=")">
            #{token}
        </foreach>
    </select>

    <select id="getAllApi" resultType="neatlogic.framework.restful.dto.ApiVo" useCache="true">
        SELECT `name`,
               `module_id`  AS moduleId,
               `handler`,
               `username`,
               `password` AS passwordCipher,
               `config`,
               `is_active`  AS isActive,
               `token`,
               `expire`,
               `description`,
               `type`,
               `qps`,
               `timeout`,
               `need_audit` AS needAudit,
               `is_mcp` AS isMcp
        FROM `api`
        order by `create_time` desc
    </select>

    <select id="getAllApiByModuleId" resultType="neatlogic.framework.restful.dto.ApiVo" useCache="true">
        SELECT `name`,
        `module_id` AS moduleId,
        `handler`,
        `username`,
        `config`,
        `is_active` AS isActive,
        `token`,
        `expire`,
        `description`,
        `type`,
        `qps`,
        `timeout`,
        `need_audit` AS needAudit,
        `is_mcp` AS isMcp
        FROM `api`
        <where>
            <if test="moduleIdList != null and moduleIdList.size() > 0">
                and module_id in
                <foreach collection="moduleIdList" item="item" open="(" close=")" separator=",">#{item}</foreach>
            </if>
        </where>
        order by `create_time` desc
    </select>

    <select id="getMcpApiListByModuleId" resultType="neatlogic.framework.restful.dto.ApiVo" useCache="true">
        SELECT `token`,
        `is_active` AS isActive,
        `qps`,
        `need_audit` AS needAudit,
        `is_mcp` AS isMcp
        FROM `api`
        WHERE `is_mcp` = 1
        AND `is_active` = 1
        <if test="moduleIdList != null and moduleIdList.size() > 0">
            AND `module_id` IN
            <foreach collection="moduleIdList" item="item" open="(" close=")" separator=",">#{item}</foreach>
        </if>
        ORDER BY `create_time` DESC
    </select>

    <update id="batchUpdate" parameterType="neatlogic.framework.restful.dto.ApiVo">
        UPDATE `api`
        SET
        <if test="isActive != null">
            `is_active` = #{isActive},
        </if>
        <if test="expire != null">
            `expire` = #{expire},
        </if>
        <if test="timeout != null">
            `timeout` = #{timeout},
        </if>
        `token` = `token`
        WHERE `token` IN
        <foreach collection="tokenList" item="token" separator="," open="(" close=")">
            #{token}
        </foreach>

    </update>
    <!--<update id="updatePasswordByToken">
        update api
        set password = #{password}
        where token = #{token}
    </update>-->

    <update id="updateApiNeedAuditByToken" parameterType="java.lang.String">
        UPDATE `api`
        SET `need_audit` = 1 - `need_audit`
        WHERE `token` = #{value}
    </update>

    <insert id="replaceApi" parameterType="neatlogic.framework.restful.dto.ApiVo">
        INSERT INTO `api`
        (`name`,
         `module_id`,
         `is_active`,
         `handler`,
         `config`,
         `token`,
         `description`,
         `expire`,
         `username`,
         `password`,
         `type`,
         `qps`,
         `timeout`,
         `need_audit`,
         `is_mcp`,
         `create_time`)
        VALUES (#{name},
                #{moduleId},
                #{isActive},
                #{handler},
                #{config},
                #{token},
                #{description},
                #{expire},
                #{username},
                #{passwordCipher},
                #{type},
                #{qps},
                #{timeout},
                #{needAudit},
                #{isMcp},
                now(3))
        ON DUPLICATE KEY UPDATE `type`        = #{type},
                                `handler`     = #{handler},
                                `name`        = #{name},
                                `description` = #{description},
                                `module_id`   = #{moduleId},
                                `is_active`   = #{isActive},
                                `username`    = #{username},
                                `password`    = #{passwordCipher},
                                `qps`         = #{qps},
                                `timeout`     = #{timeout},
                                `need_audit`  = #{needAudit},
                                `is_mcp`      = #{isMcp}
    </insert>

    <insert id="insertApi" parameterType="neatlogic.framework.restful.dto.ApiVo">
        INSERT IGNORE INTO `api`
        (`name`,
         `module_id`,
         `is_active`,
         `handler`,
         `config`,
         `token`,
         `description`,
         `expire`,
         `username`,
         `password`,
         `type`,
         `qps`,
         `timeout`,
         `need_audit`,
         `is_mcp`,
         `create_time`)
        VALUES (#{name},
                #{moduleId},
                #{isActive},
                #{handler},
                #{config},
                #{token},
                #{description},
                #{expire},
                #{username},
                #{passwordCipher},
                #{type},
                #{qps},
                #{timeout},
                #{needAudit},
                #{isMcp},
                now(3))
    </insert>

    <insert id="insertOrUpdateNeedAuditApi" parameterType="neatlogic.framework.restful.dto.ApiVo">
        INSERT INTO `api`
        (`name`,
         `module_id`,
         `is_active`,
         `handler`,
         `config`,
         `token`,
         `description`,
         `expire`,
         `username`,
         `password`,
         `type`,
         `qps`,
         `timeout`,
         `need_audit`,
         `is_mcp`,
         `create_time`)
        VALUES (#{name},
                #{moduleId},
                #{isActive},
                #{handler},
                #{config},
                #{token},
                #{description},
                #{expire},
                #{username},
                #{passwordCipher},
                #{type},
                #{qps},
                #{timeout},
                #{needAudit},
                #{isMcp},
                now(3))
        ON DUPLICATE KEY UPDATE `need_audit`  = #{needAudit}
    </insert>

    <delete id="deleteApiByToken" parameterType="java.lang.String">
        DELETE
        FROM `api`
        WHERE `token` = #{token}
    </delete>
</mapper>
