<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.restful.dao.mapper.NeatLogicMapper">
	<select id="getMongodbByTenant" resultType="neatlogic.framework.dto.MongoDbVo">
		SELECT
			`tenant_uuid` AS tenantUuid,
			`database`,
			`username`,
			`password` AS passwordCipher,
			`host`,
			`option`
		FROM
			`mongodb`
		where `tenant_uuid` = #{value}
	</select>
    <select id="getMongodbList" resultType="neatlogic.framework.dto.MongoDbVo">
		SELECT
			`tenant_uuid` AS tenantUuid,
			`database`,
			`username`,
			`password` AS passwordCipher,
			`host`,
			`option`
		FROM
			`mongodb`
	</select>
</mapper>
