<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright(c) 2022 TechSure Co., Ltd. All Rights Reserved.
  ~ 本内容仅限于深圳市赞悦科技有限公司内部传阅，禁止外泄以及用于其他的商业项目。
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.datawarehouse.dao.mapper.DataWarehouseDataSourceDataMapper">
    <select id="getDataSourceDataCount" parameterType="codedriver.framework.datawarehouse.dto.DataSourceDataVo"
            resultType="int">
        select count(1)
        from ${tableName}
    </select>

    <sql id="searchDataSourceDataCondition">
        <where>
            true
            <choose>
                <when test="isExpired == 0">
                    and (expire_time is null or expire_time &gt;= now())
                </when>
                <when test="isExpired == 1">
                    and expire_time &lt;= now()
                </when>
            </choose>
            <if test="conditionList != null and conditionList.size() > 0">
                <foreach collection="conditionList" item="item">
                    <if test="item.sqlConditionExpression != null and item.sqlConditionExpression != ''">
                        and ${item.sqlConditionExpression}
                    </if>
                </foreach>
            </if>
        </where>
    </sql>

    <select id="searchDataSourceData" parameterType="codedriver.framework.datawarehouse.dto.DataSourceDataVo"
            resultType="java.util.HashMap">
        select
        <foreach collection="fieldList" item="item">
            `${item.id}` as `field_${item.id}`,
        </foreach>
        id,
        insert_time as insertTime,
        expire_time as expireTime
        from ${tableName}
        <include refid="searchDataSourceDataCondition"></include>
        limit #{startNum},#{pageSize}
    </select>

    <select id="searchDataSourceDataCount" parameterType="codedriver.framework.datawarehouse.dto.DataSourceDataVo"
            resultType="int">
        select
        count(1)
        from ${tableName}
        <include refid="searchDataSourceDataCondition"></include>
    </select>

    <insert id="insertDataSourceData" parameterType="codedriver.framework.datawarehouse.dto.DataSourceDataVo">
        insert into ${tableName}
        (
        <foreach collection="fieldList" item="item">
            `${item.id}`,
            `${item.id}_hash`,
        </foreach>
        id, insert_time<if test="expireMinute != null">, expire_time</if>)
        values
        (
        <foreach collection="fieldList" item="item">
            #{item.value},
            #{item.value,typeHandler=Md5Handler},
        </foreach>
        #{id},now(3)
        <if test="expireMinute != null">, DATE_ADD(now(),INTERVAL #{expireMinute} minute)</if>
        ) ON DUPLICATE KEY
        UPDATE
        <foreach collection="fieldList" item="item">
            `${item.id}` = #{item.value},
            `${item.id}_hash` = #{item.value,typeHandler=Md5Handler},
        </foreach>
        insert_time = now(3)
        <choose>
            <when test="expireMinute != null">, expire_time = DATE_ADD(now(),INTERVAL #{expireMinute} minute)</when>
            <otherwise>,expire_time = null</otherwise>
        </choose>
    </insert>

    <delete id="truncateTable" parameterType="codedriver.framework.datawarehouse.dto.DataSourceVo">
        truncate table ${tableName}
    </delete>

    <delete id="clearExpiredData" parameterType="codedriver.framework.datawarehouse.dto.DataSourceDataVo">
        delete
        from ${tableName}
        where expire_time is not null
          and expire_time &lt; now()
    </delete>
</mapper>
