<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.matrix.dao.mapper.MatrixAttributeMapper">
    <select id="getMatrixAttributeByMatrixUuid" parameterType="string"
            resultType="neatlogic.framework.matrix.dto.MatrixAttributeVo">
        SELECT `uuid`,
               `matrix_uuid` AS matrixUuid,
               `name`,
               `unique_identifier` AS uniqueIdentifier,
               `type`,
               `is_required` AS isRequired,
               `sort`,
               `config` AS configStr
        FROM `matrix_attribute`
        WHERE `matrix_uuid` = #{matrixUuid}
        ORDER BY `sort`
    </select>

    <delete id="deleteAttributeByMatrixUuid" parameterType="string">
        DELETE
        FROM `matrix_attribute`
        WHERE `matrix_uuid` = #{matrixUuid}
    </delete>

    <insert id="insertMatrixAttribute" parameterType="neatlogic.framework.matrix.dto.MatrixAttributeVo">
        INSERT INTO `matrix_attribute` (`matrix_uuid`,
                                                `uuid`,
                                                `name`,
                                                `unique_identifier`,
                                                `type`,
                                                `is_required`,
                                                `sort`,
                                                `config`)
        VALUES (#{matrixUuid},
                #{uuid},
                #{name},
                #{uniqueIdentifier},
                #{type},
                #{isRequired},
                #{sort},
                #{configStr})
    </insert>

    <update id="createMatrixDynamicTable">
        CREATE table `@{DATA_SCHEMA}`.`matrix_${matrixUuid}` (
        `id` bigint(20) NOT NULL AUTO_INCREMENT,
        `uuid` char(32) NOT NULL,
        <foreach collection="attributeList" item="attribute" separator="," index="index">
            `${attribute.uuid}` varchar(100) DEFAULT NULL
        </foreach>
        ,
        `sort` int(11) NOT NULL,
        PRIMARY KEY (`uuid`),
        KEY `id`(`id`)
        )ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci

    </update>

    <update id="dropMatrixDynamicTable" parameterType="string">
        DROP TABLE IF EXISTS `@{DATA_SCHEMA}`.`matrix_${matrixUuid}`
    </update>

    <update id="addMatrixDynamicTableColumn">
        ALTER TABLE `@{DATA_SCHEMA}`.`matrix_${matrixUuid}` ADD COLUMN `${columnName}` VARCHAR (100)
    </update>

    <update id="addMatrixDynamicTableColumnSort">
        ALTER TABLE `@{DATA_SCHEMA}`.`matrix_${matrixUuid}` ADD COLUMN `sort` int (11)
    </update>

    <update id="dropMatrixDynamicTableColumn">
        ALTER TABLE `@{DATA_SCHEMA}`.`matrix_${matrixUuid}` DROP COLUMN `${columnName}`
    </update>
</mapper>
