<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.matrix.dao.mapper.MatrixViewDataMapper">

    <select id="getDynamicTableDataByUuidList" parameterType="neatlogic.framework.matrix.dto.MatrixDataVo"
            resultType="java.util.LinkedHashMap">
        SELECT
        `uuid`,
        <foreach collection="columnList" item="column" separator=",">
            `${column}`
        </foreach>
        FROM `@{DATA_SCHEMA}`.`matrix_${matrixUuid}`
        <where>
            <if test="defaultValue != null and defaultValue.size() > 0">
                `uuid` in
                <foreach collection="defaultValue" open="(" close=")" item="uuid" separator=",">
                    #{uuid}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getDynamicTableDataCount" parameterType="neatlogic.framework.matrix.dto.MatrixDataVo"
            resultType="int">
        SELECT
        COUNT(1)
        FROM `@{DATA_SCHEMA}`.`matrix_${matrixUuid}`
    </select>

    <select id="searchDynamicTableData" parameterType="neatlogic.framework.matrix.dto.MatrixDataVo"
            resultType="java.util.LinkedHashMap">
        SELECT
        `uuid`,
        <foreach collection="columnList" separator="," item="column">
            `${column}`
        </foreach>
        FROM `@{DATA_SCHEMA}`.`matrix_${matrixUuid}`
        ORDER BY `id` DESC
        <if test="needPage == true">
            LIMIT #{startNum}, #{pageSize}
        </if>
    </select>

    <sql id="searchDynamicTableDataSql">
        <if test="sourceColumnList != null and sourceColumnList.size() > 0">
            <foreach collection="sourceColumnList" item="sourceColumn">
                <choose>
                    <when test="sourceColumn.expression == 'equal'">
                        AND `${sourceColumn.column}` = #{sourceColumn.value}
                    </when>
                    <when test="sourceColumn.expression == 'like'">
                        AND `${sourceColumn.column}` LIKE CONCAT('%', #{sourceColumn.value}, '%')
                    </when>
                    <when test="sourceColumn.expression == 'include' and sourceColumn.valueList != null and sourceColumn.valueList.size() > 0">
                    AND `${sourceColumn.column}` IN
                    <foreach collection="sourceColumn.valueList" item="item" open="(" close=")" separator=",">
                        #{item}
                    </foreach>
                </when>
                    <otherwise>
                        AND `${sourceColumn.column}` = #{sourceColumn.value}
                    </otherwise>
                </choose>
            </foreach>
        </if>
    </sql>

    <select id="getDynamicTableDataCountForTable" parameterType="neatlogic.framework.matrix.dto.MatrixDataVo"
            resultType="int">
        SELECT
        COUNT(1)
        FROM `@{DATA_SCHEMA}`.`matrix_${matrixUuid}`
        <where>
            <include refid="searchDynamicTableDataSql"/>
        </where>
    </select>

    <select id="getDynamicTableDataForTable" parameterType="neatlogic.framework.matrix.dto.MatrixDataVo"
            resultType="java.util.LinkedHashMap">
        SELECT
        `uuid`,
        <foreach collection="columnList" item="column" separator=",">
            `${column}`
        </foreach>
        FROM `@{DATA_SCHEMA}`.`matrix_${matrixUuid}`
        <where>
            <include refid="searchDynamicTableDataSql"/>
        </where>
        ORDER BY `id` DESC
        <if test="needPage == true">
            LIMIT #{startNum}, #{pageSize}
        </if>
    </select>

    <select id="getDynamicTableDataCountForSelect" parameterType="neatlogic.framework.matrix.dto.MatrixDataVo"
            resultType="int">
        SELECT
        COUNT(1)
        FROM `@{DATA_SCHEMA}`.`matrix_${matrixUuid}`
        <where>
            <foreach collection="columnList" item="column" separator="AND">
                `${column}` IS NOT NULL
            </foreach>
            <include refid="searchDynamicTableDataSql"/>
        </where>
    </select>

    <select id="getDynamicTableDataForSelect" parameterType="neatlogic.framework.matrix.dto.MatrixDataVo"
            resultType="java.util.LinkedHashMap">
        SELECT
        <foreach collection="columnList" item="column" separator=",">
            `${column}`
        </foreach>
        FROM `@{DATA_SCHEMA}`.`matrix_${matrixUuid}`
        <where>
            <foreach collection="columnList" item="column" separator="AND">
                `${column}` IS NOT NULL
            </foreach>
            <include refid="searchDynamicTableDataSql"/>
        </where>
        ORDER BY `id` DESC
        <if test="needPage == true">
            LIMIT #{startNum}, #{pageSize}
        </if>
    </select>

    <sql id="searchDynamicTableDataSqlNew">
        <if test="filterList != null and filterList.size() > 0">
            <foreach collection="filterList" item="filter" separator="AND">
                <choose>
                    <when test="filter.expression == 'equal'">
                        <choose>
                            <when test="filter.valueList.size() > 1">
                                `${filter.uuid}` IN
                                <foreach collection="filter.valueList" item="item" open="(" close=")" separator=",">
                                    #{item}
                                </foreach>
                            </when>
                            <otherwise>
                                `${filter.uuid}` = #{filter.valueList[0]}
                            </otherwise>
                        </choose>
                    </when>
                    <when test="filter.expression == 'notequal'">
                        <choose>
                            <when test="filter.valueList.size() > 1">
                                (`${filter.uuid}` NOT IN
                                <foreach collection="filter.valueList" item="item" open="(" close=")" separator=",">
                                    #{item}
                                </foreach>
                                OR `${filter.uuid}` IS NULL)
                            </when>
                            <otherwise>
                                `${filter.uuid}` != #{filter.valueList[0]}
                            </otherwise>
                        </choose>
                    </when>
                    <when test="filter.expression == 'like'">
                        <choose>
                            <when test="filter.valueList.size() > 1">
                                `${filter.uuid}` IN
                                <foreach collection="filter.valueList" item="item" open="(" close=")" separator=",">
                                    #{item}
                                </foreach>
                            </when>
                            <otherwise>
                                `${filter.uuid}` LIKE CONCAT('%', #{filter.valueList[0]}, '%')
                            </otherwise>
                        </choose>
                    </when>
                    <when test="filter.expression == 'notlike'">
                        <choose>
                            <when test="filter.valueList.size() > 1">
                                (`${filter.uuid}` NOT IN
                                <foreach collection="filter.valueList" item="item" open="(" close=")" separator=",">
                                    #{item}
                                </foreach>
                                OR `${filter.uuid}` IS NULL)
                            </when>
                            <otherwise>
                                (`${filter.uuid}` NOT LIKE CONCAT('%', #{filter.valueList[0]}, '%') OR `${filter.uuid}` IS NULL)
                            </otherwise>
                        </choose>
                    </when>
                    <when test="filter.expression == 'is-null'">
                        (`${filter.uuid}` IS NULL OR `${filter.uuid}` = '')
                    </when>
                    <when test="filter.expression == 'is-not-null'">
                        (`${filter.uuid}` IS NOT NULL AND `${filter.uuid}` != '')
                    </when>
                    <otherwise>
                        <choose>
                            <when test="filter.valueList.size() > 1">
                                `${filter.uuid}` IN
                                <foreach collection="filter.valueList" item="item" open="(" close=")" separator=",">
                                    #{item}
                                </foreach>
                            </when>
                            <otherwise>
                                `${filter.uuid}` = #{filter.valueList[0]}
                            </otherwise>
                        </choose>
                    </otherwise>
                </choose>
            </foreach>
        </if>
    </sql>

    <select id="getDynamicTableDataListCount" parameterType="neatlogic.framework.matrix.dto.MatrixDataVo"
            resultType="int">
        SELECT
        COUNT(1)
        FROM `@{DATA_SCHEMA}`.`matrix_${matrixUuid}`
        <where>
            <include refid="searchDynamicTableDataSqlNew"/>
        </where>
    </select>

    <select id="getDynamicTableDataList" parameterType="neatlogic.framework.matrix.dto.MatrixDataVo"
            resultType="java.util.LinkedHashMap">
        SELECT
        `uuid`,
        <foreach collection="columnList" item="column" separator=",">
            `${column}`
        </foreach>
        FROM `@{DATA_SCHEMA}`.`matrix_${matrixUuid}`
        <where>
            <include refid="searchDynamicTableDataSqlNew"/>
        </where>
        ORDER BY `id` DESC
        <if test="needPage == true">
            LIMIT #{startNum}, #{pageSize}
        </if>
    </select>

</mapper>
