<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 指定自定义的 LanguageDriver -->
        <setting name="defaultScriptingLanguage" value="neatlogic.framework.dao.node.NeatlogicLanguageDriver"/>
    </settings>
    <typeAliases>
        <typeAlias type="neatlogic.framework.dao.plugin.CompressHandler" alias="CompressHandler"/>
        <typeAlias type="neatlogic.framework.dao.plugin.Md5Handler" alias="Md5Handler"/>
    </typeAliases>
    <typeHandlers>
        <typeHandler jdbcType="LONGVARCHAR" javaType="String"
                     handler="neatlogic.framework.dao.plugin.CompressHandler"/>
        <typeHandler jdbcType="LONGVARCHAR" javaType="Integer"
                     handler="neatlogic.framework.dao.plugin.EmptyStringToNullIntegerTypeHandler"/>
        <typeHandler jdbcType="VARCHAR" javaType="Integer"
                     handler="neatlogic.framework.dao.plugin.EmptyStringToNullIntegerTypeHandler"/>
        <typeHandler handler="neatlogic.framework.dao.plugin.LocalDateTimeTypeHandler"/>
    </typeHandlers>
    <plugins>
        <!-- 不同类型拦截器的嵌套顺序 Executor → StatementHandler → ParameterHandler → ResultSetHandler -->
        <!-- 每个拦截点内部的多个拦截器 按下面顺序的倒序执行 -->
        <!-- <plugin interceptor="neatlogic.framework.dao.plugin.BusinessGroupInterceptor"/>-->
        <!-- <plugin interceptor="neatlogic.framework.dao.plugin.FulltextIndexInterceptor"/>-->
        <plugin interceptor="neatlogic.framework.dao.plugin.ModifyResultMapTypeHandlerInterceptor"/><!-- ResultSetHandler(handleResultSets)-->
        <plugin interceptor="neatlogic.framework.dao.plugin.ExceptionAuditInterceptor"/><!-- StatementHandler(batch,update,query,queryCursor) -->
        <plugin interceptor="neatlogic.framework.dao.plugin.DataSchemaInterceptor"/><!-- StatementHandler(prepare) -->
        <plugin interceptor="neatlogic.framework.dao.plugin.SqlSessionCacheClearInterceptor"/><!-- StatementHandler(prepare)-->
        <plugin interceptor="neatlogic.framework.dao.plugin.SqlCostInterceptor"/><!-- Executor(query,update) -->
        <plugin interceptor="neatlogic.framework.dao.plugin.ExceptionCatchInterceptor"/><!-- Executor(query,update) -->
        <plugin interceptor="neatlogic.framework.dao.plugin.BaseEditorVoParameterInterceptor"/><!-- Executor(update) -->
    </plugins>
</configuration>
