<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.matrix.dao.mapper.MatrixExternalMapper">
	<select id="getMatrixExternalByMatrixUuid" parameterType="string" resultType="codedriver.framework.matrix.dto.MatrixExternalVo">
		SELECT
		`matrix_uuid` AS matrixUuid, 
		`integration_uuid` AS integrationUuid
		FROM `matrix_external`
		WHERE `matrix_uuid` = #{matrixUuid}
	</select>
	
	<select id="getMatrixExternalIsExists" parameterType="string" resultType="int">
		SELECT
		COUNT(`matrix_uuid`) 
		FROM `matrix_external`
		WHERE `matrix_uuid` = #{matrixUuid}
	</select>
	
	<insert id="insertMatrixExternal" parameterType="codedriver.framework.matrix.dto.MatrixExternalVo">
		INSERT INTO
		`matrix_external`(
			`matrix_uuid`,
			`integration_uuid`
		) VALUES (
			#{matrixUuid},
			#{integrationUuid}
		)

	</insert>

	<update id="updateMatrixExternal" parameterType="codedriver.framework.matrix.dto.MatrixExternalVo">
		UPDATE `matrix_external` SET
		 `integration_uuid` = #{integrationUuid}
		 WHERE `matrix_uuid` = #{matrixUuid}
	</update>

	<delete id="deleteMatrixExternalByMatrixUuid" parameterType="String">
		DELETE FROM `matrix_external` WHERE `matrix_uuid` = #{matrixUuid}
	</delete>


</mapper>