<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.matrix.dao.mapper.MatrixViewMapper">
	<select id="getMatrixViewByMatrixUuid" parameterType="string" resultType="codedriver.framework.matrix.dto.MatrixViewVo">
		SELECT
		`matrix_uuid` AS matrixUuid, 
		`file_id` AS fileId,
		`config`
		FROM `matrix_view`
		WHERE `matrix_uuid` = #{matrixUuid}
	</select>
	
	<insert id="replaceMatrixView" parameterType="codedriver.framework.matrix.dto.MatrixViewVo">
		REPLACE INTO `matrix_view`(
			`matrix_uuid`,
			`file_id`,
			`config`
		) VALUES (
			#{matrixUuid},
			#{fileId},
			#{config}
		)

	</insert>

	<delete id="deleteMatrixViewByMatrixUuid" parameterType="String">
		DELETE FROM `matrix_view` WHERE `matrix_uuid` = #{matrixUuid}
	</delete>

</mapper>