<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.matrix.dao.mapper.MatrixDataMapper">

    <select id="getDynamicTableDataCountByUuid" resultType="int">
        SELECT COUNT(1)
        FROM `${schemaName}`.`matrix_${matrixUuid}`
        WHERE `uuid` = #{uuid}
    </select>

    <select id="getDynamicRowDataByUuid" parameterType="codedriver.framework.matrix.dto.MatrixDataVo"
            resultType="java.util.LinkedHashMap">
        SELECT
        `uuid`,
        <foreach collection="columnList" separator="," item="column">
            `${column}`
        </foreach>
        FROM `${schemaName}`.`matrix_${matrixUuid}`
        WHERE `uuid` = #{uuid}
    </select>

    <select id="getDynamicTableDataByUuidList" parameterType="codedriver.framework.matrix.dto.MatrixDataVo"
            resultType="java.util.LinkedHashMap">
        SELECT
        `uuid`,
        <foreach collection="columnList" item="column" separator=",">
            `${column}`
        </foreach>
        FROM `${schemaName}`.`matrix_${matrixUuid}`
        <where>
            <if test="defaultValue != null and defaultValue.size() > 0">
                `uuid` in
                <foreach collection="defaultValue" open="(" close=")" item="uuid" separator=",">
                    #{uuid}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getDynamicTableDataCount" parameterType="codedriver.framework.matrix.dto.MatrixDataVo"
            resultType="int">
        SELECT
        COUNT(1)
        FROM `${schemaName}`.`matrix_${matrixUuid}`
        <!--<where>
            <if test="keyword != null and keyword != ''">
                <foreach collection="columnList" separator="OR" item="column">
                    `${column}` LIKE CONCAT('%', #{keyword}, '%')
                </foreach>
            </if>
        </where>-->
    </select>

    <select id="searchDynamicTableData" parameterType="codedriver.framework.matrix.dto.MatrixDataVo"
            resultType="java.util.LinkedHashMap">
        SELECT
        `uuid`,
        <foreach collection="columnList" separator="," item="column">
            `${column}`
        </foreach>
        FROM `${schemaName}`.`matrix_${matrixUuid}`
        <!--<where>
            <if test="keyword != null and keyword != ''">
                <foreach collection="columnList" separator="OR" item="column">
                    `${column}` LIKE CONCAT('%', #{keyword}, '%')
                </foreach>
            </if>
        </where>-->
        ORDER BY `id` DESC
        <if test="needPage == true">
            LIMIT #{startNum}, #{pageSize}
        </if>
    </select>

    <sql id="searchDynamicTableDataSql">
        <if test="sourceColumnList != null and sourceColumnList.size() > 0">
            <foreach collection="sourceColumnList" item="sourceColumn">
                <choose>
                    <when test="sourceColumn.expression == 'equal'">
                        AND `${sourceColumn.column}` = #{sourceColumn.value}
                    </when>
                    <when test="sourceColumn.expression == 'unequal'">
                        AND `${sourceColumn.column}` != #{sourceColumn.value}
                    </when>
                    <when test="sourceColumn.expression == 'like'">
                        AND `${sourceColumn.column}` LIKE CONCAT('%', #{sourceColumn.value}, '%')
                    </when>
                    <when test="sourceColumn.expression == 'greater-than'">
                        AND `${sourceColumn.column}` &gt; #{sourceColumn.value}
                    </when>
                    <when test="sourceColumn.expression == 'less-than'">
                        AND `${sourceColumn.column}` &lt; #{sourceColumn.value}
                    </when>
                    <when test="sourceColumn.expression == 'include' and sourceColumn.valueList != null and sourceColumn.valueList.size() > 0">
                        AND `${sourceColumn.column}` IN
                        <foreach collection="sourceColumn.valueList" item="item" open="(" close=")" separator=",">
                            #{item}
                        </foreach>
                    </when>
                    <otherwise>
                        AND `${sourceColumn.column}` = #{sourceColumn.value}
                    </otherwise>
                </choose>
            </foreach>
        </if>
    </sql>

    <select id="getDynamicTableDataCountForTable" parameterType="codedriver.framework.matrix.dto.MatrixDataVo"
            resultType="int">
        SELECT
        COUNT(1)
        FROM `${schemaName}`.`matrix_${matrixUuid}`
        <where>
            <include refid="searchDynamicTableDataSql"/>
        </where>
    </select>

    <select id="getDynamicTableDataForTable" parameterType="codedriver.framework.matrix.dto.MatrixDataVo"
            resultType="java.util.LinkedHashMap">
        SELECT
        `uuid`,
        <foreach collection="columnList" item="column" separator=",">
            `${column}`
        </foreach>
        FROM `${schemaName}`.`matrix_${matrixUuid}`
        <where>
            <include refid="searchDynamicTableDataSql"/>
        </where>
        ORDER BY `id` DESC
        <if test="needPage == true">
            LIMIT #{startNum}, #{pageSize}
        </if>
    </select>

    <select id="getDynamicTableDataForSelect" parameterType="codedriver.framework.matrix.dto.MatrixDataVo"
            resultType="java.util.LinkedHashMap">
        SELECT
        <foreach collection="columnList" item="column" separator=",">
            a.`${column}`
        </foreach>
        FROM `${schemaName}`.`matrix_${matrixUuid}` a
        <choose>
            <when test="attrType == 'user'">
                JOIN `user` b ON b.`uuid` = a.`${keywordColumn}`
            </when>
            <when test="attrType == 'team'">
                JOIN `team` c ON c.`uuid` = a.`${keywordColumn}`
            </when>
            <when test="attrType == 'role'">
                JOIN `role` d ON d.`uuid` = a.`${keywordColumn}`
            </when>
        </choose>
        <where>
            <foreach collection="columnList" item="column" separator="AND">
                a.`${column}` IS NOT NULL
            </foreach>
            <if test="keyword != null and keyword != ''">
                <choose>
                    <when test="attrType == 'input' or attrType == 'date'">
                        <if test="keywordExpression == 'like'">
                            and `${keywordColumn}` LIKE CONCAT('%', #{keyword}, '%')
                        </if>
                        <if test="keywordExpression == 'equal'">
                            and `${keywordColumn}` = #{keyword}
                        </if>
                    </when>
                    <when test="attrType == 'user'">
                        <if test="keywordExpression == 'like'">
                            and (b.`user_id` LIKE CONCAT('%', #{keyword}, '%') OR b.`user_name` LIKE CONCAT('%', #{keyword}, '%'))
                        </if>
                        <if test="keywordExpression == 'equal'">
                            and (b.`user_id` = #{keyword} OR b.`user_name` = #{keyword})
                        </if>
                    </when>
                    <when test="attrType == 'team'">
                        <if test="keywordExpression == 'like'">
                            and (c.`uuid` LIKE CONCAT('%', #{keyword}, '%') OR c.`name` LIKE CONCAT('%', #{keyword}, '%'))
                        </if>
                        <if test="keywordExpression == 'equal'">
                            and (c.`uuid` = #{keyword} OR c.`name` = #{keyword})
                        </if>
                    </when>
                    <when test="attrType == 'role'">
                        <if test="keywordExpression == 'like'">
                            and (d.`name` LIKE CONCAT('%', #{keyword}, '%') OR d.`description` LIKE CONCAT('%', #{keyword}, '%'))
                        </if>
                        <if test="keywordExpression == 'equal'">
                            and (d.`name` = #{keyword} OR d.`description` = #{keyword})
                        </if>
                    </when>
                </choose>
            </if>
            <include refid="searchDynamicTableDataSql"/>
        </where>
        ORDER BY a.`id` DESC
        <if test="needPage == true">
            LIMIT #{startNum}, #{pageSize}
        </if>
    </select>

    <select id="checkMatrixAttributeHasDataByAttributeUuidList" resultType="java.util.LinkedHashMap">
        SELECT
        <foreach collection="attributeUuidList" item="attributeUuid" separator=",">
            COUNT(`${attributeUuid}`) AS `${attributeUuid}`
        </foreach>
        FROM `${schemaName}`.`matrix_${matrixUuid}`
    </select>

    <insert id="insertDynamicTableData">
        INSERT INTO `${schemaName}`.`matrix_${matrixUuid}`
        <foreach collection="rowData" open="(" close=")" item="columnData" separator=",">
            `${columnData.column}`
        </foreach>
        VALUES
        <foreach collection="rowData" open="(" close=")" item="columnData" separator=",">
            #{columnData.value}
        </foreach>
    </insert>

    <insert id="insertDynamicTableDataForCopy">
        INSERT INTO `${schemaName}`.`matrix_${targetMatrixUuid}`
        (`uuid`,
        <foreach collection="targetColumnList" item="targetColumn" separator=",">
            `${targetColumn}`
        </foreach>
        )
        SELECT
        MD5(UUID()),
        <foreach collection="sourceColumnList" item="sourceColumn" separator=",">
            `${sourceColumn}`
        </foreach>
        FROM `${schemaName}`.`matrix_${sourceMatrixUuid}`
        ORDER BY `id`
    </insert>

    <update id="updateDynamicTableDataByUuid">
        UPDATE `${schemaName}`.`matrix_${matrixUuid}`
        SET
        <foreach collection="rowData" item="columnData" separator=",">
            `${columnData.column}` = #{columnData.value}
        </foreach>
        WHERE `uuid` = #{uuid}
    </update>

    <delete id="deleteDynamicTableDataByUuid">
        DELETE
        FROM `${schemaName}`.`matrix_${matrixUuid}`
        WHERE `uuid` = #{uuid}
    </delete>
</mapper>
