<?xml version="1.0" encoding="UTF-8" ?>
<!--Copyright (C) 2024  深圳极向量科技有限公司 All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neatlogic.framework.scheduler.dao.mapper.SchedulerMapper">

    <resultMap id="jobMap" type="neatlogic.framework.scheduler.dto.JobVo">
        <id column="uuid" property="uuid"/>
        <result column="name" property="name"/>
        <result column="handler" property="handler"/>
        <result column="cron" property="cron"/>
        <result column="is_active" property="isActive"/>
        <result column="need_audit" property="needAudit"/>
        <result column="begin_time" property="beginTime"/>
        <result column="end_time" property="endTime"/>
        <collection property="propList" ofType="neatlogic.framework.scheduler.dto.JobPropVo">
            <id column="prop_id" property="id"/>
            <result column="prop_name" property="name"/>
            <result column="prop_value" property="value"/>
        </collection>
    </resultMap>

    <select id="getJobByUuid" parameterType="java.lang.String" resultMap="jobMap">
        SELECT a.uuid,
               a.name,
               a.handler,
               a.begin_time,
               a.end_time,
               a.cron,
               a.is_active,
               a.need_audit,
               d.prop_name,
               d.prop_value,
               d.id as prop_id
        FROM schedule_job a
                 LEFT JOIN schedule_job_prop d ON a.uuid = d.job_uuid
        WHERE a.uuid = #{uuid}
    </select>

    <select id="getJobBaseInfoByUuid" parameterType="java.lang.String"
            resultType="neatlogic.framework.scheduler.dto.JobVo">
        SELECT `uuid`,
               `name`,
               `handler`,
               `begin_time` AS beginTime,
               `end_time`   AS endTime,
               `cron`,
               `is_active`  AS isActive,
               `need_audit` AS needAudit
        FROM `schedule_job`
        WHERE `uuid` = #{value}
    </select>


    <select id="getJobStatusByJobNameGroup" resultType="neatlogic.framework.scheduler.dto.JobStatusVo">
        SELECT `job_name`         as jobName,
               `job_group`        as jobGroup,
               `handler`,
               `last_fire_time`   as lastFireTime,
               `last_finish_time` as lastFinishTime,
               `next_fire_time`   as nextFireTime,
               `exec_count`       as execCount
        FROM `schedule_job_status`
        WHERE `job_name` = #{jobName}
          AND `job_group` = #{jobGroup}
    </select>

    <select id="getJobByHandler" parameterType="java.lang.String" resultMap="jobMap">
        SELECT a.`uuid`,
               a.`name`,
               a.`handler`,
               a.`begin_time`,
               a.`end_time`,
               a.`cron`,
               a.`is_active`,
               a.`need_audit`,
               d.prop_name,
               d.prop_value,
               d.id as prop_id
        FROM `schedule_job` a LEFT JOIN schedule_job_prop d ON a.uuid = d.job_uuid
        WHERE `handler` = #{value}
    </select>

    <select id="searchJobCount" resultType="int">
        SELECT
        count(1)
        FROM schedule_job a
        WHERE
        1=1
        <if test="keyword != null and keyword != ''">
            AND a.name like CONCAT('%',#{keyword}, '%')
        </if>
        <if test="handler != null and handler != ''">
            AND a.handler = #{handler}
        </if>
    </select>

    <resultMap id="jobDetailMap" type="neatlogic.framework.scheduler.dto.JobVo">
        <id column="uuid" property="uuid"/>
        <result column="name" property="name"/>
        <result column="handler" property="handler"/>
        <result column="cron" property="cron"/>
        <result column="is_active" property="isActive"/>
        <result column="need_audit" property="needAudit"/>
        <result column="begin_time" property="beginTime"/>
        <result column="end_time" property="endTime"/>
        <association property="jobStatus" resultMap="jobStatusMap"/>
    </resultMap>

    <resultMap id="jobStatusMap" type="neatlogic.framework.scheduler.dto.JobStatusVo">
        <result column="job_name" property="jobName"/>
        <result column="job_group" property="jobGroup"/>
        <result column="handler" property="handler"/>
        <result column="next_fire_time" property="nextFireTime"/>
        <result column="last_fire_time" property="lastFireTime"/>
        <result column="last_finish_time" property="lastFinishTime"/>
        <result column="exec_count" property="execCount"/>
    </resultMap>

    <select id="searchJob" resultMap="jobDetailMap">
        SELECT
        a.`uuid`,
        a.name,
        a.handler,
        a.`begin_time`,
        a.`end_time`,
        a.cron,
        a.is_active,
        a.need_audit,
        sjs.job_name,
        sjs.job_group,
        sjs.last_fire_time,
        sjs.last_finish_time,
        sjs.next_fire_time,
        sjs.exec_count
        FROM schedule_job a
        LEFT JOIN schedule_job_status sjs ON a.uuid = sjs.job_name
        WHERE
        1=1
        <if test="keyword != null and keyword != ''">
            AND a.name like CONCAT('%',#{keyword}, '%')
        </if>
        <if test="handler != null and handler != ''">
            AND a.handler = #{handler}
        </if>
        ORDER BY a.`fcd` DESC
        limit #{startNum}, #{pageSize}
    </select>

    <select id="checkJobNameIsExists" parameterType="neatlogic.framework.scheduler.dto.JobVo" resultType="int">
        SELECT COUNT(1)
        FROM `schedule_job`
        WHERE `name` = #{name}
          AND `uuid` != #{uuid}
    </select>

    <sql id="searchJobAuditCondition">
        <where>
            <if test="keyword != null and keyword != ''">
                and job_uuid LIKE concat('%', #{keyword}, '%')
            </if>
            <choose>
                <when test="jobUuid != null and jobUuid != ''">
                    and job_uuid = #{jobUuid}
                </when>
                <otherwise><!--如果不提供jobuuid，则搜索内部作业-->
                    and not exists (select 1 from schedule_job sj where sj.uuid = job_uuid)
                </otherwise>
            </choose>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="startTimeRange != null and startTimeRange.size() == 2">
                and (
                start_time &gt;= FROM_UNIXTIME(#{startTimeRange[0]})
                and
                start_time &lt;= FROM_UNIXTIME(#{startTimeRange[1]})
                )
            </if>
        </where>
    </sql>

    <select id="searchJobAuditCount" parameterType="neatlogic.framework.scheduler.dto.JobAuditVo" resultType="int">
        SELECT count(1)
        FROM schedule_job_audit
        <include refid="searchJobAuditCondition"/>
    </select>

    <select id="searchJobAudit" parameterType="neatlogic.framework.scheduler.dto.JobAuditVo"
            resultType="neatlogic.framework.scheduler.dto.JobAuditVo">
        SELECT id,
        `job_uuid` AS jobUuid,
        `start_time` AS startTime,
        `end_time` AS endTime,
        `status`,
        server_id AS serverId,
        content_hash AS contentHash,
        `cron`,
        `next_fire_time` AS nextFireTime
        FROM `schedule_job_audit`
        <include refid="searchJobAuditCondition"/>
        ORDER BY `id` DESC
        LIMIT #{startNum}, #{pageSize}
    </select>

    <select id="checkJobAuditDetailIsExists" parameterType="java.lang.String" resultType="int">
        select count(1)
        from schedule_job_audit_detail
        where hash = #{value}
    </select>

    <select id="getJobAuditById" parameterType="java.lang.Long"
            resultType="neatlogic.framework.scheduler.dto.JobAuditVo">
        SELECT `id`,
               `job_uuid`       AS jobUuid,
               `start_time`     AS startTime,
               `end_time`       AS endTime,
               `content_hash`   AS contentHash,
               b.`content`,
               `status`,
               `server_id`      AS serverId,
               `cron`,
               `next_fire_time` AS nextFireTime
        FROM `schedule_job_audit` a
                 LEFT JOIN
             `schedule_job_audit_detail` b ON a.content_hash = b.hash
        WHERE id = #{value}
    </select>

    <select id="getJobAuditByUuid" parameterType="java.lang.String"
            resultType="neatlogic.framework.scheduler.dto.JobAuditVo">
        SELECT `id`,
               `job_uuid`       AS jobUuid,
               `start_time`     AS startTime,
               `end_time`       AS endTime,
               `content_hash`   AS contentHash,
               b.`content`,
               `status`,
               `server_id`      AS serverId,
               `cron`,
               `next_fire_time` AS nextFireTime
        FROM `schedule_job_audit` a
                 LEFT JOIN
             `schedule_job_audit_detail` b ON a.content_hash = b.hash
        WHERE job_uuid = #{value}
    </select>


    <select id="getJobLockByJobNameGroup" resultType="neatlogic.framework.scheduler.dto.JobLockVo">
        SELECT `job_name`    as jobName,
               `job_group`   as jobGroup,
               `job_handler` as jobHandler,
               `lock`,
               `server_id`   as serverId
        FROM `schedule_job_lock`
        WHERE job_name = #{jobName}
          AND job_group = #{jobGroup}
            FOR
        UPDATE
    </select>

    <select id="getJobLockByServerId" parameterType="java.lang.Integer"
            resultType="neatlogic.framework.scheduler.dto.JobLockVo">
        SELECT `job_name`    as jobName,
               `job_group`   as jobGroup,
               `job_handler` as jobHandler,
               `lock`,
               `server_id`   as serverId
        FROM `schedule_job_lock`
        WHERE server_id = #{value}
    </select>

    <!--<select id="getJobLoadTime" parameterType="neatlogic.framework.scheduler.dto.JobLoadTimeVo" resultType="neatlogic.framework.scheduler.dto.JobLoadTimeVo">
        SELECT
            `job_name` AS jobName,
            `job_group` AS jobGroup,
            `cron`,
            `load_time` AS loadTime
        FROM `schedule_job_load_time`
        WHERE `job_name` = #{jobName}
          AND `job_group` = #{jobGroup}
    </select>-->

    <select id="getJobLastExecAuditStartTime"  resultType="java.lang.String">
        SELECT
            DATE_FORMAT(a.`start_time`,'%Y-%m-%d %H:%i:%s')
        FROM
            `schedule_job_audit` a
        WHERE a.job_uuid = #{jobUuid}
          AND a.`status` = #{status}
        ORDER BY a.end_time DESC
        LIMIT 1
    </select>

    <update id="resetJobLockByServerId" parameterType="java.lang.Integer">
        UPDATE
            `schedule_job_lock`
        SET `lock` = 'waiting'
        WHERE `server_id` = #{value}
          AND `lock` = 'running'
    </update>

    <update id="updateJob" parameterType="neatlogic.framework.scheduler.dto.JobVo">
        UPDATE schedule_job
        SET name       = #{name},
            begin_time = #{beginTime},
            end_time   = #{endTime},
            cron       = #{cron},
            is_active  = #{isActive},
            need_audit = #{needAudit}
        WHERE uuid = #{uuid}
    </update>

    <update id="updateJobStatus" parameterType="neatlogic.framework.scheduler.dto.JobStatusVo">
        UPDATE schedule_job_status
        SET next_fire_time   = #{nextFireTime},
            last_finish_time = #{lastFinishTime},
            last_fire_time   = #{lastFireTime},
            exec_count       = #{execCount},
            `lcd` = NOW()
        WHERE job_name = #{jobName}
          AND job_group = #{jobGroup}
    </update>

    <update id="updateJobNextFireTime" parameterType="neatlogic.framework.scheduler.dto.JobStatusVo">
        UPDATE schedule_job_status
        SET next_fire_time = #{nextFireTime},
            `lcd` = NOW()
        WHERE job_name = #{jobName}
          and job_group = #{jobGroup}
    </update>

    <update id="updateJobAudit" parameterType="neatlogic.framework.scheduler.dto.JobAuditVo">
        UPDATE schedule_job_audit
        SET end_time     = now(3),
            status       = #{status},
            content_hash = #{contentHash}
        WHERE id = #{id}
    </update>

    <update id="updateJobLock" parameterType="neatlogic.framework.scheduler.dto.JobLockVo">
        UPDATE `schedule_job_lock`
        SET `server_id` = #{serverId},
            `lock`      = #{lock}
        WHERE job_name = #{jobName}
          AND job_group = #{jobGroup}
    </update>

    <update id="updateJobLockByServerId">
        UPDATE `schedule_job_lock`
        SET `lock`=#{lock}
        WHERE `server_id` = #{serverId}
    </update>

    <insert id="insertJobAuditDetail">
        INSERT IGNORE
        INTO schedule_job_audit_detail (hash, content)
        values (#{hash},
                #{content,typeHandler=CompressHandler})
    </insert>

    <insert id="insertJob" parameterType="neatlogic.framework.scheduler.dto.JobVo">
        INSERT INTO schedule_job
        (`uuid`,
         `name`,
         `handler`,
         `begin_time`,
         `end_time`,
         `cron`,
         `is_active`,
         `need_audit`,
         `fcd`)
        VALUES (#{uuid},
                #{name},
                #{handler},
                #{beginTime},
                #{endTime},
                #{cron},
                #{isActive},
                #{needAudit},
                NOW(3))
    </insert>

    <insert id="insertJobStatus" parameterType="neatlogic.framework.scheduler.dto.JobStatusVo">
        INSERT INTO schedule_job_status
        (`job_name`,
         `job_group`,
         `handler`,
         `next_fire_time`,
         `fcd`)
        VALUES (#{jobName},
                #{jobGroup},
                #{handler},
                #{nextFireTime},
                NOW())
    </insert>

    <insert id="insertJobProp">
        INSERT schedule_job_prop (job_uuid, prop_name, prop_value)
        VALUES (#{jobUuid},
                #{name},
                #{value})
    </insert>

    <insert id="insertJobAudit" parameterType="neatlogic.framework.scheduler.dto.JobAuditVo">
        INSERT INTO schedule_job_audit (id, job_uuid, start_time, status, server_id, cron, next_fire_time)
        VALUES (#{id}, #{jobUuid}, now(3), #{status}, #{serverId}, #{cron}, #{nextFireTime})
    </insert>

    <insert id="insertJobLock" parameterType="neatlogic.framework.scheduler.dto.JobLockVo">
        INSERT IGNORE INTO `schedule_job_lock` (`job_name`,
                                                `job_group`,
                                                `job_handler`,
                                                `lock`,
                                                `server_id`)
        VALUES (#{jobName},
                #{jobGroup},
                #{jobHandler},
                #{lock},
                #{serverId})
    </insert>

    <!--<insert id="insertJobLoadTime" parameterType="neatlogic.framework.scheduler.dto.JobLoadTimeVo">
        INSERT INTO `schedule_job_load_time` (`job_name`, `job_group`, `cron`, `load_time`)
        VALUES (#{jobName}, #{jobGroup}, #{cron}, #{loadTime})
        ON DUPLICATE KEY UPDATE `cron` = #{cron}, `load_time` = #{loadTime}
    </insert>-->

    <delete id="deleteUnusedJobStatus">
        DELETE
        FROM schedule_job_status
        WHERE next_fire_time &lt; DATE_SUB(NOW(), INTERVAL 1 DAY)<!--留一天空间-->
    </delete>

    <delete id="deleteJobAuditByJobUuid" parameterType="java.lang.String">
        DELETE
        FROM `schedule_job_audit`
        WHERE `job_uuid` = #{value}
    </delete>

    <delete id="deleteJobPropByJobUuid" parameterType="java.lang.String">
        DELETE
        FROM `schedule_job_prop`
        WHERE `job_uuid` = #{value}
    </delete>

    <delete id="deleteJobByUuid" parameterType="java.lang.String">
        DELETE
        FROM `schedule_job`
        WHERE `uuid` = #{value}
    </delete>

    <delete id="deleteJobStatus">
        DELETE
        FROM `schedule_job_status`
        WHERE `job_name` = #{jobName}
          AND `job_group` = #{jobGroup}
    </delete>

    <delete id="deleteJobLock">
        DELETE
        FROM `schedule_job_lock`
        WHERE `job_name` = #{jobName}
          AND `job_group` = #{jobGroup}
    </delete>


    <delete id="deleteAuditByDayBefore" parameterType="int">
        <!--确保作业执行完毕，所以使用end_time作为判断条件-->
        delete
        from schedule_job_audit
        where end_time &lt; DATE_SUB(CURRENT_DATE, INTERVAL #{value} DAY)
    </delete>

    <!--<delete id="deleteJobLoadTime" parameterType="neatlogic.framework.scheduler.dto.JobLoadTimeVo">
        DELETE
        FROM `schedule_job_load_time`
        WHERE `job_name` = #{jobName}
          AND `job_group` = #{jobGroup}
    </delete>-->
</mapper>
