<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.notify.dao.mapper.NotifyJobMapper">
    <select id="checkNameIsRepeat" parameterType="codedriver.framework.notify.dto.job.NotifyJobVo" resultType="int">
		SELECT COUNT(1) FROM `notify_job` WHERE `name` = #{name} AND `id` != #{id}
	</select>

    <select id="getJobBaseInfoById" parameterType="java.lang.Long" resultType="codedriver.framework.notify.dto.job.NotifyJobVo">
		SELECT
		`id`,
		`name`,
		`handler`,
		`notify_handler` as notifyHandler,
		`config`,
		`cron`,
		`is_active` as isActive
		FROM `notify_job`
		WHERE `id` = #{id}
	</select>

    <insert id="insertJob" parameterType="codedriver.framework.notify.dto.job.NotifyJobVo">
		INSERT INTO `notify_job`
		(
		`id`,
		`name`,
		`handler`,
		`notify_handler`,
		`config`,
		`cron`,
		`is_active`,
		`fcd`,
		`fcu`,
		`lcu`,
		`lcd`
		) VALUES (
		#{id},
		#{name},
		#{handler},
		#{notifyHandler},
		#{config},
		#{cron},
		#{isActive},
		now(3),
		#{fcu},
		#{lcu},
		now(3)
		)
	</insert>

	<insert id="batchInsertReceiver" parameterType="java.util.List">
		INSERT INTO `notify_job_receiver`(
		`notify_job_id`,
		`receiver`,
		`type`,
		`receive_type`
		)
		VALUES
		<foreach collection="list" index="index" item="item" separator=",">
			(
			#{item.notifyJobId},
			#{item.receiver},
			#{item.type},
			#{item.receiveType}
			)
		</foreach>
	</insert>

    <update id="updateJob" parameterType="codedriver.framework.notify.dto.job.NotifyJobVo">
		UPDATE `notify_job`
		SET
		`name` = #{name},
		`handler` = #{handler},
		`notify_handler` = #{notifyHandler},
		`config` = #{config},
		`cron` = #{cron},
		`is_active` = #{isActive},
		`lcu` = #{lcu},
		`lcd` = now(3)
		WHERE
		`id` = #{id}
	</update>

	<delete id="deleteJobById" parameterType="java.lang.Long">
		delete
		from
		`notify_job`
		where `id` = #{value}
	</delete>

	<delete id="deleteReceiverByJobId" parameterType="java.lang.Long">
		delete
		from
		`notify_job_receiver`
		where `notify_job_id` = #{value}
	</delete>
</mapper>
