<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.notify.dao.mapper.NotifyJobMapper">
    <select id="checkNameIsRepeat" parameterType="codedriver.framework.notify.dto.job.NotifyJobVo" resultType="int">
		SELECT COUNT(1) FROM `notify_job` WHERE `name` = #{name} AND `id` != #{id}
	</select>

    <select id="getJobBaseInfoById" parameterType="java.lang.Long" resultType="codedriver.framework.notify.dto.job.NotifyJobVo">
		SELECT
		`id`,
		`name`,
		`handler`,
		`notify_handler` as notifyHandler,
		`config`,
		`cron`,
		`is_active` as isActive
		FROM `notify_job`
		WHERE `id` = #{value}
	</select>

	<resultMap id="NotifyJobMap" type="codedriver.framework.notify.dto.job.NotifyJobVo">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="handler" column="handler" />
		<result property="notifyHandler" column="notifyHandler" />
		<result property="config" column="config" />
		<result property="cron" column="cron" />
		<result property="isActive" column="isActive" />
		<collection property="receiverList" ofType="codedriver.framework.notify.dto.job.NotifyJobReceiverVo">
			<result property="receiver" column="receiver" />
			<result property="type" column="type" />
			<result property="receiveType" column="receiveType" />
		</collection>
	</resultMap>

	<select id="getJobDetailById" parameterType="java.lang.Long" resultMap="NotifyJobMap">
		SELECT
		a.`id`,
		a.`name`,
		a.`handler`,
		a.`notify_handler` as notifyHandler,
		a.`config`,
		a.`cron`,
		a.`is_active` as isActive,
		b.`receiver`,
		b.`type`,
		b.`receive_type` as receiveType
		FROM `notify_job` a
		left join `notify_job_receiver` b
		on a.`id` = b.`notify_job_id`
		WHERE `id` = #{value}
	</select>

	<select id="searchJobCount" parameterType="codedriver.framework.notify.dto.job.NotifyJobVo" resultType="int">
		SELECT
		COUNT(1)
		FROM
		`notify_job`
		<where>
		<if test="keyword != null and keyword != ''">
			and `name` LIKE CONCAT('%', #{keyword}, '%')
		</if>
		</where>
	</select>

	<select id="searchJob" parameterType="codedriver.framework.notify.dto.job.NotifyJobVo" resultType="codedriver.framework.notify.dto.job.NotifyJobVo">
		select
		a.`id`,
		a.`name`,
		a.`handler`,
		a.`notify_handler` as notifyHandler,
		a.`cron`,
		a.`is_active` as isActive,
		(select `next_fire_time` from `schedule_job_status` where `job_name` = CONCAT(a.`id`,'')) as nextFireTime
		from `notify_job` a
		<where>
		<if test="keyword != null and keyword != ''">
			and a.`name` LIKE CONCAT('%', #{keyword}, '%')
		</if>
		</where>
		order by a.`lcd` desc
		<if test="needPage == true">
			LIMIT #{startNum}, #{pageSize}
		</if>
	</select>

	<select id="getToListByJobId" parameterType="java.lang.Long" resultType="codedriver.framework.notify.dto.job.NotifyJobReceiverVo">
		SELECT
		`receiver`,
		`type`,
		`receive_type` as receiveType
		FROM `notify_job_receiver`
		WHERE `receive_type` = 'to'
		and `notify_job_id` = #{value}
	</select>

	<select id="getAllActiveJob" resultType="codedriver.framework.notify.dto.job.NotifyJobVo">
		SELECT
		`id`,
		`name`,
		`cron`
		FROM `notify_job`
		WHERE `is_active` = 1
	</select>

	<select id="searchJobAudit" parameterType="codedriver.framework.scheduler.dto.JobAuditVo" resultType="codedriver.framework.notify.dto.job.NotifyJobAuditVo">
		select
		`id`,
		`job_uuid`,
		`start_time` as startTime,
		`status`,
		`server_id` as serverId,
		`content_hash` as contentHash
		from `schedule_job_audit`
		WHERE `job_uuid` = #{jobUuid}
		ORDER BY `start_time` DESC
		<if test="needPage == true">
			LIMIT #{startNum}, #{pageSize}
		</if>
	</select>

    <insert id="insertJob" parameterType="codedriver.framework.notify.dto.job.NotifyJobVo">
		INSERT INTO `notify_job`
		(
		`id`,
		`name`,
		`handler`,
		`notify_handler`,
		`config`,
		`cron`,
		`is_active`,
		`fcd`,
		`fcu`,
		`lcu`,
		`lcd`
		) VALUES (
		#{id},
		#{name},
		#{handler},
		#{notifyHandler},
		#{configStr},
		#{cron},
		#{isActive},
		now(3),
		#{fcu},
		#{fcu},
		now(3)
		)
	</insert>

	<insert id="batchInsertReceiver" parameterType="java.util.List">
		INSERT INTO `notify_job_receiver`(
		`notify_job_id`,
		`receiver`,
		`type`,
		`receive_type`
		)
		VALUES
		<foreach collection="list" index="index" item="item" separator=",">
			(
			#{item.notifyJobId},
			#{item.receiver},
			#{item.type},
			#{item.receiveType}
			)
		</foreach>
	</insert>

    <update id="updateJob" parameterType="codedriver.framework.notify.dto.job.NotifyJobVo">
		UPDATE `notify_job`
		SET
		`name` = #{name},
		`handler` = #{handler},
		`notify_handler` = #{notifyHandler},
		`config` = #{configStr},
		`cron` = #{cron},
		`is_active` = #{isActive},
		`lcu` = #{lcu},
		`lcd` = now(3)
		WHERE
		`id` = #{id}
	</update>

	<update id="updateJobStatus" parameterType="codedriver.framework.notify.dto.job.NotifyJobVo">
		UPDATE `notify_job`
		SET
		`is_active` = #{isActive},
		`lcu` = #{lcu},
		`lcd` = now(3)
		WHERE
		`id` = #{id}
	</update>

	<delete id="deleteJobById" parameterType="java.lang.Long">
		delete
		from
		`notify_job`
		where `id` = #{value}
	</delete>

	<delete id="deleteReceiverByJobId" parameterType="java.lang.Long">
		delete
		from
		`notify_job_receiver`
		where `notify_job_id` = #{value}
	</delete>
</mapper>
