<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.systemnotice.dao.mapper.SystemNoticeMapper">

    <select id="getSystemNoticeBaseInfoById" parameterType="java.lang.Long" resultType="codedriver.framework.systemnotice.dto.SystemNoticeVo">
        select
        `id`,
        `title`,
        `content`,
        `start_time` as startTime,
        `end_time` as endTime,
        `status`,
        `pop_up` as popUp,
        `ignore_read` as ignoreRead,
        `fcd`,
        `fcu`,
        `lcd`,
        `lcu`
        from
        `system_notice`
        where `id` = #{value}
    </select>

    <resultMap id="systemNoticeMap" type="codedriver.framework.systemnotice.dto.SystemNoticeVo">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="startTime" column="startTime"/>
        <result property="endTime" column="endTime"/>
        <result property="status" column="status"/>
        <result property="popUp" column="popUp"/>
        <result property="fcd" column="fcd"/>
        <result property="lcd" column="lcd"/>
        <result property="fcu" column="lcd"/>
        <result property="lcu" column="lcd"/>
        <collection property="recipientVoList" ofType="codedriver.framework.systemnotice.dto.SystemNoticeRecipientVo">
            <result property="uuid" column="recipientUuid" />
            <result property="type" column="recipientType" />
        </collection>
    </resultMap>

    <select id="getSystemNoticeById" parameterType="java.lang.Long" resultMap="systemNoticeMap">
        select
        a.`id`,
        a.`title`,
        a.`content`,
        a.`start_time` as startTime,
        a.`end_time` as endTime,
        a.`status`,
        a.`pop_up` as popUp,
        a.`ignore_read` as ignoreRead,
        a.`fcd`,
        a.`fcu`,
        a.`lcd`,
        a.`lcu`,
        b.`uuid` as recipientUuid,
        b.`type` as recipientType
        from
        `system_notice` a
        left join `system_notice_recipient` b
        on a.`id` = b.`system_notice_id`
        where a.`id` = #{value}
    </select>

    <select id="searchSystemNoticeCount" parameterType="codedriver.framework.systemnotice.dto.SystemNoticeVo" resultType="int">
        select
        count(1)
        from `system_notice`
        <where>
            <if test="keyword != null and keyword != ''">
                `title` LIKE CONCAT('%', #{keyword}, '%')
                or
                `content` LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
    </select>

    <select id="searchSystemNotice" parameterType="codedriver.framework.systemnotice.dto.SystemNoticeVo" resultType="codedriver.framework.systemnotice.dto.SystemNoticeVo">
        select
        `id`,
        `title`,
        `content`,
        `start_time` as startTime,
        `end_time` as endTime,
        `status`,
        `pop_up` as popUp,
        `ignore_read` as ignoreRead,
        `fcd`,
        `fcu`,
        `lcd`,
        `lcu`
        from
        `system_notice`
        <where>
            <if test="keyword != null and keyword != ''">
                `title` LIKE CONCAT('%', #{keyword}, '%')
                or
                `content` LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
        order by `id` desc
        <if test="needPage == true">
            LIMIT #{startNum}, #{pageSize}
        </if>
    </select>

    <select id="getRecipientListByNoticeId" parameterType="java.lang.Long" resultType="codedriver.framework.systemnotice.dto.SystemNoticeRecipientVo">
        select
        `system_notice_id` as systemNoticeId,
        `uuid`,
        `type`
        from `system_notice_recipient`
        where `system_notice_id` = #{value}
    </select>

    <update id="updateSystemNotice" parameterType="codedriver.framework.systemnotice.dto.SystemNoticeVo">
        update
        `system_notice`
        set
        <if test="title != null and title != ''">
            `title` = #{title},
        </if>
        <if test="content != null and content != ''">
            `content` = #{content},
        </if>
        <if test="startTime != null">
            `start_time` = #{startTime},
        </if>
        <if test="endTime != null">
            `end_time` = #{endTime},
        </if>
        <if test="popUp != null and popUp != ''">
            `pop_up` = #{popUp},
        </if>
        <if test="ignoreRead != null">
            `ignore_read` = #{ignoreRead},
        </if>
        `lcd` = now(3)
        where `id` = #{id}
    </update>

    <insert id="insertSystemNotice" parameterType="codedriver.framework.systemnotice.dto.SystemNoticeVo">
        insert into
        `system_notice`(
        `id`,
        `title`,
        `content`,
        `start_time`,
        `end_time`,
        `status`,
        `pop_up`,
        `ignore_read`,
        `fcd`,
        `fcu`,
        `lcd`,
        `lcu`
        )values(
        #{id},
        #{title},
        #{content},
        #{startTime},
        #{endTime},
        'not_issued',
        #{popUp},
        #{ignoreRead},
        now(3),
        #{fcu},
        now(3),
        #{lcu}
        )
    </insert>

    <insert id="batchInsertSystemNoticeRecipient" parameterType="java.util.List">
        INSERT INTO `system_notice_recipient`(
        `system_notice_id`,
        `uuid`,
        `type`
        )
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (
            #{item.systemNoticeId},
            #{item.uuid},
            #{item.type}
            )
        </foreach>
    </insert>

    <delete id="deleteSystemNoticeById" parameterType="java.lang.Long">
        delete
        from `system_notice`
        where `id` = #{value}
    </delete>

    <delete id="deleteRecipientByNoticeId" parameterType="java.lang.Long">
        delete
        from
        `system_notice_recipient`
        where `system_notice_id` = #{value}
    </delete>

    <delete id="deleteNoticeUserByNoticeId" parameterType="java.lang.Long">
        delete
        from
        `system_notice_user`
        where `system_notice_id` = #{value}
    </delete>

</mapper>
